<div id="ajax-content" class="medium-nudge">
	<div id="content">
		<div class="content-block medium open last">
			<h1 class="caption" title="Castrol Points Breakdown"><a href="#" class="points-breakdown" title="Link to Full Series Leaders">Points Breakdown</a></h1>
			<table>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Date</th>
						<th>Race</th>
						<th class="edge-r">Points</th>
					</tr>
				</thead>
				<tr>
					<td>1</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
					<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>2</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
				<tr>
					<td>3</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
				<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>4</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
				<tr>
					<td>5</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
					<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>6</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
				<tr>
					<td>7</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
					<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>8</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
				<tr>
					<td>9</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
					<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>10</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
				<tr>
					<td>11</td>
					<td class="light">2009-03-09</td>
					<td><a href="#" title="Link to F1 Australia Race">F1 Australia</a></td>
					<td class="edge-r">2206</td>
				</tr>
				<tr class="alt">
					<td>12</td>
					<td class="light">2009-03-23</td>
					<td><a href="#" title="Link to F1 Malaysia Race">F1 Malaysia</a></td>
					<td class="edge-r">2265</td>
				</tr>
			</table>
		</div>
		<br class="clear no-vis" />
		<p class="totals medium right">
			<em>Total</em>
			<span>21,992</span>
			<br/>
			<em>Rank</em>
			<span>1</span>						
		</p>
	</div>
</div>