<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Castrol Driver Rankings - Calendars - Powered by Autosport.com</title>
</head>
<body class="content">
    <div id="container">
    	<!-- Header logo links -->
    	<div id="header">
    		<a href="#" id="main-logo" title="Link to Castrol Driver Rankings Homepage">Castrol Driver Rankings</a>
    		<a href="#" id="secondary-logo" title="Link to Autosport.com">Powered by Autosport.com</a>
    	</div>
    	<div id="main-content">
    		<!-- Top navigation - inc nav menu and search bar -->
    		<div id="navigation-top">
    			<ul id="navigation-top-menu">
    				<li><a href="index.html">Home</a></li>
    				<li class="current">
    					<a href="rankings/index.html">Rankings</a>
    					<ul>
		    				<li><a href="rankings.html">Rankings Tables</a></li>
		    				<li><a href="championship.html">Championship Tables</a></li>
		    				<li><a href="calendars.html">Calendars</a></li>
		    				<li><a href="results.html">Race Results</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="news/index.html">News</a>
    					<ul>
		    				<li><a href="news-article.html">Latest News</a></li>
		    				<li><a href="news-archive.html">Archive</a></li>
    					</ul>
    				</li>
    				<li><a href="edge-potm.html">Performer of the Month</a></li>
    				<li><a href="head-to-head.html">Head to Head</a></li>
    				<li>
    					<a href="how-it-works.html">How it Works</a>
    					<ul>
    						<li><a href="faq.html">FAQ</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="newsletter/index.html">Newsletter</a>
    					<ul>
    						<li><a href="newsletter/signup.html">Sign Up</a></li>
    					</ul>
    				</li>
    			</ul>
				<form id="form-search" action="#" method="post" class="form-inline">
					<fieldset>
						<label class="accessibility" for="search-terms">Search the site:</label>
						<input id="search-terms" type="text" name="search-terms" value="Search" class="field toggle-blank" />
						<input name="submit-search" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
    		</div>
    		<!-- Main page content container -->
    		<div id="content">
    			<div class="column flush small">
    				<div id="navigation-side">
    					<h2>Rankings</h2>
    					<ul id="navigation-side-menu">
		    				<li><a href="rankings.html">Rankings Tables</a></li>
		    				<li><a href="championship.html">Championship Tables</a></li>
		    				<li class="current"><a href="calendars.html">Calendars</a></li>
		    				<li><a href="results.html">Race Results</a></li>
    					</ul>
    				</div>
    				
    				<div class="side-block">
    					<img src="images/photos/cal-small.jpg" alt="Image of F1 driver" />
	    				<div class="overlay-banner">
		    				<h4><a href="#" class="driver-rankings" title="Link to Driver Rankings">Driver Rankings</a></h4>
	    					<p><a href="#" title="Link to Driver rankings">See who sits
	    					on top of the driver's table this week</a></p>
	    				</div>
    				</div>
    				
	    			<a href="http://www.facebook.com" class="facebook-link" title="Link to Join our Facebook Group">Join our group</a>
	    			<a href="http://www.twitter.com" class="twitter-link" title="Link to Follow us on Twitter">Follow us</a>
    			</div>
    			
    			<div class="column large">
					<div class="content-block large-alt open">
						<h1 class="caption" title="Castrol Driver Rankings - Calendars"><span class="calendars">Calendars</span></h1>
						<form id="form-filter" action="#" method="post" class="form-inline">
							<table>
								<thead>
									<tr>
										<th class="dark" colspan="6">
											<label for="select-series">Choose series</label>
											<select id="select-series" name="select-series" class="field expanded">
												<option>Formula 1 World Championship</option>
												<option value="WRC">WRC</option>
											</select>
											<label class="inline" for="select-year">Choose year</label>
											<select id="select-year" name="select-year" class="field compact">
												<option>2009</option>
												<option value="2008">2008</option>
											</select>
											<input name="submit-search" type="submit" value="&raquo;" class="button" />
										</th>
									</tr>
									<tr>
										<th class="center">Rnd</th>
										<th>Date</th>
										<th>Race</th>
										<th>Race</th>
										<th>Laps</th>
										<th>&nbsp;</th>
									</tr>
								</thead>
								<tr>
									<td class="center">1</td>
									<td class="light">29 March</td>
									<td>Australia</td>
									<td class="light">Melbourne</td>
									<td class="light">58</td>
									<td class="edge-r"><a href="#" title="Link to Results for Melbourne, Australia">Results</a></td>
								</tr>
								<tr class="alt">
									<td class="center">2</td>
									<td class="light">5 April</td>
									<td>Malaysia</td>
									<td class="light">Sepang</td>
									<td class="light">31</td>
									<td class="edge-r"><a href="#" title="Link to Results for Sepang, Malaysia">Results</a></td>
								</tr>
								<tr>
									<td class="center">3</td>
									<td class="light">19 April</td>
									<td>China</td>
									<td class="light">Shanghai</td>
									<td class="light">56</td>
									<td class="edge-r"><a href="#" title="Link to Results for Shanghai, China">Results</a></td>
								</tr>
								<tr class="alt">
									<td class="center">4</td>
									<td class="light">26 April</td>
									<td>Bahrain</td>
									<td class="light">Bahrain</td>
									<td class="light">57</td>
									<td class="edge-r"><a href="#" title="Link to Results for Bahrain">Results</a></td>
								</tr>
								<tr>
									<td class="center">5</td>
									<td class="light">10 May</td>
									<td>Spain</td>
									<td class="light">Catalunya</td>
									<td class="light">66</td>
									<td class="edge-r"><a href="#" title="Link to Results for Catalunya, Spain">Results</a></td>
								</tr>
								<tr>
									<td class="center">6</td>
									<td class="light">29 March</td>
									<td>Australia</td>
									<td class="light">Melbourne</td>
									<td class="light">58</td>
									<td class="edge-r"><a href="#" title="Link to Results for Melbourne, Australia">Results</a></td>
								</tr>
								<tr class="alt">
									<td class="center">7</td>
									<td class="light">5 April</td>
									<td>Malaysia</td>
									<td class="light">Sepang</td>
									<td class="light">31</td>
									<td class="edge-r"><a href="#" title="Link to Results for Sepang, Malaysia">Results</a></td>
								</tr>
								<tr>
									<td class="center">8</td>
									<td class="light">19 April</td>
									<td>China</td>
									<td class="light">Shanghai</td>
									<td class="light">56</td>
									<td class="edge-r"><a href="#" title="Link to Results for Shanghai, China">Results</a></td>
								</tr>
								<tr class="alt">
									<td class="center">9</td>
									<td class="light">26 April</td>
									<td>Bahrain</td>
									<td class="light">Bahrain</td>
									<td class="light">57</td>
									<td class="edge-r"><a href="#" title="Link to Results for Bahrain">Results</a></td>
								</tr>
								<tr>
									<td class="center">10</td>
									<td class="light">10 May</td>
									<td>Spain</td>
									<td class="light">Catalunya</td>
									<td class="light">66</td>
									<td class="edge-r"><a href="#" title="Link to Results for Catalunya, Spain">Results</a></td>
								</tr>
								<tr>
									<td class="center">11</td>
									<td class="light">29 March</td>
									<td>Australia</td>
									<td class="light">Melbourne</td>
									<td class="light">58</td>
									<td class="edge-r"><a href="#" title="Link to Results for Melbourne, Australia">Results</a></td>
								</tr>
								<tr class="alt">
									<td class="center">12</td>
									<td class="light">30 August</td>
									<td>Belgium</td>
									<td class="light">Spa-Francorchamps</td>
									<td class="light">44</td>
									<td class="edge-r"><a href="#" title="Link to Results for Spa-Francorchamps, Belgium">Results</a></td>
								</tr>
								<tr>
									<td class="center">13</td>
									<td class="light">19 April</td>
									<td>China</td>
									<td class="light">Shanghai</td>
									<td class="light">56</td>
									<td class="edge-r"></td>
								</tr>
								<tr class="alt">
									<td class="center">14</td>
									<td class="light">26 April</td>
									<td>Bahrain</td>
									<td class="light">Bahrain</td>
									<td class="light">57</td>
									<td class="edge-r"></td>
								</tr>
								<tr>
									<td class="center">15</td>
									<td class="light">10 May</td>
									<td>Spain</td>
									<td class="light">Catalunya</td>
									<td class="light">66</td>
									<td class="edge-r"></td>
								</tr>
								<tr class="alt">
									<td class="center">16</td>
									<td class="light">26 April</td>
									<td>Bahrain</td>
									<td class="light">Bahrain</td>
									<td class="light">57</td>
									<td class="edge-r"></td>
								</tr>
								<tr>
									<td class="center">17</td>
									<td class="light">10 May</td>
									<td>Spain</td>
									<td class="light">Catalunya</td>
									<td class="light">66</td>
									<td class="edge-r"></td>
								</tr>
							</table>
						</form>
						<ul class="more-links">
							<li><a href="#" class="more-link segment" title="Link to Calendar">Race Results</a></li>
							<li><a href="#" class="more-link" title="Link to Race Results">Championship Tables</a></li>
						</ul>
					</div>
    			</div>
    			
    			<div class="column small">
    				<div class="side-search-block">
    					<h5><span>Driver Search</span></h5>
						<form id="form-side-search" action="#" method="post" class="form-inline compact">
							<fieldset>
								<input id="side-search-terms" type="text" name="search-terms" value="" class="field" />
								<input name="submit-search" type="submit" value="&raquo;" class="button" />
							</fieldset>
						</form>
					</div>
					
					<ul class="side-blocks-list">
						<li>
							<img src="images/photos/cp-medium-1.jpg" alt="Image of F1 car in the wet" />
							<h3><a href="#" title="Link to News: Race for top spot">Race for top spot heats up</a></h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							Integer blandit sem sit amet.</p>
						</li>
						<li>
							<img src="images/photos/cp-medium-2.jpg" alt="Image of F1 cars" />
							<h3><a href="#" title="Link to News: Rosberg &amp; Rubens">Rosberg &amp; Rubens switch seats</a></h3>
						</li>
					</ul>
    			</div>
    		</div>
    		<!-- Footer top bar - inc country selector and external link -->
			<div id="footer-top">
				<form id="form-country-selector" action="/" method="post" class="form-inline">
					<fieldset>
						<label for="select-country">Find out more about Castrol's world class lubricants 
						on your local country site:</label>
						<select id="select-country" name="select-country" class="field">
							<option>Choose country</option>
							<option value="UK">United Kingdom</option>
						</select>
						<input name="submit-country" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
				<a id="external-link" href="#" title="Link to Castrol Football Homepage">Castrol Football - Home of the Castrol Index</a>
			</div>
			<!-- Footer bottom bar - inc copyright and bottom nav menu -->
			<div id="footer-bottom">
				<p>&copy; Castrol Limited 1999-2009 | All content &copy; Autosport.com 2009</p>
				<ul id="navigation-bottom-menu">
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a> |</li>
					<li><a href="privacy.html">Privacy Statement</a> |</li>
					<li><a href="legal.html">Legal Notice</a> |</li>
					<li><a href="site-map.html">Site Map</a></li>
				</ul>
			</div>
    	</div>
    </div>
</body>
</html>