<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Castrol Driver Rankings - Castrol Edge Performer of the Month: November 2009 - Sébastian Loeb - Powered by Autosport.com</title>
</head>
<body class="content potm">
    <div id="container">
    	<!-- Header logo links -->
    	<div id="header">
    		<a href="#" id="main-logo" title="Link to Castrol Driver Rankings Homepage">Castrol Driver Rankings</a>
    		<a href="#" id="secondary-logo" title="Link to Autosport.com">Powered by Autosport.com</a>
    	</div>
    	<div id="main-content">
    		<!-- Top navigation - inc nav menu and search bar -->
    		<div id="navigation-top">
    			<ul id="navigation-top-menu">
    				<li><a href="index.html">Home</a></li>
    				<li>
    					<a href="rankings/index.html">Rankings</a>
    					<ul>
		    				<li><a href="rankings.html">Rankings Tables</a></li>
		    				<li><a href="championship.html">Championship Tables</a></li>
		    				<li><a href="calendars.html">Calendars</a></li>
		    				<li><a href="results.html">Race Results</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="news/index.html">News</a>
    					<ul>
		    				<li><a href="news-article.html">Latest News</a></li>
		    				<li><a href="news-archive.html">Archive</a></li>
    					</ul>
    				</li>
    				<li class="current"><a href="edge-potm.html">Performer of the Month</a></li>
    				<li><a href="head-to-head.html">Head to Head</a></li>
    				<li>
    					<a href="how-it-works.html">How it Works</a>
    					<ul>
    						<li><a href="faq.html">FAQ</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="newsletter/index.html">Newsletter</a>
    					<ul>
    						<li><a href="newsletter/signup.html">Sign Up</a></li>
    					</ul>
    				</li>
    			</ul>
				<form id="form-search" action="#" method="post" class="form-inline">
					<fieldset>
						<label class="accessibility" for="search-terms">Search the site:</label>
						<input id="search-terms" type="text" name="search-terms" value="Search" class="field toggle-blank" />
						<input name="submit-search" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
    		</div>
    		<!-- Main page content container -->
    		<div id="content">
    			<div class="column flush small">
    				<div id="navigation-side">
    					<h2>Performer of the Month</h2>
    					<ul id="navigation-side-menu">
		    				<li class="current">
		    					<a href="potm/2009-11.html"><span>November 2009</span>
		    					<span class="remove">Sébastian Loeb</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-10.html"><span>October 2009</span>
		    					<span class="remove">Jenson Button</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-09.html"><span>September 2009</span>
		    					<span class="remove">Lewis Hamilton</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-08.html"><span>August 2009</span>
		    					<span class="remove">Sébastian Loeb</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-07.html"><span>July 2009</span>
		    					<span class="remove">Jenson Button</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-06.html"><span>June 2009</span>
    							<span class="remove">Lewis Hamilton</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-05.html"><span>May 2009</span>
		    					<span class="remove">Sébastian Loeb</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-04.html"><span>April 2009</span>
		    					<span class="remove">Jenson Button</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-03.html"><span>March 2009</span>
		    					<span class="remove">Lewis Hamilton</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-02.html"><span>February 2009</span>
		    					<span class="remove">Sébastian Loeb</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2009-01.html"><span>January 2009</span>
		    					<span class="remove">Jenson Button</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2008.html"><span>2008</span>
		    					<span class="remove">Lewis Hamilton</span></a>
		    				</li>
		    				<li>
		    					<a href="potm/2007.html"><span>2007</span>
		    					<span class="remove">Sébastian Loeb</span></a>
		    				</li>
    					</ul>
    				</div>
    				
    				<div class="side-block">
    					<img src="images/photos/cp-small-1.jpg" alt="Image of pit-lane staff at F1 race" />
	    				<div class="overlay-banner">
		    				<h4><a href="#" class="howitworks" title="Link to How it works">How it works</a></h4>
	    					<p><a href="#" title="Link to driver ranking calculations">Find out how we 
	    					calculate the driver rankings</a></p>
	    				</div>
    				</div>
    				
	    			<a href="http://www.facebook.com" class="facebook-link" title="Link to Join our Facebook Group">Join our group</a>
	    			<a href="http://www.twitter.com" class="twitter-link" title="Link to Follow us on Twitter">Follow us</a>
    			</div>
    			
    			<div class="column flush maximum">
    				<div class="potm-intro-block">Castrol Edge Performer of the Month</div>
    			</div>
    			
    			<div class="column large gutter-max flush">
					<div class="freeform">
						<div class="title-date no-frame">
							<h1>Sébastian Loeb</h1>
							<p>November 2009 | 
								<a href="#" title="Link to Previous Month">Previous</a> |
								<a href="#" title="Link to Next Month">Next</a>
							</p>
						</div>
						<a href="images/photos/potm-xlarge.jpg" rel="single" title="Lorem ipsum dolor"><img src="images/photos/potm-xlarge.jpg" class="box right" alt="Image of Sébastian Loeb" /></a>						
						<div class="clear right">
							<div class="content-block medium open flow extra-pad">
								<h1 class="caption" title="Castrol Current Standings"><a href="#" class="current-standings" title="Link to Current Standings">Current Standings</a></h1>
								<table>
									<tr>
										<td>1</td>
										<td class="icon nochange"><span>&harr;</span></td>
										<td><a href="#" title="Link to Profile for Jenson Button">Jenson Button</a></td>
										<td class="light">F1</td>
										<td class="edge-r">21,992</td>
									</tr>
									<tr class="alt">
										<td>2</td>
										<td class="icon nochange"><span>&harr;</span></td>
										<td><a href="#" title="Link to Profile for Ryan Briscoe">Ryan Briscoe</a></td>
										<td class="light">IRL, Rolex</td>
										<td class="edge-r">20,385</td>
									</tr>
									<tr class="highlight">
										<td>3</td>
										<td class="icon down"><span>&darr;</span> 2</td>
										<td><a href="#" title="Link to Profile for Sébastian Loeb">Sébastian Loeb</a></td>
										<td class="light">WRC</td>
										<td class="edge-r">19,921</td>
									</tr>
									<tr class="alt">
										<td>4</td>
										<td class="icon up"><span>&uarr;</span> 1</td>
										<td><a href="#" title="Link to Profile for Sebastian Vettel">Sebastian Vettel</a></td>
										<td class="light">F1</td>
										<td class="edge-r">20,275</td>
									</tr>
									<tr>
										<td>5</td>
										<td class="icon nochange"><span>&harr;</span></td>
										<td><a href="#" title="Link to Profile for Dario Franchitti">Dario Franchitti</a></td>
										<td class="light">IRL, ALMS</td>
										<td class="edge-r">19,416</td>
									</tr>
								</table>
								<ul class="more-links">
									<li><a href="#" class="more-link" title="Link to Full Rankings">Full Rankings</a></li>
								</ul>
								<div class="action-links">
									<a href="#" class="action-print" title="Click to Print">Print</a>
									<a href="#" class="action-send" title="Click to Send">Send</a>
									<a href="#" class="action-save" title="Click to Save">Save</a>
								</div>
							</div>
						</div>

						<h2>Six time World Rally Champion</h2>
						<p class="regular">
							<a href="#" title="Link to Driver Profile">Driver Profile</a> |
							<a href="#" title="Link to Driver Gallery">Driver Gallery</a>
						</p>
						<p>Nulla arcu massa, accumsan et euismod ut, sollicitudin in nisi. Etiam ipsum felis, pellentesque at tempor id, euismod aliquet leo. Phasellus lacinia.</p>
						<p>Maecenas tempor velit nulla, eget congue ipsum. Integer sollicitudin eros id lorem molestie tincidunt. Nullam ante purus, pulvinar posuere tempus sit amet, pulvinar sit amet metus. Ut dapibus, mi nec aliquam aliquam.</p>
						
						<h3>Sample level 3 heading</h3>
						<p>Etiam ipsum felis, pellentesque at tempor id, <a href="#">euismod aliquet</a> leo. Phasellus lacinia, nulla lobortis dictum blandit, felis est vehicula.
						Nulla arcu massa, accumsan et euismod ut, sollicitudin in nisi. Etiam ipsum felis, pellentesque at tempor id, euismod aliquet leo. Phasellus lacinia.</p>
						<p>Nulla arcu massa, accumsan et euismod ut, sollicit in nisi. Etiam ipsum felis, pellentesque at tempor id, euismod aliquet leo. Phasellus lacinia.
						Maecenas tempor velit nulla, eget congue ipsum. Integer sollicitudin eros id lorem molestie tincidunt. Nullam ante purus, pulvinar posuere tempus sit amet, pulvinar sit amet metus. Ut dapibus, mi nec aliquam aliquam, nibh orci hendrerit tortor, ac mattis quam sapien feugiat nisi. Aliquam posuere velit vel ante mollis sodales auctor tortor mollis. </p>
					
						<div class="boxout-caption"><span>Castrol Edge</span></div>
						<div class="boxout graded pull-wide">
							<h3>Loeb's rankings in 2009</h3>
							<div class="action-links">
								<a href="#" class="action-print" title="Click to Print">Print</a>
								<a href="#" class="action-send" title="Click to Send">Send</a>
								<a href="#" class="action-save" title="Click to Save">Save</a>
							</div>
							<img src="images/graph.png" alt="Image of Graph" style="margin-left: -6px;" />
						</div>

						<div class="right" style="display:inline;">
							<div id="accordion-shut" class="content-block medium open last right flow">
								<ul class="expanding-blocks">
									<li>
										<h2 class="expands"><a href="#" title="Link to expand/contract Statistics Section">Statistics</a></h2>
										<div class="expand-container">
											<table>
												<tr>
													<td class="first">Active Years</td>
													<td>2000 - 2009</td>
												</tr>
												<tr class="alt">
													<td class="first">Champion</td>
													<td>2009</td>
												</tr>
												<tr>
													<td class="first">Presences</td>
													<td>172</td>
												</tr>
												<tr class="alt highlight">
													<td class="first">GP Started</td>
													<td>170</td>
												</tr>
												<tr>
													<td class="first">Wins</td>
													<td>7</td>
												</tr>
												<tr class="alt">
													<td class="first">Podium Places</td>
													<td>24</td>
												</tr>
												<tr>
													<td class="first">Pole Positions</td>
													<td>7</td>
												</tr>
												<tr class="alt">
													<td class="first">Front Row</td>
													<td>15</td>
												</tr>
												<tr>
													<td class="first">Fastest Laps</td>
													<td>2</td>
												</tr>
												<tr class="alt">
													<td class="first">Points</td>
													<td>327</td>
												</tr>
												<tr>
													<td class="first">Laps Raced</td>
													<td>8785</td>
												</tr>
												<tr class="alt">
													<td class="first">KM Raced</td>
													<td>42,922</td>
												</tr>
												<tr>
													<td class="first">GP Led</td>
													<td>20</td>
												</tr>
												<tr class="alt">
													<td class="first">Laps Led</td>
													<td>824</td>
												</tr>
												<tr>
													<td class="first">KM Led</td>
													<td>1844</td>
												</tr>
											</table>
										</div>
									</li>
									<li>
										<h2 class="expands"><a href="#" title="Link to expand/contract Ranking History Section">Ranking History</a></h2>
										<div class="expand-container">
											<table>
												<tr>
													<td class="first">Active Years</td>
													<td>2000 - 2009</td>
												</tr>
												<tr class="alt">
													<td class="first">Champion</td>
													<td>2009</td>
												</tr>
												<tr>
													<td class="first">Presences</td>
													<td>172</td>
												</tr>
												<tr class="alt">
													<td class="first">GP Started</td>
													<td>170</td>
												</tr>
											</table>
										</div>
									</li>
									<li>
										<h2 class="expands"><a href="#" title="Link to expand/contract Career History Section">Career History</a></h2>
										<div class="expand-container">
											<table>
												<tr>
													<td class="first">Active Years</td>
													<td>2000 - 2009</td>
												</tr>
												<tr class="alt">
													<td class="first">Champion</td>
													<td>2009</td>
												</tr>
												<tr>
													<td class="first">Presences</td>
													<td>172</td>
												</tr>
												<tr class="alt">
													<td class="first">GP Started</td>
													<td>170</td>
												</tr>
											</table>
										</div>
									</li>
									<li>
										<h2 class="expands"><a href="#" title="Link to expand/contract Other Series Section">Other Series</a></h2>
										<div class="expand-container">
											<table>
												<tr>
													<td class="first">Active Years</td>
													<td>2000 - 2009</td>
												</tr>
												<tr class="alt">
													<td class="first">Champion</td>
													<td>2009</td>
												</tr>
												<tr>
													<td class="first">Presences</td>
													<td>172</td>
												</tr>
												<tr class="alt">
													<td class="first">GP Started</td>
													<td>170</td>
												</tr>
											</table>
										</div>
									</li>
								</ul>
							</div>
						</div>
					
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod, justo eu semper luctus, libero <a href="#">nisi volutpat dolor</a>, quis vulputate nulla nibh vel sapien. Integer lacinia aliquet cursus. Nulla arcu massa, accumsan et euismod ut, sollicitudin in nisi. Etiam ipsum felis, pellentesque at tempor id, euismod aliquet leo. Phasellus lacinia.</p>
						<br class="clear no-vis" />
					</div>
					
					<div class="content-block large-alt open max-pad">
						<h1 class="caption" title="Castrol Driver Rankings"><span class="driver-rankings">Driver Rankings</span></h1>
						<form id="form-filter" action="#" method="post" class="form-inline">
							<table>
								<thead>
									<tr>
										<th class="center">Rank</th>
										<th>&nbsp;</th>
										<th colspan="2" class="colspan-line">Driver
											<div class="right">
												<select id="select-nationality" name="select-nationality" class="field compact">
													<option>Nationality</option>
													<option value="GB">Great Britain</option>
												</select>
											</div>
										</th>
										<th>
											<select id="select-series" name="select-series" class="field">
												<option>Series</option>
												<option value="F1">F1</option>
											</select>
											<input name="reset-filter" type="reset" value="Reset" class="button-blank" />
										</th>
										<th class="edge-r">Points</th>
									</tr>
								</thead>
								<tr>
									<td class="center">1</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Jenson Button">Jenson Button</a></td>
									<td><img src="images/flags/gb.gif" alt="Image of British flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">21,992</td>
								</tr>
								<tr class="alt">
									<td class="center">2</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Ryan Briscoe">Ryan Briscoe</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, Rolex</td>
									<td class="edge-r">20,385</td>
								</tr>
								<tr>
									<td class="center">3</td>
									<td class="icon up"><span>&uarr;</span> 1</td>
									<td><a href="#" title="Link to Profile for Sebastian Vettel">Sebastian Vettel</a></td>
									<td><img src="images/flags/de.gif" alt="Image of German flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">20,275</td>
								</tr>
								<tr class="alt">
									<td class="center">4</td>
									<td class="icon down"><span>&darr;</span> 2</td>
									<td><a href="#" title="Link to Profile for Sébastian Loeb">Sébastian Loeb</a></td>
									<td><img src="images/flags/fr.gif" alt="Image of French flag" /></td>
									<td class="light">WRC</td>
									<td class="edge-r">19,921</td>
								</tr>
								<tr>
									<td class="center">5</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Dario Franchitti">Dario Franchitti</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, ALMS</td>
									<td class="edge-r">19,416</td>
								</tr>
								<tr class="alt">
									<td class="center">6</td>
									<td class="icon newentry"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Scott Dixon">Scott Dixon</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, ALMS</td>
									<td class="edge-r">19,192</td>
								</tr>
								<tr>
									<td class="center">7</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Rubens Barichello">Rubens Barichello</a></td>
									<td><img src="images/flags/br.gif" alt="Image of Brazilian flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">18,866</td>
								</tr>
								<tr class="alt">
									<td class="center">8</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Jimmie Johnson">Jimmie Johnson</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">Sprint Cup</td>
									<td class="edge-r">18,457</td>
								</tr>
								<tr>
									<td class="center">9</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Mark Webber">Mark Webber</a></td>
									<td><img src="images/flags/au.gif" alt="Image of Australian flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">17,559</td>
								</tr>
								<tr class="alt">
									<td class="center">10</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Mikko Hirvonen">Mikko Hirvonen</a></td>
									<td><img src="images/flags/fi.gif" alt="Image of Finnish flag" /></td>
									<td class="light">WRC</td>
									<td class="edge-r">17,150</td>
								</tr>
								<tr>
									<td class="center">11</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Jenson Button">Jenson Button</a></td>
									<td><img src="images/flags/gb.gif" alt="Image of British flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">21,992</td>
								</tr>
								<tr class="alt">
									<td class="center">12</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Ryan Briscoe">Ryan Briscoe</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, Rolex</td>
									<td class="edge-r">20,385</td>
								</tr>
								<tr>
									<td class="center">13</td>
									<td class="icon up"><span>&uarr;</span> 1</td>
									<td><a href="#" title="Link to Profile for Sebastian Vettel">Sebastian Vettel</a></td>
									<td><img src="images/flags/de.gif" alt="Image of German flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">20,275</td>
								</tr>
								<tr class="alt">
									<td class="center">14</td>
									<td class="icon down"><span>&darr;</span> 2</td>
									<td><a href="#" title="Link to Profile for Sébastian Loeb">Sébastian Loeb</a></td>
									<td><img src="images/flags/fr.gif" alt="Image of French flag" /></td>
									<td class="light">WRC</td>
									<td class="edge-r">19,921</td>
								</tr>
								<tr>
									<td class="center">15</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Dario Franchitti">Dario Franchitti</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, ALMS</td>
									<td class="edge-r">19,416</td>
								</tr>
								<tr class="alt">
									<td class="center">16</td>
									<td class="icon newentry"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Scott Dixon">Scott Dixon</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">IRL, ALMS</td>
									<td class="edge-r">19,192</td>
								</tr>
								<tr>
									<td class="center">17</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Rubens Barichello">Rubens Barichello</a></td>
									<td><img src="images/flags/br.gif" alt="Image of Brazilian flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">18,866</td>
								</tr>
								<tr class="alt">
									<td class="center">18</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Jimmie Johnson">Jimmie Johnson</a></td>
									<td><img src="images/flags/us.gif" alt="Image of American flag" /></td>
									<td class="light">Sprint Cup</td>
									<td class="edge-r">18,457</td>
								</tr>
								<tr>
									<td class="center">19</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Mark Webber">Mark Webber</a></td>
									<td><img src="images/flags/au.gif" alt="Image of Australian flag" /></td>
									<td class="light">F1</td>
									<td class="edge-r">17,559</td>
								</tr>
								<tr class="alt">
									<td class="center">20</td>
									<td class="icon nochange"><span>&harr;</span></td>
									<td><a href="#" title="Link to Profile for Mikko Hirvonen">Mikko Hirvonen</a></td>
									<td><img src="images/flags/fi.gif" alt="Image of Finnish flag" /></td>
									<td class="light">WRC</td>
									<td class="edge-r">17,150</td>
								</tr>
							</table>
						</form>
					</div>
					<p class="bottom-actions"><a href="#header" title="Link to go back to the top of the page">Back to top</a></p>
    			</div>
    			
    			<div class="column small flush extra-pad">
    				<div class="side-gallery-block">
    					<h5><span>Driver Gallery</span></h5>
						<a href="images/photos/potm-xlarge.jpg" rel="gallery" title="Gallery image 1"><img src="images/photos/potm-small-1.jpg" alt="Image of Rally car servicing" /></a>
						<a href="images/photos/potm-xlarge.jpg" rel="gallery" title="Gallery image 2"><img src="images/photos/potm-small-2.jpg" alt="Image of Rally car in snow" /></a>
						<a href="images/photos/potm-xlarge.jpg" rel="gallery" title="Gallery image 3"><img src="images/photos/potm-small-3.jpg" alt="Image of Rally car" /></a>
						<a href="images/photos/potm-xlarge.jpg" rel="gallery" title="Gallery image 4"><img src="images/photos/potm-small-4.jpg" alt="Image of Rally driver" /></a>
					</div>
					
					<div class="side-block max-pad">
    					<img src="images/photos/np-small.jpg" alt="Image of pit-board at F1 race" />
	    				<div class="overlay-banner">
		    				<h4><a href="#" class="newsletter" title="Link to Newsletter">Newsletter</a></h4>
	    					<p><a href="#" title="Link to driver ranking calculations">Get our weekly email 
	    					full of news and ranking updates</a></p>
	    				</div>
    				</div>
    			</div>
    		</div>
    		<!-- Footer top bar - inc country selector and external link -->
			<div id="footer-top">
				<form id="form-country-selector" action="/" method="post" class="form-inline">
					<fieldset>
						<label for="select-country">Find out more about Castrol's world class lubricants 
						on your local country site:</label>
						<select id="select-country" name="select-country" class="field">
							<option>Choose country</option>
							<option value="UK">United Kingdom</option>
						</select>
						<input name="submit-country" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
				<a id="external-link" href="#" title="Link to Castrol Football Homepage">Castrol Football - Home of the Castrol Index</a>
			</div>
			<!-- Footer bottom bar - inc copyright and bottom nav menu -->
			<div id="footer-bottom">
				<p>&copy; Castrol Limited 1999-2009 | All content &copy; Autosport.com 2009</p>
				<ul id="navigation-bottom-menu">
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a> |</li>
					<li><a href="privacy.html">Privacy Statement</a> |</li>
					<li><a href="legal.html">Legal Notice</a> |</li>
					<li><a href="site-map.html">Site Map</a></li>
				</ul>
			</div>
    	</div>
    </div>
</body>
</html>