<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery-ui-1.7.1.custom.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Castrol Driver Rankings - Latest News - Powered by Autosport.com</title>
</head>
<body class="content">
    <div id="container">
    	<!-- Header logo links -->
    	<div id="header">
    		<a href="#" id="main-logo" title="Link to Castrol Driver Rankings Homepage">Castrol Driver Rankings</a>
    		<a href="#" id="secondary-logo" title="Link to Autosport.com">Powered by Autosport.com</a>
    	</div>
    	<div id="main-content">
    		<!-- Top navigation - inc nav menu and search bar -->
    		<div id="navigation-top">
    			<ul id="navigation-top-menu">
    				<li><a href="index.html">Home</a></li>
    				<li>
    					<a href="rankings/index.html">Rankings</a>
    					<ul>
		    				<li><a href="rankings.html">Rankings Tables</a></li>
		    				<li><a href="championship.html">Championship Tables</a></li>
		    				<li><a href="calendars.html">Calendars</a></li>
		    				<li><a href="results.html">Race Results</a></li>
    					</ul>
    				</li>
    				<li class="current">
    					<a href="news/index.html">News</a>
    					<ul>
		    				<li><a href="news-article.html">Latest News</a></li>
		    				<li><a href="news-archive.html">Archive</a></li>
    					</ul>
    				</li>
    				<li><a href="edge-potm.html">Performer of the Month</a></li>
    				<li><a href="head-to-head.html">Head to Head</a></li>
    				<li>
    					<a href="how-it-works.html">How it Works</a>
    					<ul>
    						<li><a href="faq.html">FAQ</a></li>
    					</ul>
    				</li>
    				<li>
    					<a href="newsletter/index.html">Newsletter</a>
    					<ul>
    						<li><a href="newsletter/signup.html">Sign Up</a></li>
    					</ul>
    				</li>
    			</ul>
				<form id="form-search" action="#" method="post" class="form-inline">
					<fieldset>
						<label class="accessibility" for="search-terms">Search the site:</label>
						<input id="search-terms" type="text" name="search-terms" value="Search" class="field toggle-blank" />
						<input name="submit-search" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
    		</div>
    		<!-- Main page content container -->
    		<div id="content">
    			<div class="column flush small">
    				<div id="navigation-side">
    					<h2>News</h2>
    					<ul id="navigation-side-menu">
		    				<li class="current"><a href="news-article.html">Latest News</a></li>
		    				<li><a href="news-archive.html">News Archive</a></li>
    					</ul>
    				</div>
    				
    				<div class="side-block">
    					<img src="images/photos/cp-small-1.jpg" alt="Image of pit-lane staff at F1 race" />
	    				<div class="overlay-banner">
		    				<h4><a href="#" class="howitworks" title="Link to How it works">How it works</a></h4>
	    					<p><a href="#" title="Link to driver ranking calculations">Find out how we 
	    					calculate the driver rankings</a></p>
	    				</div>
    				</div>
    				
	    			<a href="http://www.facebook.com" class="facebook-link" title="Link to Join our Facebook Group">Join our group</a>
	    			<a href="http://www.twitter.com" class="twitter-link" title="Link to Follow us on Twitter">Follow us</a>
    			</div>
    			
    			<div class="column large gutter-max">
					<div class="content-block shaded large-alt">
						<img src="images/photos/np-large.jpg" alt="Image of Abu Dhabi preview F1 race" class="right" />
						<div class="inner narrow">
							<h1><a href="#" title="Link to Abu Dhabi race news">Race for top spot hots up ahead of Abu Dhabi finale</a></h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem sit amet nisi posuere non commodo justo faucibus. Fusce condimentum, lectus in ultricies cursus.</p>
							<p>Sem diam commodo nunc, sit amet posuere nisi neque eu eros.</p>
						</div>
					</div>
    			</div>
    			
    			<div class="column small">
    			    <div class="side-block">
    					<img src="images/photos/np-small.jpg" alt="Image of pit-board at F1 race" />
	    				<div class="overlay-banner">
		    				<h4><a href="#" class="newsletter" title="Link to Newsletter">Newsletter</a></h4>
	    					<p><a href="#" title="Link to driver ranking calculations">Get our weekly email 
	    					full of news and ranking updates</a></p>
	    				</div>
    				</div>
    			</div>

				<div class="column medlrg flush gutter-min">
					<div class="content-block medlrg-alt open first">
						<ul class="blocks-list expanded">
							<li>
								<h3><a href="#" title="Link to News: Rosberg &amp; Rubens">Rosberg &amp; Rubens switch seats</a></h3>
								<img src="images/photos/np-medium-1.jpg" alt="Image of F1 cars" class="right" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem sit amet.</p>
							</li>
							<li>
								<h3><a href="#" title="Link to News: Briscoe second">Briscoe second after Kentucky win</a></h3>
								<img src="images/photos/np-medium-2.jpg" alt="Image of podium celebrations" class="right" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem sit amet.</p>
							</li>
							<li>
								<h3><a href="#" title="Link to News: Six in a row for Loeb">Six in a row for dominant Loeb</a></h3>
								<img src="images/photos/np-medium-3.jpg" alt="Image of rally cars" class="right" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem sit amet.</p>
							</li>
							<li>
								<h3><a href="#" title="Link to News: Vettel shines in 2009">Vettel shines in 2009</a></h3>
								<img src="images/photos/np-medium-4.jpg" alt="Image of victory celebrations" class="right" />
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer blandit sem sit amet.</p>
							</li>
						</ul>
						<ul class="more-links">
							<li>
								<a href="#" class="more-link" title="Link to More News">More News</a>
							</li>
						</ul>
					</div>
    			</div>
    			
    			<div class="column medium-nudge flush">
    				<div class="content-block medium-alt2 edge-box">
						<img src="images/photos/hp-large-3-alt.jpg" alt="Image of F1 driver" class="block" />
						<h2 class="caption"><a href="#" class="edge" title="Link to Castrol Edge">Castrol Edge</a></h2>
					</div>
    			
					<div class="content-block medium-alt open last">
						<h2 class="caption"><a href="#" class="rankings" title="Link to Castrol Driver Rankings">Castrol Driver Rankings</a></h2>
						<table>
							<tr>
								<td>1</td>
								<td class="icon nochange"><span>&harr;</span></td>
								<td><a href="#" title="Link to Profile for Jenson Button">Jenson Button</a></td>
								<td class="light">F1</td>
								<td class="edge-r">21,992</td>
							</tr>
							<tr class="alt">
								<td>2</td>
								<td class="icon nochange"><span>&harr;</span></td>
								<td><a href="#" title="Link to Profile for Ryan Briscoe">Ryan Briscoe</a></td>
								<td class="light">IRL, Rolex</td>
								<td class="edge-r">20,385</td>
							</tr>
							<tr>
								<td>3</td>
								<td class="icon up"><span>&uarr;</span> 1</td>
								<td><a href="#" title="Link to Profile for Sebastian Vettel">Sebastian Vettel</a></td>
								<td class="light">F1</td>
								<td class="edge-r">20,275</td>
							</tr>
							<tr class="alt">
								<td>4</td>
								<td class="icon down"><span>&darr;</span> 2</td>
								<td><a href="#" title="Link to Profile for Sébastian Loeb">Sébastian Loeb</a></td>
								<td class="light">WRC</td>
								<td class="edge-r">19,921</td>
							</tr>
							<tr>
								<td>5</td>
								<td class="icon nochange"><span>&harr;</span></td>
								<td><a href="#" title="Link to Profile for Dario Franchitti">Dario Franchitti</a></td>
								<td class="light">IRL, ALMS</td>
								<td class="edge-r">19,416</td>
							</tr>
						</table>
						<ul class="more-links">
							<li><a href="#" class="more-link" title="Link to Full Rankings">Full Rankings</a></li>
						</ul>
					</div>
    			</div>
    		</div>
    		<!-- Footer top bar - inc country selector and external link -->
			<div id="footer-top">
				<form id="form-country-selector" action="/" method="post" class="form-inline">
					<fieldset>
						<label for="select-country">Find out more about Castrol's world class lubricants 
						on your local country site:</label>
						<select id="select-country" name="select-country" class="field">
							<option>Choose country</option>
							<option value="UK">United Kingdom</option>
						</select>
						<input name="submit-country" type="submit" value="&raquo;" class="button" />
					</fieldset>
				</form>
				<a id="external-link" href="#" title="Link to Castrol Football Homepage">Castrol Football - Home of the Castrol Index</a>
			</div>
			<!-- Footer bottom bar - inc copyright and bottom nav menu -->
			<div id="footer-bottom">
				<p>&copy; Castrol Limited 1999-2009 | All content &copy; Autosport.com 2009</p>
				<ul id="navigation-bottom-menu">
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a> |</li>
					<li><a href="privacy.html">Privacy Statement</a> |</li>
					<li><a href="legal.html">Legal Notice</a> |</li>
					<li><a href="site-map.html">Site Map</a></li>
				</ul>
			</div>
    	</div>
    </div>
</body>
</html>