/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body
{
	color: #0b0f18;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	height: 1055px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

#fbcontainer 
{
	background-color: #fff;
	height: 1055px;
	width: 760px;
}

#content-container
{ 
	background: transparent url('../images/bg.jpg') no-repeat center top;
	border: 3px solid #b74600;
	overflow: auto;
	padding: 0 100px 0 120px;
	position: relative;
	height: 1049px;
	width: 534px;
}
 
	#logo
	{
		background: transparent url('../images/logo.jpg') no-repeat left top;
		display: block;
		height: 150px;
		margin: 3px 0 0 5px;
		padding: 0;
		text-indent: -999em;
		width: 521px;
	}
	
	#subtitle
	{
		background: transparent url('../images/subtitle.jpg') no-repeat left top;
		display: block;
		height: 50px;
		margin: 0 0 13px 5px;
		padding: 0;
		text-indent: -999em;
		width: 521px;
	}
	
	#like-box
	{
		background: transparent url('../images/like-bg-wide.jpg') no-repeat left top;
		float: left;
		height: 189px;
		margin-bottom: 5px;
		padding: 5px 0 0 5px;
		width: 310px;
	}
	
	.intro
	{
		display: block;
		float: left;
		margin: 0 -15px 0 10px;
	}
	
		.intro span 
		{
			background: transparent url('../images/intro.jpg') no-repeat left top;
			display: block;
			height: 125px;
			margin: 0;
			padding: 0;
			text-indent: -999em;
			width: 220px;
		}
		
		.intro #play-now
		{
			background: transparent url('../images/button-play.gif') no-repeat left top;
			display: block;
			height: 70px;
			margin: 0;
			padding: 0;
			text-indent: -999em;
			width: 212px;			
		}
		
		.intro #play-now:hover { background-position: left -70px; }
	
		.feature
		{
			clear: both;
		}
		
		.l img 
		{
			display: block;
			float: left;
		}
		
		.l h3, .l p
		{
			margin-left: 200px;
			margin-right: 10px;
		}
		
		.r img 
		{
			display: block;
			float: right;
		}
		
		.r h3, .r p
		{
			margin-right: 200px;
			margin-left: 5px;
		}
		
		.title
		{
			background: transparent url('../images/title-explore.gif') no-repeat left 6px;
			display: block;
			height: 36px;
			margin: 0;
			padding: 0;
			text-indent: -999em;
			width: 280px;
		}
		
		.feature .explore { background-image: url('../images/title-explore.gif'); }
		.feature .personalities { background-image: url('../images/title-personalities.gif'); }
		.feature .home { background-image: url('../images/title-home.gif'); }
	
	#quotes 
	{ 
		clear: both; 
		overflow: auto;
	}
	
		#quotes blockquote
		{
			float: left;
			margin-right: 25px;
			padding: 15px 0 0 12px;
			width: 240px;
		}
		
		#quotes .last { margin-right: 0; }
		
		#quotes p
		{
			color: #5c0067;
			font-weight: bold;
			margin-bottom: 10px;
		}
		
		#quotes .attrib 
		{ 
			font-style: italic;
			font-weight: normal; 
			margin-bottom: 6px;
		}
		
p
{
	color: #0b0f18;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}  

.clear { clear: both; }
.left { float: left; }
.right { float: right; }