/* ==========================================================================
   Color constant variables
   ========================================================================== */
   
$primary: #fff;
$secondary: #CCD6DB;
$tertiary: #22404B;

$highlight: #EB3736;

$type-std: #22404B;
$type-link: #000;
$type-link-hover: #CCD6DB;

$type-rev: #fff;
$type-rev-link: #99ABB3;
$type-rev-link-hover: #fff;

$type-nav: #496975;
$type-nav-active: $tertiary;
$type-nav-invert: #fff;
$type-nav-invert-active: $secondary;