@font-face 
{
    font-family: 'FiraSansBold';
    src: url('../fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/FiraSans-Bold.woff') format('woff');
}

@font-face 
{
    font-family: 'FiraSansMedium';
    src: url('../fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/FiraSans-Medium.woff') format('woff');
}