// REM prop sizing calc w/fallback
// http://drublic.de/blog/rem-fallback-sass-less/
@mixin _rem ($property, $value) {
	#{$property}: $value * $base-font-size-small;

	@include _respond-to($bp-medium) 
	{
		#{$property}: $value * $base-font-size-medium;
	}

	#{$property}: #{$value}rem;
}

@mixin _font-family-headline {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	@include _rem(letter-spacing, 0.125);
}

@mixin _font-family-body {
	font-family: 'Lato', Georgia, Times, serif;
	font-weight: 400;
}

@mixin _font-family-pull {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

@mixin _font-family-tags {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	@include _rem(letter-spacing, 0.0625);
}

@mixin _pseudo-block ($width: auto, $height: auto) {
	content: '';
	display: block;
	height: $height;
	position: absolute;
	left: 0;
	top: 0;
	width: $width;
}

@mixin _button {
	background-color: rgba($highlight, 0.75);
	color: $type-rev;
	display: inline-block;
	@include _font-family-headline();
	@include _rem(font-size, 1.25);
	text-transform: uppercase;
	@include transition (all 0.15s ease-in-out);

	&:active,
	&:hover
	{
		background-color: rgba(#000, 0.1);
		color: $type-rev;
	}
}

@mixin _breakout {
	margin-left: -26.25%;
	max-width: 152.5%;
	width: 152.5%;

	.rev & 
	{
		margin-left: 0;
	}
}

@mixin _respond-to($size: $bp-medium, $min-max: min-width) {
	@media only screen and ($min-max: $size) 
	{ 
		@content; 
	}
}