@import '_bourbon/bourbon';
@import 'normalize';
@import 'colors';
@import 'defaults';
@import 'mixins';

/* ==========================================================================
   http://joelparr.com site styles - based on HTML5BP v4.3.0
   ========================================================================== */

body 
{
	background: $primary;
	border-top: solid $highlight;
	border-bottom: solid $highlight;
	@include _rem(border-top-width, 0.375);
	@include _rem(border-bottom-width, 0.375);
	color: $type-std;
	@include _font-family-body();
	text-align: center;
}

img, 
video 
{
	max-width: 100%;
}

a, 
a:visited 
{
	color: $type-link;
	text-decoration: none;

	&:active,
	&:hover 
	{
		color: $type-link-hover;
	}
}

h1, h2, h3, h4, h5, h6
{
	@include _font-family-headline();
	line-height: 1;
	margin: 0;

	.rev & 
	{
		text-shadow: 0 1px 0 rgba(black, 0.1);
	}
}

p, li
{
	line-height: 1.75;
	margin: 0;

	.rev & 
	{
		text-shadow: 0 1px 0 rgba(black, 0.1);
	}
}

i, em 
{
	font-style: italic;
}

b, strong
{
	font-weight: 700;
}

%tri
{
	@include _pseudo-block(100%, 100%);
	background: transparent url('../img/tri.svg') no-repeat right top;
	background-size: 100%;
	opacity: 0.1;
}

%section
{
	@include _rem(padding-top, 5);
	@include _rem(padding-bottom, 5);

	@include _respond-to($bp-large) 
	{
		@include _rem(padding-top, 6);
		@include _rem(padding-bottom, 6);
	}
}

%section-compressed
{
	@include _rem(padding-top, 2.5);
	@include _rem(padding-bottom, 2.5);	
}

%rule
{
	border: solid rgba(#000, 0.15);
	@include _rem(border-top-width, 0.3125);
	display: block;
	height: 0;
	@include _rem(margin-top, 3);
	@include _rem(margin-bottom, 3);
	opacity: 1;
	width: 7.5%;
}

.inner
{
	margin: 0 auto;
	max-width: 57.8125em;
	position: relative;
	width: 90%;	
	z-index: 1;
}

.site-header
{
	@extend %section;
	position: relative;

	.not-home &
	{
		@extend %section-compressed;
		padding-bottom: 0;

		@include _respond-to($bp-medium) 
		{
			@include _rem(padding-bottom, 2.5);
		}
	}

	.header-img
	{
		@include _rem(margin-bottom, 3);
		@include _rem(max-width, 14);

		@include _respond-to($bp-medium) 
		{
			@include _rem(margin-bottom, 5);
		}
	}

	.menu
	{
		background-color: transparent;
		background-image: url('../img/icon-menu.png');
		background-size: 50%;
		left: auto;
		right: 0;
		top: 0;
		z-index: 20;

		.home &
		{
			display: none;
		}

		@include _respond-to($bp-large) 
		{
			display: none;
		}
	}
}

.site-navigation
{
	height: 0;
	@include _rem(margin-top, 2);
	overflow: hidden;
	@include transition (height 0.25s ease-in-out);

	@include _respond-to($bp-large)
	{
		height: auto;
		margin-top: 0;
		text-align: right;
	}

	.home & 
	{
		height: auto;
		margin-top: 0;
		text-align: center;
		width: 90%;

		@include _respond-to($bp-medium)
		{
			width: auto;
		}
	}

	ul
	{
		font-size: 0;
		margin: 0;
		padding: 0;
	}

		li 
		{
			@include box-sizing(border-box);
			display: inline-block;
			@include _rem(padding-right, 2);
			@include _rem(padding-left, 2);
			text-align: center;
			width: auto;

			.not-home &
			{
				display: block;
				padding: 0;
				text-align: right;
				width: 100%;

				@include _respond-to($bp-large)
				{
					display: inline-block;
					@include _rem(padding-right, 2);
					@include _rem(padding-left, 2);
					text-align: center;
					width: auto;
				}
			}

			.not-home &:last-child
			{
				padding-right: 0;
			}

			.home & 
			{
				@include _rem(padding-right, 1);
				@include _rem(padding-left, 1);
				width: 40%;

				@include _respond-to($bp-medium)
				{
					width: 17.5%;
				}
			}
		}

			a 
			{
				color: $type-nav;
				@include _font-family-headline();
				@include _rem(font-size, 1.25);
				line-height: 2.5;
				text-shadow: none;
				text-transform: uppercase;

				&:hover,
				&.active
				{
					color: $type-nav-active;
				}

				.rev &
				{
					color: rgba(#000, 0.33);

					&:hover,
					&.active
					{
						color: rgba(#000, 0.5);
					}
				}

				@include _respond-to($bp-large)
				{
					line-height: 1;
				}
			}
}

.hero
{
	@extend %section;

	background-color: $tertiary;
	@include background-image(linear-gradient($secondary 0, $tertiary 100%));
	color: $type-rev;
	@include _rem(padding-bottom, 4);
	position: relative;

	&:before
	{
		@extend %tri;
	}

	h1
	{
		@include _rem(font-size, 3);
		line-height: 1.1;
		@include _rem(margin-bottom, 3);

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 4);
		}
	}

	p 
	{
		color: $type-rev;
		@include _rem(font-size, 1.375);
		@include _rem(margin-bottom, 2);
		text-align: left;

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 1.5);
			text-align: center;
		}
	}

	a,
	a:visited
	{
		border-bottom: 1px solid rgba($type-rev, 0.75);
		color: $type-rev;

		&:active,
		&:hover
		{
			color: rgba($type-rev, 0.75);
		}
	}
}

.repeating 
{
	@extend %section;

	overflow: hidden;
	@include _rem(padding-bottom, 2);	

	h2
	{
		@include _rem(font-size, 2.75);
		display: inline-block;
		line-height: 1.2;
		@include _rem(margin-bottom, 5);
		text-shadow: none;
		width: 90%;

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 3);	
		}

		@include _respond-to($bp-large)
		{
			@include _rem(font-size, 3.5);
			@include _rem(margin-bottom, 6);
		}
	}
}

.list
{
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
	width: 85%;

	@include _respond-to($bp-medium)
	{
		width: 95%;
	}

	li 
	{
		display: inline-block;
	}
}

.text 
{
	font-size: 0; // Display inline-block percentage width hack
	width: 70%;

	@include _respond-to($bp-medium)
	{
		width: 75%;
	}

	li 
	{
		@include box-sizing(border-box);
		display: inline-block;
		margin: 0 2.5%;
		@include _rem(margin-bottom, 3);
		width: 100%;

		@include _respond-to($bp-medium)
		{
			margin-right: 2.5%;
			margin-left: 2.5%;
			width: 45%;
		}

		@include _respond-to($bp-large)
		{
			@include _rem(margin-bottom, 4);
		}
	}

		a 
		{
			background: rgba(0, 0, 0, 0.05);
			@include box-sizing(border-box);
			color: $type-nav-active;
			display: inline-block;
			@include _font-family-headline();
			@include _rem(font-size, 1.5);
			letter-spacing: 0;
			line-height: 1.2;
			@include _rem(padding, 1.75);
			@include _rem(padding-top, 2);
			position: relative;
			text-align: center;
			vertical-align: top;
			width: 100%;
			z-index: 0;

			&:active,
			&:hover 
			{
				color: $type-link;

				&:before 
				{
					border-right-color: $highlight;
				}
			}

			&:before 
			{
				border-bottom: solid transparent;
				border-left: solid transparent;
				border-right: solid rgba(0, 0, 0, 0.075);
				@include _rem(border-width, 1.875);
				content: '';
				display: inline-block;
				height: 0; 
				right: 0;
				position: absolute;
				@include transition (border-right-color 0.15s ease-in-out);
				top: 0;
				width: 0; 
			}
		}

		.datetime
		{
			color: rgba(0, 0, 0, 0.33);
			display: block;
			@include _font-family-body();
			@include _rem(font-size, 1.25);
			font-weight: 700;
			line-height: 1.4;	
			text-transform: capitalize;
		}
}

.boxes
{
	font-size: 0; // Display inline-block percentage width hack
	text-align: left;

	.box
	{
		background-color: $tertiary;
		@include box-sizing(border-box);
		color: $type-rev;
		display: inline-block;
		@include _rem(font-size, 1);
		@include _rem(margin-bottom, 3);
		@include _rem(padding, 3);
		@include _rem(padding-right, 2);
		@include _rem(padding-left, 2);
		position: relative;
		text-align: center;
		vertical-align: top;
		width: 100%;
		z-index: 0;

		&:before
		{
			@extend %tri;
		}

		@include _respond-to($bp-medium)
		{
			margin-right: 2.5%;
			margin-left: 2.5%;
			width: 45%;
		}

		@include _respond-to($bp-large)
		{
			@include _rem(margin-bottom, 4);
			@include _rem(padding-right, 3);
			@include _rem(padding-left, 3);
		}

		.inner
		{
			position: relative;
			width: auto;
			z-index: 1;
		}

		h3 
		{
			@include _rem(font-size, 2);
			line-height: 1.2;
			@include _rem(margin-bottom, 1.25);

			@include _respond-to($bp-large)
			{
				@include _rem(font-size, 2.5);
			}
		}

		p
		{
			color: $primary;
			@include _rem(font-size, 1.25);
			margin: 0 auto;
			@include _rem(margin-bottom, 2);

			@include _respond-to($bp-medium)
			{
				@include _rem(font-size, 1.125);
			}
		}

		a,
		a:visited,
		a:active,
		a:hover
		{
			color: $type-rev;
		}
	}
}

.tags
{
	@include _rem(margin-bottom, 1.5);

	ul 
	{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li 
	{
		background-color: rgba(#000, 0.15);
		@include box-sizing(border-box);
		color: $primary;
		display: inline-block;
		@include _font-family-tags();
		@include _rem(font-size, 1);
		line-height: 1;
		margin: 0 1.5%;
		@include _rem(margin-bottom, 1);
		@include _rem(padding, 0.625);
		@include _rem(padding-bottom, 0.5);
	}
}

.cta
{
	@include _button();
	background-color: $highlight;
	color: $type-rev;
	@include _rem(letter-spacing, 0.0625);
	line-height: 1.2;
	@include _rem(padding-top, 1.125);
	@include _rem(padding-right, 1.25);
	@include _rem(padding-bottom, 1.125);
	@include _rem(padding-left, 1.25);

	&:active,
	&:hover 
	{
		color: $type-rev;
	}
}

.icon-button
{
	background: rgba(#000, 0.3) no-repeat center center;
	background-size: 85%;
	@include box-sizing(border-box);
	bottom: 0;
	color: $primary;
	display: block;
	@include _rem(height, 3);
	left: 0;
	opacity: 0.5;
	position: absolute;
	text-align: center;
	text-indent: -999em;
	@include transition (all 0.15s ease-in-out);
	@include _rem(width, 3);
	z-index: 10;

	&:active,
	&:hover
	{
		opacity: 0.75;
	}
}

.content
{
	@extend %section;

	color: $type-std;
	overflow: hidden;
	@include _rem(padding-top, 3);
	padding-bottom: 0;

	@include _respond-to($bp-large)
	{
		@include _rem(padding-top, 7);
	}

	&:before
	{
		@extend %tri;

		background-size: 100% 9%;
		background-size: 100% 21.875rem;
		opacity: 0.05;
		position: absolute;
		z-index: -1;
	}

	&.rev 
	{
		color: $primary;
		@include _rem(padding-bottom, 4);

		@include _respond-to($bp-medium)
		{
			@include _rem(padding-bottom, 6);
		}

		&:before 
		{
			opacity: 0.1;
		}
	}

	&.page 
	{
		@include _rem(padding-bottom, 2);

		@include _respond-to($bp-medium)
		{
			@include _rem(padding-bottom, 3);
		}
	}

	.ll
	{
		background-color: rgba(0, 0, 0, 0.05);
		@include transition (background-color 0.25s ease-in-out);

		&.loaded
		{
			background-color: transparent;
		}
	}
}

.content-header
{
	margin: 0 auto;
	max-width: 44em;
	text-align: center;

	@include _respond-to($bp-large)
	{
		max-width: none;
	}

	.rev &
	{
		@include _respond-to($bp-medium)
		{
			margin: 0;
			text-align: left;
			width: 70%;
		}
	}

	.page & 
	{
		@include _rem(margin-bottom, 5);

		@include _respond-to($bp-medium)
		{
			@include _rem(margin-bottom, 6);
		}
	}

		.post &:after 
		{
			@extend %rule;
			content: '';
			display: block;
			@include _rem(margin-top, 2);
			@include _rem(margin-bottom, 2);
			margin-right: auto;
			margin-left: auto;

			@include _respond-to($bp-medium)
			{
				@include _rem(margin-top, 3);
				@include _rem(margin-bottom, 3);
			}
		}

		.rev &:after 
		{
			display: none;
			margin-right: 0;
			margin-left: 0;
			width: 7.5%;

			@include _respond-to($bp-medium)
			{
				display: block;
			}
		}

	h1
	{
		@include _rem(font-size, 2.5);
		line-height: 1.1;
		@include _rem(margin-bottom, 0.625);

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 3.5);

			.rev & 
			{
				@include _rem(left, -0.25);
				position: relative;
			}
		}

		@include _respond-to($bp-large)
		{
			@include _rem(font-size, 5);
		}
	}
	
	.lede
	{
		@include _font-family-body();
		@include _rem(font-size, 1.375);
		font-weight: 700;
		line-height: 1.4;
		margin: 0 auto;
		max-width: 28em;

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 1.675);
		}

		@include _respond-to($bp-large)
		{
			@include _rem(font-size, 2);
		}

		.rev & 
		{
			@include _respond-to($bp-medium)
			{
				margin: 0;
			}
		}
	}

	.datetime 
	{
		color: rgba(#000, 0.5);
		display: block;
		@include _font-family-body();
		@include _rem(font-size, 1.25);
		font-weight: 700;
		line-height: 1;
		@include _rem(margin-top, 1);
		position: relative;

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 1.5);
			@include _rem(margin-top, 2);
		}
	}
}

.post 
{
	.tags
	{
		@include _rem(margin-top, 1.5);

		@include _respond-to($bp-medium)
		{
			border-right: solid rgba(#000, 0.15);
			@include _rem(border-width, 0.625);
			margin-top: 0;
			@include _rem(margin-bottom, 0.4375);
			overflow: hidden;		
			@include _rem(padding-right, 1);
			position: absolute;
			right: 0;
			@include _rem(top, 0.4375);
			width: 30%;

			li
			{
				clear: both;
				display: block;
				float: right;
				margin: 0;
				@include _rem(margin-bottom, 1);

				&:last-child
				{
					margin-bottom: 0;
				}
			}
		}
	}
}

.cms-content
{
	color: $type-std;
	margin: 0 auto;
	max-width: 44em;
	text-align: left;

	@include _respond-to($bp-large)
	{
		max-width: 38em;
	}

	.rev &
	{
		color: $primary;
		margin: 0 auto;

		@include _respond-to($bp-medium)
		{
			//margin: 0;
		}
	}

	h2
	{
		@include _rem(font-size, 2.75);
		@include _rem(margin-top, 3);
		@include _rem(margin-bottom, 1);
	}

	h3
	{
		@include _rem(font-size, 2.25);
		@include _rem(margin-top, 3);
		@include _rem(margin-bottom, 1);
	}

	h4
	{
		@include _rem(font-size, 1.75);
		@include _rem(margin-top, 3);
		@include _rem(margin-bottom, 1);
	}

	p
	{
		@include _rem(font-size, 1.25);
		@include _rem(margin-bottom, 1.5);

		@include _respond-to($bp-large)
		{
			>img,
			>video 
			{
				@include _breakout();
			}

			>.bordered
			{
				border: solid #f0f0f0;
				@include _rem(border-width, 1);
				box-sizing: border-box;
				@include _rem(margin-top, 1);
				@include _rem(margin-bottom, 1);
			}
		}
	}

	>p:first-child 
	{
		@include _rem(font-size, 1.375);
		line-height: 1.5;
		@include _rem(margin-bottom, 1.75);

		@include _respond-to($bp-medium)
		{
			@include _rem(font-size, 1.625);
		}

		@include _respond-to($bp-large)
		{
			@include _rem(font-size, 1.75);
			@include _breakout();
		}
	}

	ul 
	{
		list-style-position: outside;
		margin-top: 0;
		@include _rem(margin-bottom, 1.5);
		@include _rem(padding-left, 2.5);
	}

		li 
		{
			@include _rem(font-size, 1.25);
			margin-bottom: 0;
		}

	a 
	{
		border-bottom: 1px solid rgba($type-std, 0.75);
		color: $type-std;

		.rev &
		{
			border-bottom: 1px solid rgba($primary, 0.75);
			color: $primary;
		}

		&:hover 
		{
			color: rgba($type-std, 0.75);

			.rev & 
			{
				color: rgba($primary, 0.75);
			}
		}
	}

	blockquote 
	{
		background-color: rgba(#000, 0.05);
		@include box-sizing(border-box);
		@include _font-family-body();
		font-style: italic;
		margin: 0;
		@include _rem(margin-bottom, 2);
		@include _rem(padding, 2);
		text-align: center;

		@include _respond-to($bp-large)
		{
			@include _breakout();
		}

		.rev & 
		{
			background-color: rgba(#000, 0.15);
		}

		p 
		{
			margin-bottom: 0;
			max-width: none;

			&:before 
			{
				content: '“';
				font-style: normal;
			}

			&:after
			{
				content: '”';
				font-style: normal;
			}
		}
	}

	hr
	{
		@extend %rule;
		margin-right: auto;
		margin-left: auto;

		.rev & 
		{
			margin-right: 0;
			margin-left: 0;
		}
	}

	.multi-col 
	{
		@include _respond-to($bp-medium)
		{
			@include columns(2);
			@include column-gap(2em);
			@include _rem(margin-bottom, 0.5);
		}

		@include _respond-to($bp-large)
		{
			@include _breakout-mini();	

			&:first-of-type
			{
				@include _breakout();	
			}
		}
	}

	.cta,
	.rev & .cta 
	{
		border: none;
		color: $primary;
		margin-right: auto;
		margin-left: auto;
		@include _rem(margin-top, 2);

		&:active,
		&:hover 
		{
			color: $primary;
		}
	}
}

.pagination
{
	@include _rem(height, 3);
	left: 0;
	position: absolute;
	@include _rem(top, 0.375);
	width: 100%;
	z-index: 0;

	@include _respond-to($bp-large)
	{
		@include _rem(margin-top, -1.5);
		position: fixed;
		top: 50%;
	}

	.home 
	{
		background-image: url('../img/icon-home.png');
		background-size: 50%;

		@include _respond-to($bp-large)
		{
			display: none;
		}
	}

	.prev
	{
		background-image: url('../img/icon-left.png');
	}

	.next 
	{
		background-image: url('../img/icon-right.png');
		left: 3.25rem;

		@include _respond-to($bp-large)
		{
			left: auto;
			right: 0;
		}
	}
}

.sharing
{
	@extend %section;

	background: $primary;
	position: relative;
	text-align: center;
	width: 100%;

	&:before 
	{
		@include _pseudo-block(100%, 100%);
		background: transparent url('../img/icon-twitter.png') no-repeat center center;
		@include _rem(background-size, 10);
		opacity: 0.05;
	}

	.action 
	{
		color: rgba($type-link, 0.75);
		display: inline-block;
		@include _font-family-headline();
		@include _rem(font-size, 1.875);
		@include _rem(letter-spacing, 0.0625);
		line-height: 1;
		position: relative;
		text-shadow: none;
		z-index: 1;

		&:hover 
		{
			color: rgba($type-link, 1);
		}

		small 
		{
			@include _font-family-body();
			@include _rem(font-size, 1.25);
			display: block;
			letter-spacing: 0;
			line-height: 1.75;
			text-transform: none;
		}
	}
}

.site-footer
{
	@extend %section;
	background-color: $tertiary;
	@include background-image(linear-gradient($highlight 0, $tertiary 75%));
	color: $type-rev;
	@include _rem(padding-bottom, 7);
	position: relative;
	z-index: 0;

	&:before
	{
		@extend %tri;
	}

	h6
	{
		@include _rem(font-size, 3.25);
		@include _rem(margin-bottom, 3);
	}

	p 
	{	
		color: $type-rev;
		@include _rem(font-size, 1.125);
		@include _rem(font-size, 1.375);
	}

	a,
	a:visited
	{
		color: $type-rev-link;

		&:active,
		&:hover
		{
			color: $type-rev;
		}
	}

	.hygiene
	{
		@include _rem(font-size, 1);
	}

	.up 
	{
		background-image: url('../img/icon-up.png');
		@include _rem(bottom, -7);
		left: 50%;
		@include _rem(margin-left, -1.5);
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: auto;

		&:active,
		&:hover
		{
			opacity: 0.5;
		}
	}
}

.social-links
{
	margin: 0;
	padding: 0;
	@include _rem(padding-top, 4);
	@include _rem(padding-bottom, 3);

	@include _respond-to($bp-medium)
	{
		@include _rem(padding-bottom, 4);
	}

	li
	{
		display: inline;
	}

		a,
		a:visited,
		a:active,
		a:hover
		{
			color: $type-rev;
			display: inline-block;
			margin: 0 3%;
			@include _rem(margin-bottom, 1);

			@include _respond-to($bp-medium)
			{
				margin-bottom: 0;
			}
		}
}

.iconbg
{
	@include _button();

	border: solid rgba(#000, 0.1);
	@include _rem(border-width, 0.375);
	border-radius: 100%;
	@include _rem(font-size, 1);
	@include _rem(height, 8);
	@include _rem(letter-spacing, 0.0625);
	line-height: 1;
	position: relative;
	@include _rem(width, 8);

	&:before
	{
		@include _pseudo-block(100%, 100%);
		background: transparent no-repeat center center;
		background-size: 55%;
		opacity: 0.15;
	}

	&.email:before
	{
		background-image: url('../img/icon-email.png');
		background-size: 60%;
	}

	&.twitter:before
	{
		background-image: url('../img/icon-twitter.png');
	}

	&.instagram:before
	{
		background-image: url('../img/icon-instagram.png');
	}

	&.tumblr:before
	{
		background-image: url('../img/icon-tumblr.png');
	}

	b 
	{
		display: block;
		left: 0;
		@include _rem(margin-top, -0.5);
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
	}
}

@import 'print';