<!doctype html>  
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Time Collection - Haute Horlogerie</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <!-- CSS implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=3"> 
  <!-- Enable HTML5 Elements and feature detection with Modernizr -->
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>
<body class="haute-horlogerie">
	<div id="container">
		<!-- Quick links -->
		<nav id="quick-links">
			<ul>
				<li><a href="#" title="Invite a friend to Time Collection">Invite a Friend</a></li>
				<li><a href="#" title="View your Time Collection account">My Account</a></li>
				<li><a href="#" title="View Time Collection news and press releases">News &amp; Press</a></li>
				<li><a href="#" title="Contact Time Collection">Contact Us</a></li>
				<li><a href="#" title="Log out of your Time Collection account">Log Out</a></li>
			</ul>
		</nav>
		<!-- Site header -->
		<header id="site-header">
			<section id="header-content">
				<!-- Logo/home link -->
				<h1 id="logo"><a class="ir" href="index.html" title="Time Collection homepage">Time Collection</a></h1>
				<!-- Mini basket -->
				<div id="mini-basket">
					<a href="#" title="View your basket">View Basket <small>2 items - £2483</small></a>
				</div>
				<!-- Main site navigation -->
				<nav id="navigation">
					<ul>
						<li><a href="boutique-home.html" title="Browse the Time Collection boutiques">Boutiques</a></li>
						<li><a href="#" title="Browse Time Collection non-pristine items">non-pristine</a></li>
						<li class="active"><a href="#" title="Read the Time Collection Haute Horlogerie magazine">Haute Horlogerie</a></li>
						<li><a href="#" title="Set, view or cancel your Time Collection sale reminders">My Reminders</a></li>
					</ul>
				</nav>
			</section>
		</header>
		<!-- Main content area -->
		<div id="main-content">
			<h2>Haute Horlogerie</h2>
			<nav id="breadcrumbs">
				<ul>
					<li><a href="#" title="Time Collection homepage">Home</a></li>
					<li>Haute Horlogerie</li>
				</ul>
			</nav>
			<!-- Product sidebar -->
			<section class="content overlay">
				gumf
			</section>
			<!-- CTA area -->
			<ul id="actions">
				<li>
					<h4><a href="#" title="Invite a friend to Time Collection">Invite a friend</a></h4>
					<p><a href="#" title="Invite a friend to Time Collection">Claim a <strong><em>£25</em> voucher</strong> for each successful referral</a></p>
				</li>
				<li>
					<h4><a href="#" title="Set a reminder on Time Collection">Remind me</a></h4>
					<p><a href="#" title="Invite a friend to Time Collection">Set preferences for your email and text reminders</a></p>
				</li>
				<li>
					<h4><a href="#" title="Set a reminder on Time Collection">Win an Omega</a></h4>
					<p><a href="#" title="Invite a friend to Time Collection">Refer 25 friends and you could win an Omega Speedmaster</a></p>
				</li>
				<li class="last">
					<!-- Social links -->
					<ul class="share-links">
						<li><a class="facebook ir" href="#" title="Like Time Collection on Facebook">Like Time Collection on Facebook</a></li>
						<li><a class="rss ir" href="#" title="Subscribe to Time Collection via RSS">Subscribe to Time Collection via RSS</a></li>
						<li><a class="twitter ir" href="#" title="Follow Time Collection on Twitter">Follow Time Collection on Twitter</a></li>
					</ul>
					<h4><a href="#" title="Set a reminder on Time Collection">Join us</a></h4>
					<p><a href="#" title="Invite a friend to Time Collection">Now there is never an excuse to miss out on a timepiece</a></p>
				</li>
			</ul>
		</div>
		<!-- Teasers area -->
		<section id="teasers">
			<div id="teasers-inner">
				<div class="teaser first">
					<img class="right" src="images/teasers/fpjourne.jpg" alt="F.P. Journe boutique" height="103" width="120" />
					<h5><a href="#" title="Read the Time Collection Haute Horlogerie magazine">Haute Horlogerie</a></h5>
					<p>F.P. Journe who celebrate over 30 years of exceptional watch creation has opened its first Boutique in mainland China, in the Yintai Centre, in Beijing.</p>
					<p><a class="read-more" href="#" title="Read more of the Time Collection Haute Horlogerie magazine">Read more Haute Horlogerie</a></p>
				</div>
				<div class="teaser second">
					<img class="right" src="images/teasers/cartier-polo-classique.jpg" alt="Cartier Polo Classique watch" height="125" width="120" />
					<h5><a href="#" title="View Time Collection recommendations">Our Recommendation For You</a></h5>
					<p>We’re currently selling  this exquisite Cartier Polo Classique watch. With an elegant face and diamond set clasp it is a true collector’s item - one of only 1500 ever made.</p>
					<p><a class="read-more" href="#" title="View the Cartier Polo Classique watch on Time Collection">Cartier Polo Classique</a></p>
				</div>
			</div>
		</section>
		<!-- Site footer -->
		<footer id="site-footer">
			<div id="footer-inner">
				<!-- Hygiene links -->
				<nav id="hygiene-links">
					<ul>
						<li><a href="#" title="About Time Collection">About Us</a></li>
						<li><a href="#" title="View the Time Collection privacy policy">Privacy Policy</a></li>
						<li><a href="#" title="View the Time Collection terms &amp; conditions">Terms &amp; Conditions</a></li>
						<li><a href="#" title="View Time Collection delivery information">Delivery</a></li>
						<li><a href="#" title="View the Time Collection returns policy">Returns</a></li>
						<li><a href="#" title="View the Time Collection brands">Brands</a></li>
					</ul>
				</nav>
				<!-- Site copyright -->
				<p id="copyright">Copyright &copy; 2010 Time Collection</p>
				<!-- Social links -->
				<ul class="share-links">
					<li><a class="facebook ir" href="#" title="Like Time Collection on Facebook">Like Time Collection on Facebook</a></li>
					<li><a class="rss ir" href="#" title="Subscribe to Time Collection via RSS">Subscribe to Time Collection via RSS</a></li>
					<li><a class="twitter ir" href="#" title="Follow Time Collection on Twitter">Follow Time Collection on Twitter</a></li>
				</ul>
			</div>
		</footer>
	</div>

	<!-- CDN jQuery w/fallback -->
<!--	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>-->
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<script src="js/ie6.js"></script>
	<![endif]-->
	
	<!-- GA async -->
	<script>
		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>