/* Fix nav z-index */
ul#navigation-header li ul.subnav { z-index: 100; }

/* Floating form buttons */
div.form-block p.inline-button,
div.form-mini p.inline-button
{
	clear: none;
	display: inline;
	margin-left: 10px;
}

/* Header box form */
div.oneline { margin-bottom: 5px; }

	div.oneline label
	{
		float: left;
		font-size: 13px;
		margin: 0;
		padding-top: 1px;
	}

	div.oneline input.field,
	div.oneline select.field
	{
		float: left;
		margin: 0 0 5px 10px;
	}
	
	div.oneline p.button-container
	{
		clear: none;
		display: inline;
		float: left;
		margin: 0 0 5px 10px;
	}
	
	div.oneline p.show-hide-button
	{
		float: left;
		font-size: 11px;
		margin: 0 0 5px 20px;
		padding-top: 3px;
	}

p.show-hide,
div.purple-box p.show-hide
{
	font-size: 11px;
	line-height: 14px;
	margin: 0 0 5px 102px;
}

/* LHS nav child links */
ul.navigation-side li.has-subnav 
{ 
	background: #fff url('../../images/layout/nav-tab-bg.png') repeat-x left top; 
	border-bottom: 1px solid #e8e8e8; 
	display: block;
}

	ul.navigation-side li.has-subnav a 
	{ 
		background: none;
		border: none; 
	}
	
ul.navigation-side li.has-subnav li
{
	background: transparent url('../../images/icons/icon-account-add.gif') no-repeat 10px 6px; 
	display: block;
	padding: 2px 5px 3px 27px;
}

ul.navigation-side li.has-subnav li.add { background-image: url('../../images/icons/icon-account-add.gif'); }
ul.navigation-side li.has-subnav li.boy { background-image: url('../../images/icons/icon-account-boy.gif'); }
ul.navigation-side li.has-subnav li.girl { background-image: url('../../images/icons/icon-account-girl.gif'); }

ul.navigation-side li.has-subnav li.subnav-current
{
	background-color: #dfe3ec;
}

body.purple ul.navigation-side li.has-subnav li.subnav-current
{
	background-color: #e7d9e4;
}

	body.purple ul.navigation-side li.current li a,
	ul.navigation-side li.has-subnav li a
	{
		background: none;
		border: none;
		color: #695669;
		display: inline;
		padding-left: 0;
	}

	body.purple ul.navigation-side li.current li a:hover,	
	ul.navigation-side li.has-subnav li a:hover 
	{ 
		background: none; 
		text-decoration: underline;
	}
	
/* Contact page intro panels */
div.middle div.static-content .last { margin-right: 0; }