body
{
	background: #d7e7e6 url('../../images/layout/body-bg.jpg') no-repeat center top;
	color: #757575;
	font-size: 12px;
	font-weight: normal;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial sans-serif;
	line-height: 18px;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, input, textarea, select
{
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial sans-serif;
	font-weight: normal;
}

h1 { font-size: 26px; line-height: 32px; margin-bottom: 0; color: #345782; }
h2 { font-size: 16px; line-height: 22px; margin-bottom: 4px; color: #72869a; }
h3 { font-size: 14px; line-height: 20px; margin-bottom: 6px; color: #72869a; }
h4 { font-size: 12px; line-height: 18px; margin-bottom: 6px; color: #72869a; }

h5 { font-size: 11px; line-height: 17px; margin-bottom: 6px; }
h6 { font-size: 10px; line-height: 16px; margin-bottom: 6px; }

p, td 
{ 
	color: #757575;
	font-size: 13px;
	margin-bottom: 22px;
}

strong { font-weight: bold; }

a { text-decoration: none; color: #345782; }
a.secondary { color: #6f597d; }
a:hover { text-decoration: underline; }

body.purple h1, div.force-purple h1 { color: #442E3E; }
body.purple h2, body.purple h3, body.purple h4,
div.force-purple h2, div.force-purple h3, div.force-purple h4 { color: #816f7d; }
body.purple a { color: #442E3E; }

/* Main page layout */
div#container
{
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
	width: 975px;
}

	div#main-content
	{
		background: #fff;
	}
	
		/* Header area */
		div#header-top
		{
			overflow: auto;
			padding: 10px 12px 3px 12px;
		}
		
			div#header-top a#main-logo
			{
				background: transparent url('../../images/family-service-logo.gif') no-repeat left top; 
				border: none;
				display: block;
				float: left;
				height: 90px;
				width: 212px;
				margin-right: 11px;
				margin-bottom: 24px;
				text-indent: -20000px;
			}
			
			div#header-top ul#navigation-header
			{
				clear: both;
				display: block;
				list-style: none;
				overflow: auto;
			}
			
				ul#navigation-header li
				{
					background: #fff url('../../images/layout/nav-tab-bg.png') repeat-x left top; 
					border: 1px solid #e8e8e8;
					border-bottom: none;
					color: #575757;
					display: block;
					float: left;
					font-size: 15px;
					margin-right: 2px;
					position: static;
				}
				
				/* Activate the dropdowns */
				ul#navigation-header li:hover,
				ul#navigation-header li.sfhover
				{
					border-color: #8d8d8d;
					position: static;
				}
								
					ul#navigation-header li a,
					ul#navigation-header li span
					{ 
						background: transparent url('../../images/layout/nav-supplementary.gif') repeat-x left bottom; 
						color: #575757; 
						display: block;
						padding: 7px 12px 14px 12px;
						/*position: relative;
						z-index: 200;*/
					}
					
					ul#navigation-header li a:hover 
					{ 
						text-decoration: none; 
					}
					
					ul#navigation-header li.getting-pregnant a { background-image: url('../../images/layout/nav-gettingpregnant.gif'); }
					ul#navigation-header li.getting-pregnant a.current,
					ul#navigation-header li.getting-pregnant ul.subnav li a:hover { background-color: #f6bab9; }
					
					ul#navigation-header li.pregnancy a { background-image: url('../../images/layout/nav-pregnancy.gif'); }
					ul#navigation-header li.pregnancy a.current,
					ul#navigation-header li.pregnancy ul.subnav li a:hover { background-color: #f7edbe; }
					
					ul#navigation-header li.baby a { background-image: url('../../images/layout/nav-baby.gif'); }
					ul#navigation-header li.baby a.current,
					ul#navigation-header li.baby ul.subnav li a:hover{ background-color: #d1f7be; }
					
					ul#navigation-header li.toddler a { background-image: url('../../images/layout/nav-toddler.gif'); }
					ul#navigation-header li.toddler a.current,
					ul#navigation-header li.toddler ul.subnav li a:hover{ background-color: #bef7da; }
					
					ul#navigation-header li.child a { background-image: url('../../images/layout/nav-child.gif'); }
					ul#navigation-header li.child a.current,
					ul#navigation-header li.child ul.subnav li a:hover { background-color: #b9e2f4; }
					
					ul#navigation-header li.health-wellbeing a { background-image: url('../../images/layout/nav-healthwellbeing.gif'); }
					ul#navigation-header li.health-wellbeing a.current,
					ul#navigation-header li.health-wellbeing ul.subnav li a:hover { background-color: #b9bbf4; }
					
					ul#navigation-header li.lifestyle a { background-image: url('../../images/layout/nav-lifestyle.gif'); }
					ul#navigation-header li.lifestyle a.current,
					ul#navigation-header li.lifestyle ul.subnav li a:hover { background-color: #deb9f4; }
				
					/* Sub navigation dropdowns */
					ul#navigation-header li ul.subnav
					{
						border: 1px solid #8d8d8d;
						float: none;
						position: absolute;
						left: -999em;
						list-style: none;
						width: 208px;
						margin-left: -1px;
						/*z-index: 100;*/
					}
					
					ul#navigation-header li:hover ul.subnav,
					ul#navigation-header li.sfhover ul.subnav
					{
						left: auto;
					}
					
						ul#navigation-header li ul.subnav li
						{
							background: none;
							border: none;
							color: #898989;
							display: inline;
							float: none;
							font-size: 12px;
							margin: 0;
							width: 208px;
						}
						
						ul#navigation-header li ul.subnav li:hover,
						ul#navigation-header li ul.subnav li.sfhover
						{ border none; }
						
							ul#navigation-header li ul.subnav li a
							{
								background: #f6f6f6 url('../../images/layout/subnav-tab-bg.png') repeat-x left bottom;
								color: #898989;
								cursor: pointer;
								display: block;
								float: none;
								margin: 0;
								padding: 4px 15px 4px 15px;
								width: 178px;
							}
							
							ul#navigation-header li ul.subnav li a:hover 
							{ 
								background: transparent url('../../images/layout/subnav-hover-gettingpregnant.gif') repeat-x left bottom;
								margin: 0;
							}

							ul#navigation-header li.getting-pregnant ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-gettingpregnant.gif'); }
							ul#navigation-header li.pregnancy ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-pregnancy.gif'); }
							ul#navigation-header li.baby ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-baby.gif'); }
							ul#navigation-header li.toddler ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-toddler.gif'); }
							ul#navigation-header li.child ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-child.gif'); }
							ul#navigation-header li.health-wellbeing ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-healthwellbeing.gif'); }
							ul#navigation-header li.lifestyle ul.subnav li a:hover 
							{ background-image: url('../../images/layout/subnav-hover-lifestyle.gif'); }
				
				/* Last list item: Supplementary links */
				ul#navigation-header li.supplementary 
				{ 
					color: #898989;
					font-size: 12px;
					margin: 0;
				}
				
				ul#navigation-header li.supplementary:hover { border-color: #e8e8e8; }
				
					ul#navigation-header li.supplementary span
					{
						padding-left: 74px;
					}
				
					ul#navigation-header li.supplementary a
					{
						background: none;
						color: #898989;
						display: inline;
						float: none;
						padding: 0 0 0 5px;
					}
					
					ul#navigation-header li.supplementary a:hover
					{ text-decoration: underline; }
	
		div#header-bottom
		{
			background: #fff url('../../images/layout/header-bottom-bg.png') repeat-x left top;
			overflow: auto;
			margin: 0 12px 12px 12px;
			padding-top: 11px;
		}
		
			div#header-bottom img#calendar-strip
			{
				display: block;
				width: 630px;
				height: 45px;
				margin-right: 4px;
				float: left;
			}
			
			div#header-bottom form#form-search-header
			{
				margin-top: 6px;
			}
			
		/* Main content area */
		div#content
		{
			margin: 6px 12px 0 12px;
			overflow: auto;
		}

			/* Hero */		
			div#content div.hero 
			{
				overflow: auto;
			}
			
				div.hero ul.hero-links
				{
					display: block;
					float: left;
					list-style: none;
					margin-bottom: 14px;
					width: 196px;
				}
				
					ul.hero-links li 
					{ 
						display: inline; 
						padding: 0; 
					}
				
						ul.hero-links li a
						{
							background: transparent url('../../images/layout/hero-cta-link-bg.png') no-repeat right top;
							color: #345782;
							display: block;
							font-size: 14px;
							line-height: 14px;
							padding: 10px 16px 4px 10px;
						}
						div > ul.hero-links li a { padding: 10px 16px 8px 10px; }
						
						ul.hero-links li.current a
						{ 
							background: transparent url('../../images/layout/hero-cta-link-current-bg.png') no-repeat right top;
							color: #fff; 
						}
						div > ul.hero-links li.current a { padding: 12px 16px 10px 10px; }
						
							ul.hero-links li a img
							{
								display: block;
								float: left;
								margin-right: 12px;
								height: 30px;
								width: 30px;
							}
							
							ul.hero-links li a span
							{
								color: #72869a;
								display: block;
								font-size: 11px;
							}
							
							ul.hero-links li.current a span { color: #bac9d7; }
							
				
				div.hero div.hero-content
				{
					float: left;
					overflow: auto;
					margin: 0 0 12px 18px;
					padding: 0 0 0 8px;
					width: 729px;
				}
				
				div.hero div.baby 
				{ 
					background: transparent url('../../images/content/photo-hero-baby.jpg') no-repeat right -10px;
					height: 204px;
					padding-right: 400px;
					width: 329px;
				}
		
			/* Left column */
			div#content div.lcol
			{
				float: left;
				margin-bottom: 20px;
				width: 189px;
			}
				
				/* Side navigation */
				ul.navigation-side
				{
					border: 1px solid #e8e8e8;
					border-bottom: none;
					list-style: none;
					margin-bottom: 14px;
				}
				
					ul.navigation-side li
					{
						color: #72869a;
						display: inline;
						font-size: 12px;	
					}
					
						ul.navigation-side li a 
						{ 
							background: #fff url('../../images/layout/nav-tab-bg.png') repeat-x left top; 
							border-bottom: 1px solid #e8e8e8;
							color: #72869a; 
							display: block;
							padding: 2px 5px 3px 10px;
						}
						
						ul.navigation-side li a:hover 
						{
							background: #dfe3ec;
							text-decoration: none;
						}
						
					ul.navigation-side li.header
					{
						color: #fff; 
						font-size: 13px; /* 14px concept */
					}
					
					ul.navigation-side li.header a
					{ 
						background: #5d799b; 
						color: #fff; 
						padding: 6px 5px 4px 10px;
					}
					
					ul.navigation-side li.header a:hover
					{
						background: #5d799b; 
						color: #fff;
						text-decoration: underline;
					}
					
					ul.navigation-side li.current a
					{ 
						background: #72869a; 
						color: #fff; 
					}

					ul.navigation-side li.current a:hover
					{
						background: #72869a; 
						color: #fff;
						text-decoration: underline;
					}
					
					body.purple ul.navigation-side li a { color: #442E3E; }
					body.purple ul.navigation-side li a:hover { background: #e7d9e4; }
					body.purple ul.navigation-side li.header a { background: #685865; color: #fff; }
					body.purple ul.navigation-side li.header a:hover { background: #685865; }
					body.purple ul.navigation-side li.current a { background: #9c8c99; color: #fff; }
					body.purple ul.navigation-side li.current a:hover { background: #9c8c99; }
						
				/* Info box */
				div.info-panel
				{
					background: #fdf4fd;
					border-top: 1px solid #33142c;
					border-bottom: 1px solid #33142c;
					margin-bottom: 14px;
					padding: 15px 10px 19px 12px;
				}
				
				div.middle div.info-panel
				{
					background: #fff url('../../images/layout/content-info-panel-bg.png') repeat-x left top;
					border-top: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
					float: left;
					padding-bottom: 0;
					padding-right: 5px;
					width: 234px;
				}
				
					div.info-panel h5 
					{
						color: #442e3e;
						font-size: 18px;
						line-height: 20px
					}
					
					div.info-panel p
					{
						font-size: 12px;
						margin-bottom: 4px;
					}
					
						div.middle div.info-panel ul li 
						{ 
							background: none; 
							padding: 0;
						}
					
					div.middle div.info-panel img
					{
						margin-right: 10px;
					}
					
					div.info-panel li,
					div.info-panel a
					{ color: #442e3e; }
					
				div.account 
				{ background: #fdf4fd url('../../images/icons/icon-people-manwoman.png') no-repeat 90% 95%; }
				
				/* CTA links */
				ul.cta-links
				{
					border-top: 1px solid #e8e8e8;
					list-style: none;
					margin-bottom: 14px;
				}
				
					ul.cta-links li 
					{ 
						display: inline; 
						margin: 0; 
						padding: 0; 
					}
				
						ul.cta-links li a,
						ul.cta-links li div.action-block
						{
							background: #fff url('../../images/layout/cta-link-bg.png') repeat-x left top;
							color: #345782;
							display: block;
							font-size: 14px;
							line-height: 16px;
							height: 46px;
							padding: 12px 0 8px 10px;
						}
						
						div > ul.cta-links li a,
						ul.cta-links li div.action-block { padding: 12px 5px 12px 10px; }
						
						ul.cta-links li.first a
						{ background-image: url('../../images/layout/cta-link-first-bg.png'); }
						
							ul.cta-links li a img
							{
								display: block;
								float: left;
								margin-right: 12px;
								height: 30px;
								width: 30px;
							}
							
							ul.cta-links li a span
							{
								color: #72869a;
								display: block;
								font-size: 12px;
								padding-left: 42px;
							}
							
						ul.cta-links li div.action-block
						{
							background: #fff url('../../images/layout/cta-link-tall-bg.png') repeat-x left top;
							height: 1%;
							overflow: auto;
							padding-right: 5px;
							padding-bottom: 15px;
						}
						
							ul.cta-links li div.action-block p
							{
								color: #868686;
								display: block;
								font-size: 12px;
								margin-bottom: 0px;
							}
							
							ul.cta-links li div.action-block div.poll-result
							{
								clear: left;
								color: #868686;
								font-size: 12px;
								margin: 10px 0 0 0;	
							}

								ul.cta-links li div.action-block div.poll-result span
								{
									display: block;
									float: left;
									width: 60px;
								}
							
								ul.cta-links li div.action-block div.poll-result div
								{
									border-style: solid;
									border-color: #345781;
									border-width: 0;
									color: #345781;
									height: 1%;
									margin-left: 65px;
									padding-left: 4px;
								}
								
								ul.cta-links li div.action-block div.poll-result div.alt-col1
								{ color: #5d7a9c; border-color: #5d7a9c; }
								ul.cta-links li div.action-block div.poll-result div.alt-col2
								{ color: #7188a7; border-color: #7188a7; }
				
				/* Gradient BG box */
				div.gradbox
				{
					background: #eaeaec url('../../images/layout/gradbox-bg.png') repeat-x left bottom;
					border: 1px solid #e8e8e8;
					width: 187px;
				}
				
					div.gradbox h5
					{
						color: #345683;
						font-size: 14px;
						margin: 10px 12px 4px 12px;
					}
					
					div.gradbox p 
					{ 
						color: #718699; 
						font-size: 12px;
						margin: 0 12px 12px 12px; 
					}
					
					div.gradbox p.inline-cta 
					{ 
						color: #345683; 
						font-size: 13px;
						margin-top: -6px;
					}
					
					div.gradbox a { color: #345683; }

			/* Page content column */
			div#content div.middle
			{
				float: left;
				margin: 0 12px 0 24px;
				padding: 0 0 15px 0;
				width: 566px;
			}
			
				div.middle div.editable-content,
				div.middle div.static-content
				{
					overflow: auto;
					padding-left: 8px;
				}

					div.editable-content h1.no-sub,
					div.static-content h1.no-sub
					{ margin-bottom: 25px; }
					
					div.static-content h3 { margin-bottom: 0; }
					
					div.editable-content p.flow,
					div.static-content p.flow 
					{ margin-bottom: 14px; }
					
					div.editable-content p.no-sub,
					div.static-content p.no-sub
					{ margin-top: 4px; }
			
				/* Breadcrumb trail */
				div.breadcrumbs
				{
					color: #bfbfbf;
					font-size: 11px;
					line-height: 11px;
					margin-bottom: 11px;
				}
				
					div.breadcrumbs a { color: #bfbfbf; }
					
				div.middle p.list-caption { margin-bottom: 2px; }

				div.middle ul { margin-bottom: 12px; }
					
					div.middle ul li
					{
						font-size: 13px;
						line-height: 20px;
						list-style: none;
						background: transparent url('../../images/icons/bullet-disc-lightblue.gif') no-repeat left 9px;
						margin: 0 0 0 10px;
						padding: 0 0 0 10px;
					}
					
					body.purple div.middle div.static-content ul li
					{					
						background: transparent url('../../images/icons/bullet-arrow-darkpurple-small.gif') no-repeat left 7px;
						padding-left: 11px;
					}
					
				div.middle ol 
				{	
					list-style: decimal outside; 
					margin: 7px 0 22px 0;
				}
				
					div.middle ol li
					{
						font-size: 13px;
						line-height: 20px;
						margin: 0 0 12px 50px;
					}
					
				div.middle .right { margin: 0 0 12px 10px; }
				div.middle .left { margin: 0 15px 10px 0; }
				div.middle div.static-content .left { margin: 0 25px 10px 0; }
				
				p.inline-cta,
				p.inline-cta-alt-col 
				{
					color: #72869a;
					font-weight: bold;
					margin-top: -16px;
				}
				
				p.inline-cta-alt-col { color: #442E3E; }
				
					p.inline-cta a,
					p.inline-cta-alt-col a 
					{ font-weight: normal; }			
					
					p.inline-cta-alt-col a { color: #442E3E; }
					
				/* Site Map */
				div.middle ul.site-map { margin-bottom: 20px; }
				
					div.middle ul.site-map li
					{
						background: none;
						font-size: 12px;
						line-height: 18px;
						margin: 0;
						padding: 0;
					}
					
					div.middle ul.site-map li ul { margin-bottom: 0; }
					div.middle ul.site-map li li { padding-left: 35px; }
					
					div.middle ul.site-map li a { color: #36567d; }
					div.middle ul.site-map li li a { color: #406389; }
					div.middle ul.site-map li li li a { color: #72879c; }
				
				/* Boxout info boxes */
				div.boxout
				{
					background: #fff;
					border-top: 1px solid #d6dde5;
					border-bottom: 1px solid #d6dde5;
					clear: right;
					float: left;
					height: 100px;
					margin: 0 10px 10px 0;
					padding-bottom: 90px;
					position: relative;
					width: 182px;
				}
				
				div.last { margin-right: 0; }
				
				body.getting-pregnant div.b1 { background-color: #FDF1F1; }
				body.getting-pregnant div.b2 { background-color: #FDEBEB; }
				body.getting-pregnant div.b3 { background-color: #FCE4E4; }
				
				body.pregnancy div.b1 { background-color: #FAF5D8; }
				body.pregnancy div.b2 { background-color: #F8F2D0; }
				body.pregnancy div.b3 { background-color: #F9F1CC; }
				
				body.baby div.b1 { background-color: #F0FDEB; }
				body.baby div.b2 { background-color: #E9FBE1; }
				body.baby div.b3 { background-color: #E2FAD8; }
				
				body.toddler div.b1 { background-color: #EBFCF2; }
				body.toddler div.b2 { background-color: #DFFBED; }
				body.toddler div.b3 { background-color: #D5FAE8; }
				
				body.child div.b1 { background-color: #E9F6FC; }
				body.child div.b2 { background-color: #DFF2F9; }
				body.child div.b3 { background-color: #D6EEF8; }
				
				body.health-wellbeing div.b1 { background-color: #E9EAFC; }
				body.health-wellbeing div.b2 { background-color: #DFE1FA; }
				body.health-wellbeing div.b3 { background-color: #D6D6F8; }
				
				body.lifestyle div.b1 { background-color: #F5EAFB; }
				body.lifestyle div.b2 { background-color: #EFDFFA; }
				body.lifestyle div.b3 { background-color: #EBD5F9; }

					div.boxout h4
					{
						color: #575757;
						font-size: 15px; /* concept 16px */
						margin: 11px 0 4px 0;
						padding: 0 12px;
					}
					
						div.boxout h4 a { color: #575757; }
					
					div.boxout p
					{
						color: #757575;
						font-size: 13px;
						line-height: 16px;
						margin: 0;
						padding: 0 12px;
					}
					
					div.boxout img
					{
						position: absolute;
						left: 0;
						bottom: 0;
						width: 180px;
					}
				
				/* Related items box */
				div.related
				{
					background: #fff url('../../images/layout/related-bg.png') repeat-x left top;
					border-top: 1px solid #e8e8e8;
					border-bottom: 1px solid #e8e8e8;
					clear: both;
					height: 1%;
					margin: 10px 0;
					overflow: auto;
					position: relative;
				}
				
				div.middle div.first { margin-top: 0; }
				
					div.related h5
					{
						background: transparent url('../../images/icons/icon-people-woman.png') no-repeat left top;
						color: #442e3e;
						display: block;
						font-size: 18px;
						line-height: 22px;
						position: absolute;
						left: 8px;
						top: 8px;
						padding: 0 0 10px 35px;
						z-index: 100;
					}
					
					div.community h5 { background-image: url('../../images/icons/icon-clipboard.png'); }
						
						div.related h5 span
						{
							color: #755c6d;
							display: block;
							font-size: 16px;
						}
					
						div.related h5 a { color: #442e3e; }
					
					div.related img
					{
						display: block;
						position: absolute;
						left: 0;
						bottom: 0;
						z-index: 90;
					}
					
					/* Related items list */
					div.related ul
					{
						margin: 0 0 0 181px;
						padding: 0;
						width: 377px;
					}
					
						div.related ul li
						{
							background: transparent url('../../images/icons/bullet-arrow-purple-small.gif') no-repeat 10px 15px;
							border-bottom: 1px solid #eeeeee;
							font-size: 12px;
							line-height: 16px;
							min-width: 0;
							overflow: auto;
							height: 1%;
							margin: 0;
							padding: 10px 5px 8px 25px;
						}
						
						div.related ul li.last { border: none; }
						
							div.related ul li a
							{
								color: #6f597d;
								font-size: 13px;
								display: block;
							}
						
						div.related ul li.dark
						{ background-image: url('../../images/icons/bullet-arrow-darkpurple-small.gif'); }
							
							div.related ul li.dark a
							{
								color: #33142c;
								float: left;
							}
							
							div.related ul li.dark a.inset-bullet
							{
								background: transparent url('../../images/icons/bullet-arrow-darkpurple-small.gif') no-repeat left 5px;
								margin-left: 10px;
								padding-left: 14px;
							}
							
				/* Coloured boxes (eg for User data, Contact form, etc) */
				div.blue-box
				{
					background: #eaf3f2;
					border: 1px solid #72869a;
					margin-bottom: 15px;
					padding: 10px 10px 0 10px;
				}
				
					div.blue-box label { color: #72869a; }
					div.blue-box span.highlight { color: #345782; font-weight: normal; }
					
				div.purple-box
				{
					background: #fef4fd;
					border-top: 1px solid #34142c;
					border-bottom: 1px solid #34142c;
					margin-bottom: 15px;
					padding: 15px 10px 0 10px;
				}
				
					div.purple-box h2, 
					div.purple-box h3, 
					div.purple-box h4 
					{ margin-bottom: 10px; }
					
					div.purple-box p 
					{ 
						color: #868686; 
						margin-bottom: 14px; 
					}
					
					div.purple-box label { color: #816f7d; }
					
					div.purple-box span.rad-pair label,
					div.purple-box p.check-pair label 
					{ color: #868686; }
					
					div.purple-box span.highlight 
					{ 
						color: #442E3E; 
						font-weight: normal; 
					}
					
				div.header-box { padding-bottom: 3px; }
				
				div.grad-bottom-box
				{
					background: transparent url('../../images/layout/gradbottom-box-bg.png') repeat-x left bottom;
					margin-right: 13px;
					margin-bottom: 15px;
					height: 1%;
					padding: 0 5px 0 0;
				}
				
				div.extra-gap { margin-bottom: 25px; }
					
					div.grad-bottom-box p { color: #868686; }
					div.grad-bottom-box h2 { color: #345782; }
					div.grad-bottom-box h2.outside { margin-bottom: 8px; }
					div.grad-bottom-box label { color: #868686; }
					div.grad-bottom-box span.highlight { color: #757575; font-weight-normal; }
				
					div.grad-bottom-box div.inside,
					div.grad-bottom-box fieldset.inside
					{
						background-color: transparent;
						background-repeat: no-repeat;
						background-position: 8px top;
						height: 1%;
						padding-left: 50px; 
					}

					div.grad-bottom-box div.inside { padding-bottom: 20px; }
					
					div.grad-bottom-box div.icon-cal,
					div.grad-bottom-box fieldset.icon-cal
					{ background-image: url('../../images/icons/cta-link-calendar.jpg'); }

					div.grad-bottom-box div.icon-cube,
					div.grad-bottom-box fieldset.icon-cube
					{ background-image: url('../../images/icons/cta-link-buildingblock.jpg'); }
					
					div.grad-bottom-box div.icon-scales,
					div.grad-bottom-box fieldset.icon-scales
					{ background-image: url('../../images/icons/cta-link-scales.jpg'); }
					
						div.grad-bottom-box .inside h2 { margin-bottom: 0; }
						div.grad-bottom-box .inside p { margin-bottom: 14px; }
						
						div.grad-bottom-box div.inside p.action-print
						{
							background: transparent url('../../images/icons/icon-print.png') no-repeat left top;
							display: block;
							height: 20px;
							margin-bottom: 0;
							padding-left: 28px;
						}
				
				/* For competition entry boxes */
				div.comp 
				{ 
					border-top: 1px solid #e8e8e8; 
					padding-top: 10px;
				}
				
					div.comp h2 { font-size: 19px; line-height: 25px; }
					div.comp h3 { font-size: 15px; line-height: 21px; color: #757575; }
				
				/* Half/half coloured boxes for middle (content) column */
				div.half-boxout 
				{
					background: #fef4fd;
					border-color: #34142c;
					border: 1px solid;
					clear: right;
					float: left;
					margin-bottom: 12px;
					padding: 12px 12px 4px 12px;
					width: 252px; 
				}
				
				div.alt-col
				{
					background: #f5faff;
					border-color: #bdbcc4;	
				}
				
					div.half-boxout h2, div.half-boxout h3 { color: #442E3E; }
					div.half-boxout p {	color: #868686; margin-bottom: 10px; }
				
					div.half-boxout ul
					{
						border-top: 1px solid #eeeeee;
						margin: 0;
						padding: 0;
					}
					
					div.alt-col ul { border-color: #ecedef; }
				
						div.half-boxout ul li
						{
							background: transparent url('../../images/icons/bullet-arrow-purple-small.gif') no-repeat 2px 15px;
							border-bottom: 1px solid #eeeeee;
							color: #868686;
							font-size: 12px;
							line-height: 16px;
							min-width: 0;
							overflow: auto;
							height: 1%;
							margin: 0;
							padding: 10px 5px 10px 13px;
						}
						
						div.alt-col ul li { border-color: #ecedef; }	
						div.alt-layout ul li 
						{ 
							background-position: 2px 11px;
							margin: 0;
							padding: 6px 5px 6px 13px; 
						}	
						
						div.half-boxout ul li.last { border: none; }
						
							div.half-boxout ul li a
							{
								color: #442E3E;
								font-size: 13px;
								display: block;
							}
							
							div.alt-col ul li a { color: #6F597D; }	
						
						div.half-boxout ul li.dark
						{ background-image: url('../../images/icons/bullet-arrow-darkpurple-small.gif'); }
							
							div.half-boxout ul li.dark a
							{
								color: #33142c;
								float: left;
								height:1%;
							}
							
							div.half-boxout ul li.dark a.inset-bullet
							{
								background: transparent url('../../images/icons/bullet-arrow-darkpurple-small.gif') no-repeat left 5px;
								margin-left: 10px;
								padding-left: 11px;
							}
							
				/* List boxes (eg for Baby naming) for middle column */
				div.list-boxout
				{
					background: #f2f3f5;
					border-bottom: 1px solid #e8e8e8;
					float: left;
					width: 197px;
					margin-right: 15px;
				}
				
					div.list-boxout h3
					{
						background: transparent url('../../images/layout/list-boxout-bg.png') repeat-x left top;
						border-bottom: 1px solid #e8e8e8;
						color: #fff;
						display: block;
						height: 27px;
						margin: 0;
						padding: 4px 0 0 5px;
					}
					
					div.box-2 h3 { background-image: url('../../images/layout/list-boxout-box2-bg.png'); }
					div.box-3 h3 { background-image: url('../../images/layout/list-boxout-box3-bg.png'); }
					
						div.list-boxout h3 a 
						{
							background-color: transparent;
							background-repeat: no-repeat;
							background-position: left top;
							color: #fff;
							display: block;
							height: 24px;
							padding: 2px 0 0 5px; 
						}
						
						div.list-boxout h3 a.boys
						{ background-image: url('../../images/icons/round-boy.png'); padding-left: 31px; }
						div.list-boxout h3 a.girls
						{ background-image: url('../../images/icons/round-girl.png'); padding-left: 31px; }
					
					div.list-boxout ol 
					{ 
						list-style: decimal outside; 
						margin: 5px 0 7px 0;
					}
					
						div.list-boxout ol li 
						{ 
							color: #757575;
							font-size: 13px;
							line-height: 18px;
							margin-left: 37px;
							margin-bottom: 2px;
						}
						
						div.list-boxout ol li a { margin-left: 5px; }
						div.box-2 ol li a { color: #442f3e; }
						
					div.list-boxout ul.blocks 
					{ 
						list-style: none; 
						border-left: 1px solid #e8e8e8;
						margin: 0;
						overflow: auto;
					}
					
						div.list-boxout ul.blocks li
						{
							background: none;
							display: block;
							float: left;
							height: 1%;
							margin: 0; 
							padding: 0;
						}

						div.list-boxout ul.blocks li a
						{ 
							background: transparent  url('../../images/layout/list-boxout-block-bg.png') repeat-x left bottom;
							color: #757575;
							display: block;
							float: left;
							height: 24px;
							width: 30px;
							margin: 0;
							padding: 6px 0 0 0;
							text-align: center;
						}
						
						div.list-boxout ul.blocks li.alt a
						{ background-image: url('../../images/layout/list-boxout-block-alt-bg.png'); }
						
						div.list-boxout ul.blocks li.edge a
						{ border-right: 1px solid #e8e8e8; }
					
					div.list-boxout div.single
					{
						border-top: 1px solid #e8e8e8;
						background: transparent  url('../../images/layout/list-boxout-block-bg.png') repeat-x left bottom;
						font-size: 12px;
						height: 30px;
					}
					
						div.list-boxout div.single a
						{
							background-color: transparent;
							background-repeat: no-repeat;
							background-position: right 5px;
							color: #757575;
							display: block;
							height: 30px;
							margin-right: 10px;
							padding: 7px 25px 0 12px; 
						}
					
						div.list-boxout div.boys a
						{ background-image: url('../../images/icons/icon-boy.png'); }
						div.list-boxout div.girls a
						{ background-image: url('../../images/icons/icon-girl.png'); }
				
				div.box-2 { background: #fef4fd; }
				
				div.box-3
				{
					background: #fff;
					margin-right: 0;
					width: 122px;
				}
				
				/* Results list for a non sitewide search */
				div.results
				{
					margin: 0;
					padding: 7px 0 0 0;
				}
				
				div.compact
				{
					float: left;
					width: 408px;
					margin-right: 15px;
				}
				
					div.middle div.static-content div.results p.pager { margin: -1px 0 10px 0; }
					
						div.results p.pager a.current { font-size: 15px; }
						
					div.middle div.static-content div.results p.filter, 
					div.middle div.static-content div.results p.switcher
					{ margin: 0 0 10px 0; }
					
						div.results p.switcher a.boys { color: #345782; }
						div.results p.switcher a.girls { color: #A62AA6; }
				
					div.results ul.results-items
					{
						border-top: 1px solid #e8e8e8;
						clear: both;
					}
					
						div.results ul.results-items li
						{
							background: none;
							border-bottom: 1px solid #e8e8e8;
							display: block;
							margin: 0;
							padding: 10px 0 10px 0;
							height: 1%;
							overflow: auto;
						}
						
							div.results ul.results-items li h4 { font-size: 15px; }

							div.results ul.results-items li.boy h4 { color: #345782; }
							div.results ul.results-items li.girl h4 { color: #a62aa6; }
							div.results ul.results-items li.unisex h4 { color: #757575; }
							
							div.results ul.results-items li p { margin: 0 75px 0 0; }
							
							div.results ul.results-items li p.sex 
							{ 
								background-color: transparent;
								background-repeat: no-repeat;
								background-position: left top;
								display: block;
								float: right;
								line-height: 16px;
								margin: 0 8px 0 0; 
								padding: 2px 0 5px 25px;
								width: 22px;
							}
							
							div.results ul.results-items li.boy p.sex
							{ background-image: url('../../images/icons/icon-boy.png'); color: #345782; }
							div.results ul.results-items li.girl p.sex
							{ background-image: url('../../images/icons/icon-girl.png'); color: #a62aa6; }
							
							div.results ul.results-items li.unisex p.sex
							{ 
								background-image: url('../../images/icons/icon-unisex.png'); 
								padding: 5px 0 5px 27px;
								width: 20px;
							}

				/* Solid background boxes. E.g. For horoscope results */
				div.solid-block
				{
					background: #345782;
					height: 1%;
					overflow: auto;
					margin: 0 13px 15px 0;					
					padding: 15px 10px 0 20px;
				}
				
				div.type-a { background-color: #345782; }
				div.type-a h3 { color: #bac9d7; }
				div.type-b { background-color: #5e4b00; }
				div.type-b h3 { color: #d3cbb5; }
				div.type-c { background-color: #3c6127; }
				div.type-c h3 { color: #c1d1b6; }
				div.type-d { background-color: #982d2b; }
				div.type-d h3 { color: #ff9e8e; }

					div.solid-block h2
					{
						color: #fff;
						font-size: 18px;
						line-height: 24px;
						margin-bottom: 0;
					}
				
					div.solid-block h3 { margin-bottom: 3px; }
					
					div.solid-block p 
					{ 
						color: #fff;
						line-height: 22px;
						padding-right: 105px;
					}
			
			/* Right column */
			div#content div.rcol
			{
				float: left;
				margin-bottom: 20px;
				width: 160px;
			}
			
				/* Deep links panel */
				ul.deep-linking
				{
					border-top: 1px solid #d1d1d1;
					border-bottom: 1px solid #d1d1d1;
					margin-bottom: 14px;
				}
				
					ul.deep-linking li
					{
						background: #eeeaed;
						border-top: 1px solid #e8e8e8;
						color: #33142c;
						font-size: 12px;
						line-height: 16px;
						display: block;
						padding: 7px 10px 7px 10px;
					}
					
					ul.deep-linking li.header 
					{
						background: #8b7084 url('../../images/icons/icon-people-family.png') no-repeat 93% 10px;
						border: none;
						color: #fff;
						font-size: 14px;
						line-height: 18px;
						padding: 10px 45px 10px 10px;
					}
					
						ul.deep-linking li.header a { color: #fff; }
						ul.deep-linking li a { color: #33142c; }
		
		/* Footer area */
		div#footer-top
		{ 
			background: #f1f3f6; 
			border-bottom: 2px solid #d7e7e6;
			height: 325px;
			overflow: auto;
			padding: 18px 12px 22px 12px;
		}
		div > div#footer-top { height: 319px; }
		
			div#footer-top ul.navigation-footer-top
			{
				border-right: 1px solid #d8dadd;
				display: block;
				float: left;
				padding-top: 8px;
				width: 184px;
				height: 311px;
			}
			
			div#footer-top ul.last { border: none; }
			
				ul.navigation-footer-top li
				{
					color: #345782;
					font-size: 15px; /* 16px concept */
					margin: 0;
					padding: 0 10px 0 15px;
				}
				
				ul.navigation-footer-top li.title { padding-bottom: 7px; }
				
					ul.navigation-footer-top li a { color: #345782; }
					
					ul.navigation-footer-top li ul { padding-bottom: 10px; }
					
					ul.navigation-footer-top li ul li
					{
						color: #72869a;
						font-size: 12px;
						line-height: 16px;
						padding: 0 0 0 10px;
					}
						ul.navigation-footer-top li ul li a { color: #72869a; }
	
		div#footer-bottom
		{ 
			background: #345782 url('../../images/layout/footer-bg.png') no-repeat left bottom; 
			overflow: auto;
			padding: 12px 10px;
			width: 955px;
			height: 122px;
		}
		
			div#footer-bottom form#form-search-footer 
			{ 
				float: right; 
				margin: 7px 0 7px 10px;
				white-space: nowrap; width: 0; 
			}
			div > div#footer-bottom form#form-search-footer { width: auto; margin-right: 10px; }
		
			div#footer-bottom ul.navigation-footer-bottom
			{
				background: transparent url('../../images/layout/footer-bottom-nav-bg.gif') repeat-y right top;
				display: block;
				float: left;
				margin-bottom: 10px;
				padding-top: 5px;
				width: 186px;
				height: 106px;
			}
			
				ul.navigation-footer-bottom li
				{
					color: #bac9d7;
					margin: 0;
					padding: 0 10px 0 17px;
					line-height: 16px;
				}
				
				ul.navigation-footer-bottom li a { color: #bac9d7; }
		
		p#copyright 
		{ 
			clear: both;
			font-size: 12px;
			margin: 7px 26px; 
		}

/* Advertising */
div.ad
{
	background: #d5d5d5;
	color: #000;
	font-size: 15px;
}

div.ad-leaderboard
{
	float: left;
	width: 728px;
	height: 90px;
}

div.ad-widesky
{
	width: 160px;
	height: 600px;
}

div.ad-mpu
{
	width: 300px;
	height: 250px;
}

/* Forms */

/* Inline (eg search box) form styles */
div.form-inline label { margin-right: 10px; }
div.form-inline label.accessibility { display: none; }

div.form-inline fieldset { overflow: auto; margin: 0; }
div.form-inline fieldset.inside { padding-bottom: 15px; }

div.form-inline input.field,
div.form-inline select.field
{
	border: solid 2px #ececec;
	color: #858585;
	float: left;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial sans-serif;
	font-size: 12px;
	margin-right: 10px;
	padding: 6px;
	width: 222px;
}

div.form-inline input.large,
div.form-inline select.large
{ width: 310px; }

div.form-inline p.button-container	
{
	background: transparent url('../../images/buttons/button-grey.gif') no-repeat left top;
	cursor: pointer;
	display: block;
	float: left;
	height: 21px;
	margin: 5px 0 0 0;
	padding: 0 0 0 7px;
}

	div.form-inline p.button-container input
	{
		background: transparent url('../../images/buttons/button-grey.gif') no-repeat right -21px;
		border: none;
		color: #fff;
		cursor: pointer;
		font-size: 12px;
		margin: 0;
		padding: 0 7px 0 0;
		height: 21px;
		width: 0; overflow: visible;
	}
	
	body div > div.form-inline p.button-container input { width: auto; }

div.form-inline p.blue,
div.form-inline p.blue input
{ background-image: url('../../images/buttons/button-blue.gif'); }

div.form-inline p.purple,
div.form-inline p.purple input
{ background-image: url('../../images/buttons/button-purple.gif'); }

/* Block (main) form styles */
div.form-block { clear: both; }

	div.form-block .left { margin: 0 35px 5px 0; }
	div.form-block .extra-gap { margin: 0 93px 15px 0; }
	
	div.form-block fieldset { position: relative; }
	
	div.form-block fieldset.section-divider 
	{ 
		border-bottom: 1px solid #d6d0d4; 
		margin-bottom: 15px;
	}

	div.form-block label
	{
		display: block;
		font-size: 14px;
		margin-bottom: 4px;
	}
	
	div.form-block input.field,
	div.form-block select.field,
	div.form-block textarea.field
	{
		background: #fff;
		border: 1px solid #72869a;
		color: #757575;
		font-size: 13px;
		margin-bottom: 15px;
		padding: 2px 4px;
		width: 238px;
	}

	div.form-block input.small { width: 113px; }	
	div.form-block input.medium { width: 158px; }
	div.form-block input.two-char { width: 26px; margin-right: 5px; }
	div.form-block input.four-char { width: 30px; margin-right: 5px; }
	
	div.form-block select.field { width: 228px; }
	div.form-block select.small { width: 133px; }
	div.form-block select.medium { width: 163px; }
	
	div.form-block textarea.field 
	{ 
		font-size: 13px;
		height: 108px;
		width: 538px;
	}

	div.form-block p.button-container,
	div.form-mini p.button-container
	{
		background: transparent url('../../images/buttons/button-grey.gif') no-repeat left top;
		clear: both;
		cursor: pointer;
		display: block;
		height: 21px;
		margin: 0 0 20px 0;
		padding: 0 0 0 7px;
	}

		div.form-block p.button-container input,
		div.form-mini p.button-container input
		{
			background: transparent url('../../images/buttons/button-grey.gif') no-repeat right -21px;
			border: none;
			clear: both;
			color: #fff;
			cursor: pointer;
			display: inline;
			font-size: 12px;
			margin: 0;
			padding: 0 7px 0 0;
			height: 21px;
			width: 0; overflow: visible;
		}
		
		body div > div.form-block p.button-container input,
		body div > div.form-mini p.button-container input,
		body div li > div.form-mini p.button-container input { width: auto; }
		
	div.form-block p.blue, div.form-mini p.blue,
	div.form-block p.blue input, div.form-mini p.blue input,
	{ background-image: url('../../images/buttons/button-blue.gif'); }
	
	div.form-block p.purple, div.form-mini p.purple,
	div.form-block p.purple input, div.form-mini p.purple input
	{ background-image: url('../../images/buttons/button-purple.gif'); }
		
	div.form-block p.section-button
	{
		position: absolute;
		margin-bottom: 0;
		bottom: 15px; right: 0;
	}
	
	div.form-block p.section-cta 
	{ 
		font-size: 12px; /* concept 11px */
		line-height: 22px;
		position: absolute;
		top: 0; right: 0;
	}
	
	div.form-block a.field-note { margin-left: 10px; }
	
	/* Radio button and label pair */
	div.form-block span.rad-pair 
	{ 
		display: block; 
		margin: 4px 0 0 0;
	}
	
		div.form-block span.rad-pair input 
		{ 
			margin: 0 5px 0 15px; 
			vertical-align: middle;
		}
		
		div.form-block span.rad-pair label
		{
			display: inline;
			font-size: 13px;
			line-height: 18px;
		}

	/* Checkbox and label pair */
	div.form-block p.check-pair
	{ 
		display: block; 
	}
	
		div.form-block p.check-pair input 
		{ 
			margin: 0 5px; 
			vertical-align: middle;
		}
		
		div.form-block p.check-pair label
		{
			display: inline;
			font-size: 13px;
			line-height: 18px;
		}

div.form-mini { clear: both; }

	div.form-mini label
	{
		color: #868686;
		display: inline;
		font-size: 12px;
		margin-bottom: 4px;	
		vertical-align: middle;
	}
	
	div.form-mini span.rad-pair 
	{ 
		display: block; 
		margin: 4px 0 0 0;
	}
	
		div.form-mini span.rad-pair input 
		{ 
			margin: 0 5px 0 15px; 
			vertical-align: middle;
		}
		
		div.form-mini div.inset { padding: 8px 5px 0 15px; }
		
/* Validation errors etc */
div.form-block div.error,
div.form-mini div.error
{
	background: #442E3E;
	margin-bottom: 5px;
	padding: 5px;
}

	div.form-block div.error label,
	div.form-mini div.error label
	{ color: #fff; }
	
	div.form-block div.error label span.highlight,
	div.form-mini div.error label span.highlight
	{ color: #fff; font-size: 12px; }

	div.form-block div.error input,
	div.form-mini div.error input,
	div.form-block div.error select,
	div.form-mini div.error select
	{ margin-bottom: 5px; }

div.form-block p.warning,
div.form-mini p.warning
{
	color: red;
	font-size: 12px;
	margin-top: 3px;
	margin-left: 20px;
}

/* Misc helpers */

.right { display: block; float: right; }
.left { display: block; float: left; }
.middle { vertical-align: middle; }
.clear { clear: both; }
.remove { display: none; }
.nogap { margin-bottom: 0; }

.no-vis
{
    padding: 0; margin: 0;
    font-size: 0; line-height: 0;
    height: 0; width: 0;
    text-indent: -2000px;
}