/*
	Mark Wood, Explorer
	-------------------
	File:		main.css
	Created:	23rd February 2009
	Author:		Joel Parr
	
	Typography
	----------
	Sans-Serif (Main Body):	"Lucida Grande", "Trebuchet MS", 
							Helvetica, Verdana, Arial, sans-serif

	Sans-Serif (Headings):	"Gill Sans", "Gill Sans MT", "Trebuchet MS", 
							Helvetica, Arial, Verdana, sans-serif	
	
	Colors
	------
	Body BG:				#fff
	Main Body BG:			#fff
	Expedition BG:			#f2f2f2
	Top Nav Tab:			#7b7b87
	Photobox BG:			#7b7b87
	Footer BG:				#7b7b87
	
	Top Nav Text:			#404040
	Photobox Text:			#fff
	Heading Text:			#000
	Body Text:				#000
	Footer Text:			#fff

	Link Text:				#00b2ff
	Dark BG Link Text:		#70d2fd
	Orange Text:			#ffb950
*/

/* 
	Generic Styles
	--------------
*/

body 
{
    /* background: #eee url('../../images/grid.png') no-repeat left top; */
    background: #fff url('../../images/body-bg.gif') repeat left top;
    color: #000; 
	font: normal 0.75em "Lucida Grande", "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
	margin: 0; padding: 0; 
	text-align: center;
}

h3, h4, h5
{
	font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
}

strong, em
{
    font-weight: bold;
}

h1
{
	color: #000; 
	font-size: 1.4em; 
    margin: 0; padding: 0 0 4px 0;
}

h2
{
	color: #000; 
	font-size: 1.3em; 
    margin: 0; padding: 0 0 4px 0;
}

h3
{
	color: #000; 
	font-size: 1.2em; 
    margin: 0; padding: 0 0 4px 0;
}

h4
{
	color: #000; 
	font-size: 1.2em; 
    margin: 0; padding: 0 0 4px 0;
}

h5
{
	color: #000; 
	font-size: 1.1em; 
    margin: 0; padding: 0 0 4px 0;
}

h6
{
	color: #000; 
	font-size: 1.1em; 
    margin: 0; padding: 0 0 4px 0;
}

p
{
	color: #000; 
	font-size: 1em; 
    margin: 0; padding: 0 0 2px 0;	
}

a, a:active, a:visited
{
	color: #00b2ff; 
	text-decoration: none;
}
	a:hover { text-decoration: underline; }
	
a.readmore 
{ 
	display: block; 
	margin-top: 5px;
	text-align: right; 
}

.highlight { color: #ffb950; }

fieldset
{
	margin: 0; padding: 2px 0;
}

input.textfield
{
	background: #eee;
	border: none;
	color: #3e3e3e;
	font-size: 0.8em;
	margin: -3px 0 0 0; padding: 2px;
	vertical-align: middle;
	width: 75px;
}

input.button
{
	background: #7b7b87;
	border: none;
	color: #fff;
	font-size: 0.8em;
	margin: -3px 0 0 -5px; padding: 2px;
	text-transform: uppercase;
	vertical-align: middle;
}

/* 
	Layout Styles
	-------------

	Container to hold all content
	- Centered
*/

div#container
{
	background: none;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	width: 850px; /*old: 790px*/
}

/* 
	Top navigation area:
	- Width: 750px (old: 690px)
	- Margin of 31px each side for gradient and indent
*/

div#top-navigation
{
	background: #fff;
	float: left;
	margin: 0 31px;
	padding: 22px 15px 0 25px;
	height: 36px;
	width: 750px; /*old: 690px*/
}

	/* Site logo */

	div#top-navigation h1 { float: left; padding: 0; }
	
		div#top-navigation h1 a
		{
			background: #fff url('../../images/logo.png') no-repeat left top; 
			display: block;
			height: 19px; width: 258px; 
			text-indent: -5000px;
		}

	/* Navigation list */

	div#top-navigation ul
	{
		display: block; 
		float: left;
		list-style: none; 
		margin: -3px 0 0 35px; /*old: margin-left: 0*/
		padding: 0;
	}
	
		div#top-navigation li 
		{ 
			display: inline; 
			float: left; 
			margin-left: 12px; 
			position: relative;
			z-index: 100;
		}
		
		div#top-navigation li.selected
		{
				background: transparent url('../../images/topnav-button-left.png') no-repeat left top;
				padding-left: 10px;
		}
		
			div#top-navigation li a
			{
				color: #000;
				display: block;
				font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", Helvetica, Arial, Verdana, sans-serif;
				font-size: 1.2em;
				padding-top: 5px;
				text-decoration: none;
				text-transform: uppercase;
			}
			div#top-navigation li a:hover { color: #ffb950; }
				
			div#top-navigation li.selected a
			{ 
				background: transparent url('../../images/topnav-button-right.png') no-repeat right top;  
				color: #fff;
				padding-right: 10px;
				padding-bottom: 8px;
			}
			div#top-navigation li.selected a:hover { color: #eee; }

			div#top-navigation li div.submenu
			{
				background: transparent url('../../images/topnav-submenu-corner-right.gif') no-repeat right top;
				position: absolute;
				padding-right: 7px;
			}
		
				div#top-navigation li div.submenu ul
				{
					background: transparent url('../../images/topnav-submenu-corner-left.gif') no-repeat left top;
					display: block;
					margin: 0; 
					padding: 16px 0 0 1px;
				}
				
				div#top-navigation li div.submenu ul li
				{
					background: #fff;
					display: block;
					float: none;
					margin: -1px -6px 0 0; 
					padding: 4px 8px;
					width: 12em;
				}
				
					div#top-navigation li div.submenu ul li a
					{
						height: 1.2em;
						padding: 0; margin: 0;
					}
/* 
	Photobox:
	- Width: 850px (old: 790px)
	- Height: 371px (old: 372px)
*/
	
div#photobox
{
	background: transparent url('../../images/photobox-bg-wide.png') no-repeat left top; 
	behavior: url('include/js/iepngfix.htc'); /*IE6*/
	float: left;
	margin-left: 15px; /*IE6*/
	margin-top: -19px;
	padding: 35px 18px 15px 18px;
	height: 321px; /*old: 371px*/
	width: 814px; /*old: 754px*/
}
div#container > div#photobox { margin-left: 0; }

	div#photobox-pics { height: 255px; }
	
	div#photobox-pics img
	{
		border: none;
		height: 255px;
		width: 815px; /*old: 754px*/
	}
	
		div#photobox a#next-photo-button
		{
			background: transparent url('../../images/button-next2.png') no-repeat left top; 
			behavior: url('include/js/iepngfix.htc'); /*IE6*/
			cursor: hand; 
			display: block;
			float: right;
			margin: -13px -5px 0 0;
			height: 26px; width: 26px;
			position: relative;
			text-indent: -5000px;
			z-index: 200;
		}
		div#photobox > a#next-photo-button { margin-right: -10px; }
		div#photobox a#next-photo-button:hover { background-position: left -26px; }
		
		div#photobox h2
		{
			color: #fff;
			font-size: 1em;
			line-height: 1.5em;
			padding: 11px 35px;
		}
		
		div#photobox a { color: #70d2fd; }
	
/* 
	Main content text area:
	- Left column: 530px
	- Sidebar: 200px
*/
	
div#content
{
	background: #fff;
	float: left;
	margin: -18px 31px 0 31px;
	padding: 0;
	width: 790px; /*old: 730px*/
}
	
	div#content div#content-left
	{
		float: left;
		padding: 0 15px 5px 15px;
		width: 540px; /*old: 500px*/
	}
	
		div#content-left div#content-intro
		{
			background: transparent url('../../images/intro-bg-wide.png') no-repeat left top;
			margin-bottom: 15px;
			padding: 20px;
			height: 170px;
			width: 484px; /*old: 430px*/
		}
		
			div#content-intro h3
			{
				font-size: 1.8em;
				text-transform: uppercase;
				padding-bottom: 10px;
			}
			
			div#content-intro img
			{
				behavior: url('include/js/iepngfix.htc'); /*IE6*/
				display: block;
				float: left;
				margin-right: 20px;
			}
			
			div#content-intro p { margin-top: 10px; }
			div#content-intro p strong { display: block; }
			
		div#content-left div.blogpost
		{
			margin: 0 25px 10px 20px;
		}
		
			div.blogpost h5
			{	
				color: #3e3e3e; 
				font-size: 1.4em;
				line-height: 1.1em;
			}
			
				div.blogpost h5 span 
				{
					color: #656565;
					display: block;
					font-size: 0.7em;
					padding-bottom: 10px;
				}

			div.blogpost p { margin: 5px 0; }
				
			div.blogpost img
			{
				display: block;
				float: left;
				margin-right: 15px;
			}
			
			div.blogpost p.blogpost-footer
			{
				font-size: 0.9em;
				padding: 10px 0;
			}
			
	div#content div#sidebar
	{
		float: left;
		padding-top: 22px;
		width: 220px;
	}
	
		div#sidebar h4
		{
			border-bottom: 5px solid #000;
			color: #000;
			display: block;
			font-size: 1.8em;
			line-height: 0.9em;
			padding: 0;
			text-transform: uppercase;
		}

		div#sidebar ul { margin: 18px 0; line-height: 1.4em; }
		div#sidebar img { margin: 18px 0; }
		
		div#sidebar a { color: #000; }
		div#sidebar a:hover { color: #00b2ff; text-decoration: none; }
		
		div#sidebar a.rss-link 
		{ 
			background: transparent url('../../images/icon-rss.png') no-repeat right top; 
			padding-right: 17px;
		}
	
/* 
	Footer:
	- Width: 925px
	- BG image provides gradient of 25px each side
*/

div#footer
{
	background: transparent url('../../images/footer-bg-wide.png') no-repeat left top; 
	behavior: url('include/js/iepngfix.htc'); /*IE6*/
	float: left;
	margin-left: 15px; /*IE6*/
	margin-top: -19px;
	padding: 10px 18px 0 18px;
	height: 100px;
	width: 814px; /*old: 754px*/
}
div#container > div#footer { margin-left: 0; }

	div#footer div#footer-left
	{
		float: left;
		padding: 25px 0 0 25px;
	}
	
		div#footer-left h6
		{
			color: #ffb950;
			font-size: 1em;
			padding-bottom: 2px;
		}
		
			div#footer-left p { color: #fff; }
			
			div#footer-left a 
			{ 
				color: #70d2fd;
				text-decoration: none;
			}
			div#footer-left a:hover { text-decoration: underline; }
	
			div#footer-left ul
			{
				float: left;
				list-style: none;
				color: #fff;
			}
		
				div#footer ul li { display: inline; }
				
	div#footer div#footer-right
	{
		float: right;
		padding: 20px 25px 0 0;
	}
		
		div#footer-right a#logo-rgs
		{
			background: transparent url('../../images/footer-logo-rgs.png') no-repeat left top; 
			float: left;
			margin: 6px 10px 0 0;
			height: 52px;
			width: 117px;
			text-indent: -5000px;
		}
		div#footer-right a#logo-rgs:hover
		{ background-position: left -51px; }
		
		div#footer-right a#logo-sbx
		{
			background: transparent url('../../images/footer-logo-sbx.png') no-repeat left top; 
			float: left;
			height: 62px;
			width: 62px;
			text-indent: -5000px;
		}
		div#footer-right a#logo-sbx:hover
		{ background-position: left -62px; }