body
{
    font: normal 1em Georgia, serif; color: #fff;
    background: #000 url("../../images/layout/BodyBGPattern.jpg") 0 0 repeat;
}

h1 
{ 
    text-indent: -2000px; 
}

h2, h3 
{ 
    font-size: 2em; font-weight: normal; float: left; padding: 0 4px 12px 4px; 
    background: transparent url("../../images/layout/BarBG.png") left bottom repeat-x;
}

h3 
{ 
    color: #909090; 
}

p 
{ 
    font-size: 1.6em; line-height: 1.3em; clear: both;
    padding: 6px 4px 12px 4px; color: #fff;
}

a, a:link, a:active, a:visited
{
    padding: 0 3px; text-decoration: none; color: #303030;
    background:transparent url("../../images/layout/LinkBGSprite.png") 0 -84px repeat-x; 
}

a:hover 
{ 
    background:transparent url("../../images/layout/LinkBGSprite.png") 0 -209px repeat-x;  
}

div#container 
{
    padding: 19% 10px 19% 75px; 
}

div#text
{
    float: left;
}

p#footer 
{
    background: transparent url("../../images/layout/BarBG.png") 0 -174px repeat-x;
    font-size: 0.9em; padding: 0 4px 10px 4px; float: left; margin-top: 8px; color: #656565;
}

    p#footer small 
    { 
        font-size: 0.75em; 
    }
    
    p#footer a, p#footer a:link, p#footer a:active, p#footer a:visited 
    { 
        padding: 0 2px; background: none; 
        color: #656565; text-decoration: none; 
    }
    
    p#footer a:hover 
    { 
        color: #303030; 
        background:transparent url("../../images/layout/LinkBGSprite.png") 0 -224px repeat-x; 
    }