<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/20100512.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Family Service - Contact</title>
</head>
<body id="static-page" class="blue">
    <div id="container">
    	<div id="main-content">
			<!-- Header area -->
			<div id="header-top">
				<a href="#" id="main-logo" title="Link to Family Service Homepage">Family Service</a>
				<div class="ad ad-leaderboard">Advertising: Leaderboard</div>
			
				<!-- Top navigation - inc nav menu and search bar -->
				<ul id="navigation-header">
					<li class="getting-pregnant"><a href="#">Getting Pregnant</a></li>
					<li class="pregnancy">
						<a href="#">Pregnancy</a>
						<ul class="subnav">
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>	
						</ul>
					</li>
					<li class="baby"><a href="#">Baby</a></li>
					<li class="toddler"><a href="#">Toddler</a></li>
					<li class="child"><a href="#">Child</a></li>
					<li class="health-wellbeing"><a href="#">Health &amp; Wellbeing</a></li>
					<li class="lifestyle"><a href="#">Lifestyle</a></li>
					<li class="supplementary">
						<span>
							<a href="#" title="Link to: About Family Service">About Family Service</a>
							<a href="#" title="Link to: Advertise">Advertise</a>
						</span>
					</li>
				</ul>
			</div>
			
			<!-- Pregnancy calendar and search -->
    		<div id="header-bottom">
				<img id="calendar-strip" src="images/content/calendar-strip.png" alt="Image: Pregnancy Calendar" />
				<div class="form-inline">
					<form id="form-search-header" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
    		</div>
    		
    		<!-- Main page content container -->
    		<div id="content">
    			<!-- Left column -->
    			<div class="lcol">    				
    				<!-- Account status panel -->
    				<div class="info-panel account">
    					<h5><a href="#">My Family Service</a></h5>
    					<p>You are signed in as<br/>
    					<a href="#" title="Link to: Manage account for Alice Herberts">Alice Herberts</a></p>
    					<p>Your account details are<br/>
    					45% complete. <a href="" title="Link to: Add more accouny details">Add more</a></p>
    					<ul>
    						<li>&gt; <a href="#" title="Link to: Manage account">Manage account</a></li>
    						<li>&gt; <a href="#" title="Link to: Log out">Log out</a></li>
    					</ul>
    				</div>
    			</div>
    			
    			<!-- Middle column: main content area -->
    			<div class="middle">
    				<div class="static-content">
						<!-- Breadcrumb trail -->
						<div class="breadcrumbs">Contact Family Service</div>
						
						<h1>Contact Family Service</h1>
						<p class="flow no-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut interdum facilisis 
						massa, porta egestas nisi facilisis et.</p>
						
						<div class="left">
							<h3>General Enquiries</h3>
							<p class="flow">Telephone: + 44 207 495 6000<br/>
							Fax: + 44 207 495 6331<br />
							Email: <a href="mailto:uk@familyservice-int.com" title="Send email to: uk@familyservice-int.com">
							uk@familyservice-int.com</a></p>
							
							<p>Postal Address: Mansion House,<br />
							101 Marlborough Gardens, London, WC1 4RT</p>
						</div>
						<div class="left last">
							<h3>Advertising Sales</h3>
							<p class="flow">Telephone: + 44 207 495 6050<br />
							Email: <a href="mailto:advertising@familyservice-int.com" title="Send email to: advertising@familyservice-int.com">
							advertising@familyservice-int.com</a></p>
							
							<h3>Partnership & product sampling</h3>
							<p>Telephone: + 41 851 558 4251<br />
							Email: <a href="mailto:marketing@familyservice-int.com" title="Send email to: marketing@familyservice-int.com">
							marketing@familyservice-int.com</a></p>
						</div>
					</div>
					
					<!-- Contact form -->
					<div class="form-block blue-box">
						<h2>Send an Enquiry</h2>
						<p>Consectetur adipiscing elit. Praesent sagittis lectus non velit faucibus aliquet.<br/>
						<strong>Required fields are marked with an <span class="highlight">*</span></strong></p>
						<form id="form-contact" action="#" method="post">
							<fieldset>
								<div>
									<label for="contact-name">Name <span class="highlight">*</span></label>
									<input id="contact-name" type="text" name="contact-name" class="field" />
								</div>
									
								<div class="left clear">
									<label for="contact-email">Email Address <span class="highlight">*</span></label>
									<input id="contact-email" type="text" name="contact-email" class="field" />
									
									<label for="contact-nature">Nature of your enquiry <span class="highlight">*</span></label>
									<select id="contact-nature" name="contact-nature" class="field">
										<option value="0">Advertising enquiry</option>
										<option value="1">Partnership enquiry</option>
										<option value="2">Product sampling</option>
									</select>
								</div>

								<div class="left">
									<label for="contact-telephone">Telephone Number <span class="highlight">*</span></label>
									<input id="contact-telephone" type="text" name="contact-telephone" class="field medium" />							
								</div>

								<label class="clear" for="contact-enquiry">What would you like to know? <span class="highlight">*</span></label>
								<textarea id="contact-enquiry" name="contact-enquiry" class="field"></textarea>								
								
								<p class="button-container"><input name="contact-submit" type="submit" value="Submit Enquiry" title="Click to submit enquiry" /></p>
							</fieldset>
						</form>
					</div>
					
					<div class="ad ad-mpu left">Advertising: MPU</div>
					
					<!-- Info panel -->
    				<div class="info-panel">
    					<h5><a href="#">Your details are 45% complete</a></h5>
    					<p>Add more information about you, your partner and your children 
    					<img src="images/content/photo-babybath.png" class="right" alt="Image: Baby in bath" /> 
    					and get even more from Family Service</p>
    					<ul>
    						<li>&gt; <a href="#" title="Link to: Manage account">Add more to your account</a></li>
    					</ul>
    				</div>
    			</div>
    			
    			<!-- Right column -->
    			<div class="rcol">    				
    				<div class="ad ad-widesky">Advertising: Wide Sky</div>
    			</div>
    		</div>
    		
    		<!-- Footer top - quick sitemap -->
			<div id="footer-top">
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Getting Pregnant</a>
						<ul>
							<li><a href="#">Pre-conception</a></li>
							<li><a href="#">Fertility</a></li>
							<li><a href="#">Are you ready for a baby?</a></li>
							<li><a href="#">Boy or girl?</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Jokes</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pregnancy</a>
						<ul>
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Giving birth</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Baby</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Toddler</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Child</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li class="title"><a href="#">Health &amp; Wellbeing</a></li>
					<li>
						<a href="#">Lifestyle</a>
						<ul>
							<li><a href="#">Fitness</a></li>
							<li><a href="#">Sex</a></li>
							<li><a href="#">Style &amp; beauty</a></li>
							<li><a href="#">Relationships</a></li>
							<li><a href="#">Parenting style</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Money &amp; Work</a>
						<ul>
							<li><a href="#">Returning to work</a></li>
							<li><a href="#">Family finances</a></li>
							<li><a href="#">Wills, insurance &amp; taxation</a></li>
							<li><a href="#">Work life balance</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Family Life</a>
						<ul>
							<li><a href="#">Family</a></li>
							<li><a href="#">Friends</a></li>
							<li><a href="#">Dads</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Community</a>
						<ul>
							<li><a href="#">About out forums</a></li>
							<li><a href="#">Register</a></li>
							<li><a href="#">Search</a></li>
							<li><a href="#">Expert forums</a></li>
							<li><a href="#">Community forums</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top last">
					<li class="title"><a href="#">Trimester Guide</a></li>
					<li>
						<a href="#">Trimester 1</a>
						<ul>
							<li><a href="#">Weeks 1 to 13</a></li>
							<li><a href="#">Trimester 1 fetal growth</a></li>
							<li><a href="#">Trimester 1 health</a></li>
							<li><a href="#">Trimester 1 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 2</a>
						<ul>
							<li><a href="#">Weeks 14 to 27</a></li>
							<li><a href="#">Trimester 2 fetal growth</a></li>
							<li><a href="#">Trimester 2 health</a></li>
							<li><a href="#">Trimester 2 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 3</a>
						<ul>
							<li><a href="#">Week 28 to birth</a></li>
							<li><a href="#">Trimester 3 fetal growth</a></li>
							<li><a href="#">Trimester 3 health</a></li>
							<li><a href="#">Trimester 3 tests &amp; scans</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
			<!-- Footer bottom - supplementary links -->
			<div id="footer-bottom">
				<ul class="navigation-footer-bottom">
					<li><a href="about-us.html">About us</a></li>
					<li><a href="help.html">Help</a></li>
					<li><a href="contact-us.html">Contact us</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
					<li><a href="privacy-policy.html">Privacy Policy</a></li>
				</ul>
				<ul class="navigation-footer-bottom">
					<li><a href="advertising.html">Advertise on Family Service</a></li>
					<li><a href="partnerships.html">Partnership opportunities</a></li>
					<li><a href="product-sampling.html">Product Sampling</a></li>
					<li><a href="mailings.html">Mailings</a></li>
					<li><a href="print-advertising.html">Print Advertising</a></li>
				</ul>
				<div class="form-inline">
					<form id="form-search-footer" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container blue"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
			</div>
    	</div>
		
		<p id="copyright">Copyright &copy; Family Service International 2009</p>
    </div>
</body>
</html>