<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Family Service - Login</title>
</head>
<body id="static-page" class="purple">
    <div id="container">
    	<div id="main-content">
			<!-- Header area -->
			<div id="header-top">
				<a href="#" id="main-logo" title="Link to Family Service Homepage">Family Service</a>
				<div class="ad ad-leaderboard">Advertising: Leaderboard</div>
			
				<!-- Top navigation - inc nav menu and search bar -->
				<ul id="navigation-header">
					<li class="getting-pregnant"><a href="#">Getting Pregnant</a></li>
					<li class="pregnancy">
						<a href="#">Pregnancy</a>
						<ul class="subnav">
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>	
						</ul>
					</li>
					<li class="baby"><a href="#">Baby</a></li>
					<li class="toddler"><a href="#">Toddler</a></li>
					<li class="child"><a href="#">Child</a></li>
					<li class="health-wellbeing"><a href="#">Health &amp; Wellbeing</a></li>
					<li class="lifestyle"><a href="#">Lifestyle</a></li>
					<li class="supplementary">
						<span>
							<a href="#" title="Link to: About Family Service">About Family Service</a>
							<a href="#" title="Link to: Advertise">Advertise</a>
						</span>
					</li>
				</ul>
			</div>
			
			<!-- Pregnancy calendar and search -->
    		<div id="header-bottom">
				<img id="calendar-strip" src="images/content/calendar-strip.png" alt="Image: Pregnancy Calendar" />
				<div class="form-inline">
					<form id="form-search-header" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
    		</div>
    		
    		<!-- Main page content container -->
    		<div id="content">
    			<!-- Left column -->
    			<div class="lcol">    				
    				<!-- Side navigation -->
    				<ul class="navigation-side">
    					<li class="header user-header"><a href="#">Pregnancy</a></li>
    					<li><a href="#">Giving birth</a></li>
    					<li><a href="#">Health during pregnancy</a></li>
    					<li><a href="#">Changing lifestyle</a></li>
    					<li><a href="#">Preparing for baby's arrival</a></li>
    					<li><a href="#">Family life</a></li>
    					<li class="current user-current"><a href="#">Dads</a></li>
    					<li><a href="#">Miscarriage &amp; loss</a></li>
    					<li><a href="#">Tools</a></li>
    				</ul>
    			</div>
    			
    			<!-- Middle column: main content area -->
    			<div class="middle">					
					<!-- User form -->
					<div class="form-block purple-box">
						<h1><img src="images/icons/icon-people-manwoman.png" alt="Image: Icon of Man &amp; Woman" class="middle" /> 
						Login to My Family Serice</h1>
						<p>If you already have a Family Service account you can login below.</p>
						
						<form id="form-login" action="#" method="post">
							<fieldset>	
								<label for="user-name">Username</label>
								<input id="user-name" type="text" name="user-name" class="field" />
								
								<label for="user-password">Password</label>
								<input id="user-password" type="password" name="user-password" class="field" />
								<a href="#" class="field-note">Forgotten password</a>
									
								<p class="button-container purple"><input name="user-login" type="submit" value="Login" title="Click to login" class="button short" /></p>
							</fieldset>
							
							<p>If you don't already have an account, you can 
							<a href="#">create an account for free</a>.</p>
						</form>
					</div>
    			</div>
    			
    			<!-- Right column -->
    			<div class="rcol">    				
    				<div class="ad ad-widesky">Advertising: Wide Sky</div>
    			</div>
    		</div>
    		
    		<!-- Footer top - quick sitemap -->
			<div id="footer-top">
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Getting Pregnant</a>
						<ul>
							<li><a href="#">Pre-conception</a></li>
							<li><a href="#">Fertility</a></li>
							<li><a href="#">Are you ready for a baby?</a></li>
							<li><a href="#">Boy or girl?</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Jokes</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pregnancy</a>
						<ul>
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Giving birth</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Baby</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Toddler</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Child</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li class="title"><a href="#">Health &amp; Wellbeing</a></li>
					<li>
						<a href="#">Lifestyle</a>
						<ul>
							<li><a href="#">Fitness</a></li>
							<li><a href="#">Sex</a></li>
							<li><a href="#">Style &amp; beauty</a></li>
							<li><a href="#">Relationships</a></li>
							<li><a href="#">Parenting style</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Money &amp; Work</a>
						<ul>
							<li><a href="#">Returning to work</a></li>
							<li><a href="#">Family finances</a></li>
							<li><a href="#">Wills, insurance &amp; taxation</a></li>
							<li><a href="#">Work life balance</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Family Life</a>
						<ul>
							<li><a href="#">Family</a></li>
							<li><a href="#">Friends</a></li>
							<li><a href="#">Dads</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Community</a>
						<ul>
							<li><a href="#">About out forums</a></li>
							<li><a href="#">Register</a></li>
							<li><a href="#">Search</a></li>
							<li><a href="#">Expert forums</a></li>
							<li><a href="#">Community forums</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top last">
					<li class="title"><a href="#">Trimester Guide</a></li>
					<li>
						<a href="#">Trimester 1</a>
						<ul>
							<li><a href="#">Weeks 1 to 13</a></li>
							<li><a href="#">Trimester 1 fetal growth</a></li>
							<li><a href="#">Trimester 1 health</a></li>
							<li><a href="#">Trimester 1 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 2</a>
						<ul>
							<li><a href="#">Weeks 14 to 27</a></li>
							<li><a href="#">Trimester 2 fetal growth</a></li>
							<li><a href="#">Trimester 2 health</a></li>
							<li><a href="#">Trimester 2 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 3</a>
						<ul>
							<li><a href="#">Week 28 to birth</a></li>
							<li><a href="#">Trimester 3 fetal growth</a></li>
							<li><a href="#">Trimester 3 health</a></li>
							<li><a href="#">Trimester 3 tests &amp; scans</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
			<!-- Footer bottom - supplementary links -->
			<div id="footer-bottom">
				<ul class="navigation-footer-bottom">
					<li><a href="about-us.html">About us</a></li>
					<li><a href="help.html">Help</a></li>
					<li><a href="contact-us.html">Contact us</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
					<li><a href="privacy-policy.html">Privacy Policy</a></li>
				</ul>
				<ul class="navigation-footer-bottom">
					<li><a href="advertising.html">Advertise on Family Service</a></li>
					<li><a href="partnerships.html">Partnership opportunities</a></li>
					<li><a href="product-sampling.html">Product Sampling</a></li>
					<li><a href="mailings.html">Mailings</a></li>
					<li><a href="print-advertising.html">Print Advertising</a></li>
				</ul>
				<div class="form-inline">
					<form id="form-search-footer" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container blue"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
			</div>
    	</div>
		
		<p id="copyright">Copyright &copy; Family Service International 2009</p>
    </div>
</body>
</html>