<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="include/css/reset.css" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="include/css/main.css" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="http://familyservice.ridgewaystudios.com/CMSPages/GetCSS.aspx?stylesheetname=FamilyServiceGeneral" media="screen" />
    <link rel="stylesheet" type="text/css" href="include/css/colorbox.css" media="screen" />
    <!--[if lte IE 7]>
    <script type="text/javascript" src="include/js/ie.js"></script>
    <link rel="stylesheet" type="text/css" href="include/css/ie.css" media="screen" />
	<![endif]-->
    <script type="text/javascript" src="include/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="include/js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="include/js/jquery.simpletip-1.3.1.min.js"></script>
    <script type="text/javascript" src="include/js/scripts.js"></script>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
    <title>Family Service - Homepage</title>
</head>
<body id="homepage">
    <div id="container">
    	<div id="main-content">
			<!-- Header area -->
			<div id="header-top">
				<a href="#" id="main-logo" title="Link to Family Service Homepage">Family Service</a>
				<div class="ad ad-leaderboard">Advertising: Leaderboard</div>
			
				<!-- Top navigation - inc nav menu and search bar -->
				<ul id="navigation-header">
					<li class="getting-pregnant"><a href="#">Getting Pregnant</a></li>
					<li class="pregnancy">
						<a href="#">Pregnancy</a>
						<ul class="subnav">
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>	
						</ul>
					</li>
					<li class="baby"><a href="#">Baby</a></li>
					<li class="toddler"><a href="#">Toddler</a></li>
					<li class="child"><a href="#">Child</a></li>
					<li class="health-wellbeing"><a href="#">Health &amp; Wellbeing</a></li>
					<li class="lifestyle"><a href="#">Lifestyle</a></li>
					<li class="supplementary">
						<span>
							<a href="#" title="Link to: About Family Service">About Family Service</a>
							<a href="#" title="Link to: Advertise">Advertise</a>
						</span>
					</li>
				</ul>
			</div>
			
			<!-- Pregnancy calendar and search -->
    		<div id="header-bottom">
				<img id="calendar-strip" src="images/content/calendar-strip.png" alt="Image: Pregnancy Calendar" />
				<div class="form-inline">
					<form id="form-search-header" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
    		</div>
    		
    		<!-- Main page content container -->
    		<div id="content">
    			<!-- Hero -->
    			<div class="hero">
    				<ul class="hero-links">
    					<li class="current">
							<a href="#" title="Link to: Baby's first words">
								Baby's first words
								<span>When should my baby start talking?</span>
							</a>
    					</li>
    					<li>
							<a href="#" title="Link to: The first few days">
								The first few days
								<span>Tips for making the first week with your baby easier</span>
							</a>
    					</li>
    					<li>
							<a href="#" title="Link to: Baby naming guide">
								Sleep during pregnancy
								<span>Ten great ways to sleep better whilst pregnant</span>
							</a>
    					</li>
    				</ul>
    				<div >
    					<h1>Baby's first words</h1>
    					<h2>When should my baby start talking?</h2>
    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    					Ut interdum <a class="inlineEmbeddedLink" href="#">facilisis</a> massa, porta egestas nisi facilisis et. 
    					Nullam in leo eros, in mattis nibh. Vestibulum in dictum.  
    					Elano an herubscut anib origa postamo massa, porta egestas nisi 
    					facilisis ettruncor.</p>
    					<p class="inline-cta">&gt; <a href="#" title="Link to: More about your baby talking">
    					More about your baby talking</a></p>
    				</div>
    				<style type="text/css">
						.tooltip
						{ 
							position: absolute; 
							top: 0; left: 0; 
							z-index: 3; 
							display: none; 
						}
						
						div#inlineAdvertContainer 
						{
							display: block;
							position: relative;
							width: auto;
							z-index: 0;
						}
						
						div#inlineAdvertContainer a 
						{ 
							cursor: pointer; 
						}
					</style>
    				
    				<script type="text/javascript">
	    				var arr_tooltips = ['<div class="inlineAdvertContainer"><div class="inlineAdvertContent"><div class="inlineAdvertImageDiv"><a target="_blank" title="click to go to the website" class="inlineAdvertImageLink" href="http://www.vitamins.com"><img src="http://familyservice.ridgewaystudios.com/FamilyServiceEN/media/SiteImages/Content/vitamins.png?width=60&amp;height=109&amp;ext=.png" alt="Buy some multi-vitamins" class="inlineAdvertImage" /></a></div><div class="inlineAdvertTextDiv"><p><span class="InlineAdvertText">Multi-vitamins for a healthy pregnancy.  Take a vitamin tablet every day and keep you and your new baby really healthy.</span></p><a target="_blank" href="http://www.vitamins.com" class="inlineAdvertLink">Buy some multi-vitamins</a></div></div><div class="inlineAdvertBottom"></div></div>'];
    				</script>
    				
    			</div>
    			
    			<!-- Left column -->
    			<div class="lcol">
    				
    				<!-- Account status panel -->
    				<div class="info-panel account">
    					<h5><a href="#">My Family Service</a></h5>
    					<p>It's FREE to join Family Service. Sign up today to post on our forums and
    					personalise the web site to you and your baby's needs.</p>
    					<ul>
    						<li>&gt; <a href="#" title="Link to: Log in to your account">Login</a></li>
    						<li>&gt; <a href="#" title="Link to: Sign up for an account">Sign up	</a></li>
    					</ul>
    				</div>
    				
    				<!-- CTA links -->
    				<ul class="cta-links">
    					<li class="first">
							<a href="#" title="Link to: Trimester guide">
								<img src="images/icons/cta-link-calendar.jpg" alt="Image: Ovulation calendar" />
								Ovulation Calendar
								<span>Work out the best time to conceive</span>
							</a>
    					</li>
    					<li>
							<a href="#" title="Link to: Trimester guide">
								<img src="images/icons/cta-link-pichart.jpg" alt="Image: Trimester guide" />
								Trimester Guide
								<span>A week-by-week guide to your pregnancy</span>
							</a>
    					</li>
    					<li>
							<a href="#" title="Link to: Baby naming guide">
								<img src="images/icons/cta-link-buildingblock.jpg" alt="Image: Baby naming guide" />
								Baby Naming Guide
								<span>We can help you find the perfect name</span>
							</a>
    					</li>
    					<li>
							<a href="#" title="Link to: Horoscopes">
								<img src="images/icons/cta-link-scales.jpg" alt="Image: Horoscopes" />
								Horoscopes
								<span>What does your baby’s birth date mean?</span>
							</a>
    					</li>
    				</ul>
    			</div>
    			
    			<!-- Middle column: main content area -->
    			<div class="middle">	    								
					<!-- Related items panels -->
					<div class="related first">
						<h5><a href="#" title="Link to: Expert advice">
						Expert Advice</a></h5>
						<img src="images/content/photo-family2.jpg" alt="Image: Photo of family" />
						<ul>
							<li>
								<a href="#">How you’ll feel after you learn you’re having a baby</a>
								Whether your pregnancy is planned or not will make a massive difference 
								to how you react to the news that you’re expecting.
							</li>
							<li>
								<a href="#">Ten things you didn’t know about pregnancy</a>
								Did you know that one birth in every 200 is a multiple birth?
								How long does pregnancy last?
							</li>
							<li class="last">
								<a href="#">Helping your partner at home</a>
								The further through pregnancy your partner progresses, the more
								help you should offer her at home.
							</li>
						</ul>
					</div>
					
					<div class="related community">
						<h5><a href="#" title="Link to: Community">
						Community</a></h5>
						<img src="images/content/photo-family.jpg" alt="Image: Photo of family" />
						<ul>
							<li><a href="#">My wife is having trouble sleeping, any tips?</a></li>
							<li><a href="#">My wife is 28 weeks. Can I go away for the weekend?</a></li>
							<li><a href="#">Driving to the hospital. Can I exceed the speed limit?</a></li>
							<li><a href="#">It's triplets. Help!</a></li>
							<li><a href="#">Should I be at the birth?</a></li>
							<li class="last dark"><a href="#">Go to the forum</a> 
							<a href="#" class="inset-bullet">Create a forum profile</a></li>
						</ul>
					</div>
					
					<div class="ad ad-mpu left">Advertising: MPU</div>
					
					<!-- Info panel -->
    				<div class="info-panel">
    					<h5><a href="#">Join Family Service</a></h5>
    					<p>By signing up to Family Service you'll be able to personalise the web site
    					to you and your baby’s needs and you 
    					<img src="images/content/photo-babybath.png" class="right" alt="Image: Baby in bath" /> 
    					can talk about, learn and share your own
    					experiences with thousands of other parents.</p>
    					<ul>
    						<li>&gt; <a href="#" title="Link to: Log in to your account">Login</a></li>
    						<li>&gt; <a href="#" title="Link to: Sign up for an account">Sign up</a></li>
    					</ul>
    				</div>
    			</div>
    			
    			<!-- Right column -->
    			<div class="rcol">
    				<div class="ad ad-widesky">Advertising: Wide Sky</div>
    			</div>
    		</div>
    		
    		<!-- Footer top - quick sitemap -->
			<div id="footer-top">
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Getting Pregnant</a>
						<ul>
							<li><a href="#">Pre-conception</a></li>
							<li><a href="#">Fertility</a></li>
							<li><a href="#">Are you ready for a baby?</a></li>
							<li><a href="#">Boy or girl?</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Jokes</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Pregnancy</a>
						<ul>
							<li><a href="#">Week by week guide</a></li>
							<li><a href="#">Giving birth</a></li>
							<li><a href="#">Health during pregnancy</a></li>
							<li><a href="#">Changing lifestyle</a></li>
							<li><a href="#">Dads</a></li>
							<li><a href="#">Miscarriage &amp; loss</a></li>
							<li><a href="#">Tools</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Baby</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Toddler</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Child</a>
						<ul>
							<li><a href="#">Health</a></li>
							<li><a href="#">Know how</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Relationships</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li class="title"><a href="#">Health &amp; Wellbeing</a></li>
					<li>
						<a href="#">Lifestyle</a>
						<ul>
							<li><a href="#">Fitness</a></li>
							<li><a href="#">Sex</a></li>
							<li><a href="#">Style &amp; beauty</a></li>
							<li><a href="#">Relationships</a></li>
							<li><a href="#">Parenting style</a></li>
							<li><a href="#">Travel</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Money &amp; Work</a>
						<ul>
							<li><a href="#">Returning to work</a></li>
							<li><a href="#">Family finances</a></li>
							<li><a href="#">Wills, insurance &amp; taxation</a></li>
							<li><a href="#">Work life balance</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Family Life</a>
						<ul>
							<li><a href="#">Family</a></li>
							<li><a href="#">Friends</a></li>
							<li><a href="#">Dads</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top">
					<li>
						<a href="#">Community</a>
						<ul>
							<li><a href="#">About out forums</a></li>
							<li><a href="#">Register</a></li>
							<li><a href="#">Search</a></li>
							<li><a href="#">Expert forums</a></li>
							<li><a href="#">Community forums</a></li>
						</ul>
					</li>
				</ul>
				<ul class="navigation-footer-top last">
					<li class="title"><a href="#">Trimester Guide</a></li>
					<li>
						<a href="#">Trimester 1</a>
						<ul>
							<li><a href="#">Weeks 1 to 13</a></li>
							<li><a href="#">Trimester 1 fetal growth</a></li>
							<li><a href="#">Trimester 1 health</a></li>
							<li><a href="#">Trimester 1 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 2</a>
						<ul>
							<li><a href="#">Weeks 14 to 27</a></li>
							<li><a href="#">Trimester 2 fetal growth</a></li>
							<li><a href="#">Trimester 2 health</a></li>
							<li><a href="#">Trimester 2 tests &amp; scans</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Trimester 3</a>
						<ul>
							<li><a href="#">Week 28 to birth</a></li>
							<li><a href="#">Trimester 3 fetal growth</a></li>
							<li><a href="#">Trimester 3 health</a></li>
							<li><a href="#">Trimester 3 tests &amp; scans</a></li>
						</ul>
					</li>
				</ul>
			</div>
			
			<!-- Footer bottom - supplementary links -->
			<div id="footer-bottom">
				<ul class="navigation-footer-bottom">
					<li><a href="about-us.html">About us</a></li>
					<li><a href="help.html">Help</a></li>
					<li><a href="contact-us.html">Contact us</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
					<li><a href="privacy-policy.html">Privacy Policy</a></li>
				</ul>
				<ul class="navigation-footer-bottom">
					<li><a href="advertising.html">Advertise on Family Service</a></li>
					<li><a href="partnerships.html">Partnership opportunities</a></li>
					<li><a href="product-sampling.html">Product Sampling</a></li>
					<li><a href="mailings.html">Mailings</a></li>
					<li><a href="print-advertising.html">Print Advertising</a></li>
				</ul>
				<div class="form-inline">
					<form id="form-search-footer" action="#" method="post">
						<fieldset>
							<label class="accessibility" for="search-terms">Search for an answer:</label>
							<input id="search-terms" type="text" name="search-terms" value="Search for an answer..." class="field toggle-blank" />
							<p class="button-container blue"><input name="submit-search" type="submit" value="Search" title="Perform search" /></p>
						</fieldset>
					</form>
				</div>
			</div>
    	</div>
		
		<p id="copyright">Copyright &copy; Family Service International 2009</p>
    </div>
</body>
</html>