/*
	Main CSS for Autosport.com PLUS
	-------------------------------
	
	Page frame, basic styles and header & footer provided by existing stylesheet:
	http://cdn.images.autosport.com/standards/css/styles_r5.css
*/

/* 
	CSS Overrides for styles_r5.css 
	-------------------------------
*/

/* Replace main logo with Autosport PLUS */
#headerMainLogo a { width: 440px; background-image: url(../../images/asdotcomplus.gif); }

/* Capitalise header bottom titles */
#headerBottomTitle { text-transform: uppercase; }

/* Increase top whitespace by 2px on header bottom */
#headerBottomTitle, #headerBottomTools { margin-top: 5px; margin-bottom: 5px; }

/* Remove underline from header bottom RHS links */
#headerBottom a, #headerBottom a:link, #headerBottom a:visited 
{ 
	line-height: 20px;
	text-decoration: none; 
}

/*
	Taken from http://www.autosport.com/css/styles.css
	--------------------------------------------------
*/

.a_small 
{
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 9px;
}
.a_normal 
{
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 13px;
	font-weight: bold;
}
.a_big 
{
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 15px;
}

/* 
	New styles for Autosport.com PLUS 
	---------------------------------
*/

/* Header bottom RHS CTA link icons */

ul#headerBottomTools.tools_plain { margin-top: 5px; }
ul#headerBottomTools.tools_plain a { text-decoration: underline; }

.tools_share-this span.sharethis
{
	color: #066A93;
	font-family: "Lucida Grande", Verdana, Geneva, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight: normal; 
}

.tools_size-changer
{
	background: transparent url(../../images/cdn.images.autosport.com/magnify.gif) no-repeat left center;
	padding: 0 5px 5px 20px;
}

.tools_download-pdf a
{
	background: transparent url(../../images/cdn.images.autosport.com/pdfsm.gif) no-repeat 0 0;
	padding: 1px 5px 5px 22px;
}

.tools_print-article a
{
	background: transparent url(../../images/cdn.images.autosport.com/printersm.gif) no-repeat 0 0;
	padding: 1px 5px 5px 22px;
}

.tools_email-friend a
{
	background: transparent url(../../images/cdn.images.autosport.com/emailsm.gif) no-repeat 0 0;
	padding-left: 20px;
}

/* Main content section */

div#main { overflow: hidden; }

div#main div.content_main
{
	background: transparent url(../../images/cdn.images.autosport.com/dotted_line_bg.gif) repeat-y right top;
	float: left;
	padding: 0 10px 11px 0;
	width: 615px;
}

	/* Payment accepted message box (pre-content) */
	
	div#main div.content_main div.message_box
	{
		background: #fff url(../../images/payment_accepted_bg_tall.png) repeat-x left top;
		border-top: 1px solid #c0c0c0;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		overflow: hidden;
		padding: 14px 15px 25px 20px;
	}
	
		div#main div.content_main div.message_box a.close_button
		{
			background: transparent url(../../images/round_delete_light.png) repeat-x left top;
			color: #fff;
			display: block;
			float: right;
			font-size: 0;
			height: 16px;
			line-height: 0;
			margin: -3px 0 0 0;
			padding: 0;
			text-align: left;
			text-indent: -20000px;
			width: 16px;
		}
	
		div#main div.content_main div.message_box h4
		{
			font-size: 20px;
			font-weight: normal;
			line-height: 30px;
		}

		div#main div.content_main div.message_box p
		{
			font-size: 12px;
			line-height: 140%;
			margin: 13px 0;
			padding: 0;
		}
		
		div#main div.content_main div.message_box ul
		{
			margin: 13px 0;
			padding-left: 15px;
		}
		
			div#main div.content_main div.message_box ul li
			{
				font-size: 12px;
				line-height: 140%;
				list-style: disc outside;
				margin: 0;
				padding: 0;
			}
		
		div#main div.content_main div.message_box p.button_standard a
		{
			background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
			border: 1px solid #666;
			color: #fff;
			display: block;
			float: left;
			padding: 3px 7px;
		}

	/* Main content text styles */

	div#main div.content_main h1
	{
		background: transparent url(../../images/cdn.images.autosport.com/dotted_line_bg.gif) repeat-x left bottom;
		font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 30px;
		margin: 0;
		padding: 15px 0 7px 0;
	}
	
	div#main div.content_main h2,
	div#main div.content_main p
	{
		font-family: Verdana,Arial,Helvetica,sans-serif;
		font-size: 13px;
		line-height: 140%;
		margin: 13px 0;
		padding: 0;
	}
	
	div#main div.content_main h2 { font-weight: bold; }
	
	div#main div.content_main p.article_abstract
	{
		color: #818BAB;
		font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
		font-weight: bold;
		line-height: 16px;
		margin: 4px 0 16px 0;;
	}
	
	div#main div.content_main img.fullsize
	{
		border: 1px solid #000;
		margin: 3px 0;
	}
	
	div#main div.content_main div.boxout
	{
		background: #818BAB;
		padding: 5px;
	}
	
		div#main div.content_main div.boxout p
		{
			color: #fff;
			font-family: "Lucida Grande",Verdana,Geneva,Arial,Helvetica,sans-serif;
			font-size: 11px;
			margin: 5px 0 0 0;
		}
	
	div#main div.content_main .left { float: left; margin: 0 10px 10px 0; }
	div#main div.content_main .right { float: right; margin: 0 0 10px 10px; }
	
	/* Extended feature page */

	div#main div.feature { position: relative; }

		div#main div.feature h1 { padding-top: 0; }
		
		div#main div.feature h2.article_author
		{
			background: transparent url(../../images/cdn.images.autosport.com/dotted_line_bg.gif) repeat-x left bottom;
			font-size: 12px;
			line-height: 12px;
			margin: 0;
			padding: 0 0 7px 0;
		}
		
			div#main div.feature h2.article_author span
			{
				color: #808080;
				display: block;
				font-size: 11px;
				font-weight: normal;
				line-height: 20px;
			}
			
		div#main div.feature ul.article_actions
		{
			overflow: hidden;
			position: absolute;
			right: -5px;
			top: 70px;
		}
		
			div#main div.feature ul.article_actions li
			{
				margin-bottom: 2px;
			}
			
		div#main div.feature div.article_actions
		{
			float: right;
			margin-top: 8px;
		}
			
		div#main div.feature div.article_actions_bottom
		{
			background: transparent url(../../images/cdn.images.autosport.com/dotted_line_bg.gif) repeat-x left top;
			margin-top: 20px;
			padding: 15px 0 7px 0;
		}
	
	/* Signup/login box */
	
	div#main div.content_main div.signup_login
	{
		background: #efefef url(../../images/signup_login_bg.png) repeat-x left bottom;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		overflow: hidden;
		margin: 28px 0 10px 0;
	}
	
		div#main div.content_main div.signup_login h6
		{
			background: #e3001a;
			border-bottom: 1px solid #c0c0c0;
			color: #fff;
			font-size: 12px;
			font-weight: normal;
			height: 19px;
			line-height: 17px;
			margin-bottom: 15px;
			padding: 13px 0 10px 218px;
			position: relative;
		}
		
			div#main div.content_main div.signup_login h6 span
			{
				background: #e3001a url(../../images/asdotcomplussm.gif) no-repeat left top;
				display: block;
				position: absolute;
				text-indent: -20000px;
				top: 0; left: 0;
				width: 215px; height: 42px;
			}
		
		/* Floated left panels for payment / signup / login */
		
		div#main div.content_main div.signup_login div.panel
		{
			border-right: 1px solid #c0c0c0;
			float: left;
			height: 222px;
			margin-bottom: 15px;
			text-align: center;
			width: 202px;
		}
		
		div#main div.content_main div.signup_login div.half { width: 303px; }
		
		div#main div.content_main div.signup_login div.last { border: none; }
		
			div#main div.content_main div.signup_login div.panel p
			{
				font-size: 12px;
				line-height: 17px;
				margin: 25px auto 35px auto;
			}
			
			div#main div.content_main div.signup_login div.panel p.narrow { width: 120px; }
			div#main div.content_main div.signup_login div.panel p.medium { width: 180px; }
			
			/* Content for left panel */
			
			div#main div.content_main div.signup_login div.panel p.flow_header
			{
				font-size: 43px;
				height: 60px;
				line-height: normal;
				margin-bottom: 20px;
				margin-top: 10px;
				padding-right: 5px;
				position: relative;
				text-align: right;
			}
			
				div#main div.content_main div.signup_login div.panel p.flow_header sup
				{
					font-size: 25px;
					position: absolute;
					right: 95px; bottom: 26px;
				}
				
				div#main div.content_main div.signup_login div.panel p.flow_header sub
				{
					font-size: 13px;
					position: absolute;
					right: 95px; bottom: 15px;
				}
			
				div#main div.content_main div.signup_login div.panel p.button_paypal input
				{
					background: transparent url(../../images/btn_dg_pwpp.gif) no-repeat left -3px;
					border: none;
					display: block;
					font-size: 0;
					height: 26px;
					line-height: 0;
					margin: 0 auto;
					padding: 0;
					text-align: left;
					text-indent: -20000px;
					width: 150px;
				}
				
				/* Content for middle panel */
				
				div#main div.content_main div.signup_login div.panel p.center_header_small
				{
					background: transparent url(../../images/plus_logo.png) no-repeat center 20px;
					font-size: 18px;
					height: 60px;
					margin: 10px auto 20px auto;
				}
				
					div#main div.content_main div.signup_login div.panel p.center_header_small span
					{
						display: block;
						font-size: 14px;
						height: 40px;
						text-indent: -20000px;
					}
				
				/* Content for right panel */
				
				div#main div.content_main div.signup_login div.panel p.center_header_medium
				{
					font-size: 19px;
					height: 60px;
					line-height: 24px;
					margin: 6px auto 20px auto;
				}
				
					div#main div.content_main div.signup_login div.panel p.center_header_medium span
					{
						display: block;
						font-size: 14px;
					}
					
				/* Panel buttons */
				
				div#main div.content_main div.signup_login div.panel p.button_standard,
				div#main div.content_main div.signup_login div.panel p.CTA_link
				{
					clear: both;
					display: inline;
					float: right;
					height: 1%;
					left: -50%;
					line-height: normal;
					margin: 2px 0 35px 0;
					position: relative;
					text-align: left;
				}
				
					div#main div.content_main div.signup_login div.panel p.button_standard a,
					div#main div.content_main div.signup_login div.panel p.button_standard input
					{
						background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
						border: 1px solid #666;
						color: #fff;
						display: block;
						font-family: Verdana,Arial,Helvetica,sans-serif;
						left: 50%;
						margin: 0;
						padding: 3px 7px;
						position: relative;
					}
					
					input::-moz-focus-inner { border: none; } /* Removes extra padding in Firefox */
					
				div#main div.content_main div.signup_login div.panel p.submit { margin-bottom: 15px; }
				div#main div.content_main div.signup_login div.panel p.CTA_link { margin-bottom: 4px; }
					
					div#main div.content_main div.signup_login div.panel p.submit input
					{ padding-top: 3px; height: 24px; width: 100px; }
					
					div#main div.content_main div.signup_login div.panel p.CTA_link a
					{
						background: transparent url(../../images/arrow_blue.png) no-repeat left 6px;
						clear: both;
						display: block;
						font-size: 10px;
						left: 50%;
						line-height: 15px;
						padding-left: 10px;
						position: relative;
					}
					
				/* Login form */	
				
				div#main div.content_main div.signup_login div.panel form 
				{ 
					border: 0;
					margin: 0;
					padding: 0;
				}
				
				div#main div.content_main div.signup_login div.panel form fieldset
				{
					border: none;
					display: block;
					margin: 0 auto 10px auto;
					overflow: hidden;
					padding: 2px 0 0 0;
					width: 195px;
				}
				
					div#main div.content_main div.signup_login div.panel form fieldset label
					{
						display: block;
						float: left;
						font-size: 10px;
						line-height: 15px;
						margin-right: 5px;
						text-align: right;
						width: 60px;
					}
					
					div#main div.content_main div.signup_login div.panel form fieldset label.label_checkbox
					{ width: auto; }
					
					div#main div.content_main div.signup_login div.panel form fieldset input.form_text
					{
						border: 1px solid #706f6f;
						font-family: Verdana,Arial,Helvetica,sans-serif;
						float: left;
						margin-bottom: 8px;
						padding: 1px;
						width: 120px;
					}
					
					div#main div.content_main div.signup_login div.panel form fieldset input.form_checkbox
					{
						clear: both;
						float: left;
						margin: 0 10px 0 65px;
						padding: 0;
						vertical-align: middle;
					}
					
/* Article page RHS sidebar */
					
div#main div.content_sidebar
{
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	margin: 0 0 0 7px;
	width: 323px;
}

	div#main div.content_sidebar h4
	{
		background: #f7f7f7 url(../../images/sidebar_header_bg.png) repeat-x left top;
		border-top: 1px solid #c0c0c0;
		font-size: 15px;
		font-weight: normal;
		height: 34px;
		line-height: 24px;
		padding: 9px 10px 0 15px;
	}
	
	div#main div.content_sidebar h4.alt
	{
		background: #e3001a;
		border: none;
		color: #fff;
		font-size: 11px;
		height: 13px;
		line-height: 15px;
		padding: 3px 8px 4px 8px;
		text-transform: uppercase;
	}
	
	div#main div.content_sidebar img
	{
		margin: 0;
		padding: 0;
		vertical-align: bottom;
	}
	
	div#main div.content_sidebar ul
	{
		margin-bottom: 10px;		
	}
	
		div#main div.content_sidebar ul li
		{
			background: #fff url(../../images/sidebar_item_bg.png) repeat-x left top;
			border-top: 1px solid #c0c0c0;			
			display: block;
			overflow: hidden;
			padding: 12px 15px 12px 15px;
		}
		
			div#main div.content_sidebar ul li img
			{
				border: none;
				display: block;
				float: left;
				margin-right: 12px;
			}
		
			div#main div.content_sidebar ul li h5
			{
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				margin-bottom: 4px;
			}
			
			div#main div.content_sidebar ul li p
			{
				color: #808080;
				font-size: 11px;
				line-height: 15px;
				margin: 0;
				padding: 0;
			}
			
				div#main div.content_sidebar ul li p strong
				{
					display: block;
					font-weight: normal;
					text-transform: uppercase;
				}
				
	div#main div.content_sidebar ul.bulleted,
	div#main div.content_sidebar div.free_text
	{ 
		background: #fff url(../../images/menu_sidebar_bg.png) repeat-x left top;
		border-top: 1px solid #C0C0C0;
		margin: 0; 
		padding: 10px 8px 10px 8px;
	}
	
	div#main div.content_sidebar div.free_text { padding: 0 8px; }
	
		div#main div.content_sidebar ul.bulleted li
		{
			background: transparent url(../../images/arrow_blue.png) no-repeat scroll left 6px;
			border: none;
			color: #808080;
			display: block;
			font-size: 11px;
			line-height: 16px;
			margin: 0 0 8px 0;
			overflow: hidden;
			padding: 0 0 0 10px;
		}
		
			div#main div.content_sidebar ul.bulleted li a
			{
				display: block;
			}
			
	div#main div.content_sidebar ul.tabular li a { float: left; }
	div#main div.content_sidebar ul.tabular li span { float: right; }
	
	div#main div.content_sidebar p
	{
		font-size: 11px;
		line-height: 16px;
		margin: 13px 0;
		padding: 0;
	}
			
	div#main div.content_sidebar p.sidebar_ctas
	{
		display: block;
		font-size: 11px;
		line-height: 11px;
		margin: 0 0 15px 0;
		overflow: hidden;
		padding: 0 10px;
	}
	
		div#main div.content_sidebar p.sidebar_ctas a
		{
			background: transparent url(../../images/arrow_blue.png) no-repeat left 6px;
			display: block;
			height: 20px;
			padding: 3px 0 0 10px;
		}
		
		div#main div.content_sidebar p.sidebar_ctas a.icon 
		{ 
			line-height: 16px; 
			margin: 0 10px;
			padding-left: 30px; 
		}
		
		div#main div.content_sidebar p.sidebar_ctas a.pdf 
		{ background: transparent url(../../images/cdn.images.autosport.com/pdf_multi.gif) no-repeat left top; }
		
		div#main div.content_sidebar p.sidebar_ctas a.print 
		{ background: transparent url(../../images/cdn.images.autosport.com/print_multi.gif)  no-repeat left top; }
		
		div#main div.content_sidebar p.sidebar_ctas a.left { float: left; }
		div#main div.content_sidebar p.sidebar_ctas a.right { float: right; }

/* Articles index page main section */

div#main div.articles_main
{
	background: transparent url(../../images/cdn.images.autosport.com/dotted_line_bg.gif) repeat-y left top;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0 0 0 12px;
	width: 734px;
}

	div#main div.articles_main h1
	{
		font-size: 13px;
		font-weight: bold;
		line-height: 18px;
		margin: 5px 0 15px 0;
		padding: 0 12px;
	}

	div#main div.articles_main h2
	{
		background: #f7f7f7 url(../../images/sidebar_header_bg.png) repeat-x left top;
		border-top: 1px solid #c0c0c0;
		font-size: 15px;
		font-weight: normal;
		height: 34px;
		line-height: 24px;
		padding: 9px 10px 0 15px;
	}
	
	div#main div.articles_main ul
	{
		margin-bottom: 20px;	
		overflow: hidden;
	}
	
		div#main div.articles_main ul li
		{
			background: #fff url(../../images/sidebar_item_bg.png) repeat-x left top;
			border-top: 1px solid #c0c0c0;			
			display: block;
			float: left;
			overflow: hidden;
			padding: 12px 17px 12px 15px;
			width: 335px;
		}
		
			div#main div.articles_main ul li img
			{
				border: none;
				display: block;
				float: left;
				margin-right: 12px;
			}
		
			div#main div.articles_main ul li h3
			{
				font-size: 13px;
				font-weight: bold;
				line-height: 16px;
				margin-bottom: 4px;
			}
			
			div#main div.articles_main ul.cap_titles li h3 { text-transform: uppercase; }
			
			div#main div.articles_main ul li ul
			{
				margin: 0;
				padding-left: 15px;
			}
			
				div#main div.articles_main ul li ul li
				{
					background: none;
					border: none;
					display: list-item;
					font-size: 12px;
					line-height: 17px;
					list-style: disc outside;
					overflow: visible;
					padding: 0;
				}
			
			div#main div.articles_main ul li p
			{
				color: #808080;
				font-size: 11px;
				line-height: 15px;
				margin: 0;
			}
			
				div#main div.articles_main ul li p strong
				{
					display: block;
					font-weight: normal;
					text-transform: uppercase;
				}
	
	div#main div.articles_main div.no_articles_message 
	{ 
		background: #fff url(../../images/sidebar_item_bg.png) repeat-x left top;
		border-top: 1px solid #c0c0c0;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		overflow: hidden;
		padding: 20px 15px 30px 15px;
	}
	
		div#main div.articles_main div.no_articles_message p
		{
			font-size: 12px;
			line-height: 140%;
			margin: 0 0 13px 0;
			padding: 0;
		}
		
		div#main div.articles_main div.no_articles_message ul
		{
			margin: 13px 0 20px 0;
			padding-left: 15px;
		}
		
			div#main div.articles_main div.no_articles_message ul li
			{
				background: none;
				border: none;
				display: list-item;
				float: none;
				font-size: 12px;
				line-height: 140%;
				list-style: disc outside;
				margin: 0;
				overflow: visible;
				padding: 0;
				width: auto;
			}
		
		div#main div.articles_main div.no_articles_message p.button_standard { margin: 0; }
		
			div#main div.articles_main div.no_articles_message p.button_standard a
			{
				background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
				border: 1px solid #666;
				color: #fff;
				display: block;
				float: left;
				padding: 3px 7px;
			}

/* Paging control for multi-page lists */
				
div#main div.pager
{
	overflow: hidden;
}

	div#main div.pager p 
	{ 
		float: right; 	
		padding-top: 2px;
		text-align: right; 
	} 
	
	div#main div.pager ul
	{
		float: right;
		margin: 0 0 30px 10px;
	}
	
		div#main div.pager ul li
		{
			background: none;
			border: none;
			display: block;
			float: left;
			height: 23px;
			margin-left: 2px;
			padding: 0;
			width: 23px;
		}
		
			div#main div.pager ul li a
			{
				background: transparent url(../../images/pager_bg.png) no-repeat left top;
				border: none;
				color: #fff;
				display: block;
				font-size: 12px;
				height: 23px;
				line-height: 22px;
				text-align: center;
				width: 23px;
			}

			div#main div.pager ul li.prev a { background-image: url(../../images/pager_prev.png); text-indent: -20000px; }
			div#main div.pager ul li.prev_on a { background-image: url(../../images/pager_prev_on.png); text-indent: -20000px; }
			div#main div.pager ul li.next a { background-image: url(../../images/pager_next.png); text-indent: -20000px; }
			div#main div.pager ul li.next_on a { background-image: url(../../images/pager_next_on.png); text-indent: -20000px; }
			div#main div.pager ul li.on a { background-image: url(../../images/pager_bg_on.png); }

/* Articles index page status box LHS sidebar */

div#main div.status_sidebar
{
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0 10px 11px 0;
	width: 200px;
}

	div#main div.status_sidebar h4
	{
		background: #e3001a url(../../images/asdotcomplusmicro.gif) no-repeat left top;
		border: none;
		color: #fff;
		font-size: 13px;
		font-weight: normal;
		height: 23px;
		line-height: 24px;
		text-indent: -20000px;
	}
	
	div#main div.status_sidebar div
	{
		background: #fff url(../../images/menu_sidebar_bg.png) repeat-x left top;
		border: 2px solid #e3001a;
		overflow: hidden;
		padding: 10px 8px;
	}
	
		div#main div.status_sidebar h5
		{
			font-size: 11px;
			line-height: 20px;
			margin-bottom: 5px;
		}
		
			div#main div.status_sidebar h5 span
			{
				color: #e3001a;
				display: block;
				font-size: 13px;
			}
	
		div#main div.status_sidebar p.button_standard
		{
			float: right;
			left: -50%;
			margin: 10px 0 5px 0;
			position: relative;
			text-align: left;
		}
		
			div#main div.status_sidebar p.button_standard a
			{
				background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
				border: 1px solid #666;
				color: #fff;
				display: block;
				left: 50%;
				padding: 3px 7px;
				position: relative;
				text-decoration: none;
			}
	
/* Articles index page menu LHS sidebar */
	
div#main div.menu_sidebar
{
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	padding: 0 10px 11px 0;
	width: 200px;
}

	div#main div.menu_sidebar h4
	{
		background: #e3001a;
		border: none;
		color: #fff;
		font-size: 13px;
		font-weight: normal;
		line-height: 24px;
		overflow: hidden;
		padding: 0 8px 0 8px;
	}
	
		div#main div.menu_sidebar h4 span
		{
			display: block;
			float: left;
		}
		
		div#main div.menu_sidebar h4 span#title_plus
		{
			background: transparent url(../../images/plus_logo_small_redbg.png) no-repeat left top;
			display: block;
			height: 23px;
			margin-left: 2px;
			text-indent: -20000px;
			width: 45px;
		}

	div#main div.menu_sidebar ul
	{
		border: 2px solid #e3001a;
	}
	
		div#main div.menu_sidebar ul li 
		{
			background: #fff url(../../images/menu_sidebar_bg.png) repeat-x left top;
			border-top: 1px solid #c0c0c0;
			overflow: hidden;
			padding: 10px 8px;
		}
		
			div#main div.menu_sidebar ul li h5
			{
				font-size: 12px;
				line-height: 18px;
				margin-bottom: 3px;
			}
			
			div#main div.menu_sidebar ul li p.sub_title
			{
				color: #555;
				font-size: 11px;
				font-weight: bold;
				line-height: 17px;
				margin-bottom: 3px;
			}
	
			div#main div.menu_sidebar ul li ul
			{
				border: none;
				padding-left: 15px;
			}
			
			div#main div.menu_sidebar ul li ul li
			{
				background: none;
				border: none;
				color: #555;
				display: list-item;
				font-size: 11px;
				line-height: 17px;
				list-style: disc outside;
				overflow: visible;
				padding: 0;
			}
			

			div#main div.menu_sidebar ul p.button_standard
			{
				float: right;
				left: -50%;
				margin: 10px 0 5px 0;
				position: relative;
				text-align: left;
			}
			
				div#main div.menu_sidebar ul p.button_standard a
				{
					background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
					border: 1px solid #666;
					color: #fff;
					display: block;
					left: 50%;
					padding: 3px 7px;
					position: relative;
					text-decoration: none;
				}

/* Lightbox-style modal dialog box for errors etc */

div.modal_dialog
{
	background: #fff url(../../images/payment_error_bg.png) repeat-x left top;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	min-width: 0;
	padding: 25px 0 0 0;
	position: relative;
	text-align: center;
}

		div.modal_dialog a.close_button
		{
			background: transparent url(../../images/round_delete_light.png) repeat-x left top;
			color: #fff;
			display: block;
			font-size: 0;
			height: 16px;
			line-height: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 10px;
			text-align: left;
			text-indent: -20000px;
			top: 10px;
			width: 16px;
		}

	div.modal_dialog h1
	{
		font-size: 38px;
		font-weight: normal;
		margin: 0 auto;
	}
	
	div.modal_dialog p
	{
		font-size: 12px;
		line-height: 140%;
		margin: 20px auto;
		padding: 0 50px;
	}
	
	/* div.modal_dialog a, div.modal_dialog a:link, div.modal_dialog a:visited
	{
		color: #000;
		text-decoration: underline;
	}*/
	
	div.modal_dialog p.button_standard
	{
		float: right;
		left: -50%;
		margin: 0 0 25px 0;
		padding: 0;
		position: relative;
		text-align: left;
	}
	
		div.modal_dialog p.button_standard a
		{
			background: #a0a8bf url(../../images/button_grad_bg.png) repeat-x left bottom;
			border: 1px solid #666;
			color: #fff;
			display: block;
			left: 50%;
			padding: 3px 20px;
			position: relative;
			text-decoration: none;
		}

	div.modal_dialog div#modal_footer
	{
		background: #e3001a url(../../images/asdotcommicro.gif) no-repeat center 5px;
		clear: both;
		height: 20px;
		padding: 5px 0;
		text-indent: -20000px;
	}