
/* ----------- */
/* BASIC STUFF */
/* ----------- */
* { margin: 0; padding: 0; }
html { height: 100%; }
body { font: normal 62.5% 'Lucida Grande', Verdana, Geneva, Arial, Helvetica, sans-serif; color: #333; }
ul, ol, li { list-style: none; }
input, textarea, select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a img { border: none; }
p { font-size: 1.3em; line-height: 1.3em; margin-bottom: 1.3em; }

a, a:link, a:visited { color: #066a93; text-decoration: none; outline: none; }
a:hover, a:active { color: #FFa500; }


.blueBg { padding: 2px 5px; font-weight: bold; color: #FFFFFF; background: #818bab url(../../images/cdn.images.autosport.com/standards/bluebg.gif) scroll repeat-x 0 0; }
.redBg { padding: 2px 5px; font-weight: bold; color: #FFFFFF; background: #e3001a }

/* END BASIC STUFF */


/* -------------------- */
/* BASIC PAGE STRUCTURE */
/* -------------------- */
#pageWrap { width: 974px; height: 100%; background: transparent url(../../images/cdn.images.autosport.com/standards/dotbg.gif) scroll repeat-y 50% 0; }
	#header { clear: both; display: inherit; width: 974px; font-weight: bold; margin-bottom: 9px; }
	#main { clear: both; display: inherit; width: 956px; margin: 0 9px 9px 9px; }
	#footer { clear: both; display: inherit; width: 974px; font-weight: bold; }
/* END STRUCTURE */


/* ---------------------- */
/* HEADER & FOOTER STUFF  */
/* ---------------------- */

/* White links */
#header a, #header a:link, #header a:visited, #footer a, #footer a:link, #footer a:visited { color: #ffffff; text-decoration: none; outline: none; }
#header a:hover, #header a:active, #footer a:hover, #footer a:active { text-decoration: underline; }

/* black strip in both header and footer */
.blackStrip { clear: both; color: #ffffff; background-color: #000000; width: 974px; height: 18px; font-size: 1em; }

/* left/right floats in both header and footer */
#headerToolsSubs, #headerMainLogo, #headerNavLeft, #headerBottomTitle, #footerLinks { float: left; margin-left: 9px; }
#headerToolsLinks, #headerMainSearch, #headerNavRight, #headerBottomTools, #footerImage { float: right; margin-right: 9px; }

/* shared elements */
#header ul, #footer ul { margin-top: 1px; vertical-align: bottom; }
#header ul li, #footer ul li { display: inline; }

/* header elements */
#headerTools { clear: both; height: 15px; border-bottom: 1px solid #000000; color: #ffffff; background: #000000 url(../../images/cdn.images.autosport.com/standards/bluebg.gif) scroll repeat-x 0 0; font-size: 1em; }
	#headerTools li { margin: 2px 9px 0 0; }
		#headerTools li.noMargin { margin-right: 0; }
		#headerToolsSubs a { padding-left: 7px; background: transparent url(../../images/cdn.images.autosport.com/standards/arr_white.gif) scroll no-repeat 0 50%; }
		#headerToolsSubs img { margin-top: 1px;}
		#linkRss { padding-left: 15px; background: transparent url(../../images/cdn.images.autosport.com/standards/rss3.gif) scroll no-repeat 0 0; }
		#linkMobile { padding-left: 22px; background: transparent url(../../images/cdn.images.autosport.com/standards/mobile2.gif) scroll no-repeat 0 0; }
		#linkNewsletter { padding-left: 18px; background: transparent url(../../images/cdn.images.autosport.com/standards/newsletter1.gif) scroll no-repeat 0 0; }
		#linkJustifyCenter { padding-left: 17px; background: transparent url(../../images/cdn.images.autosport.com/standards/justifycenter_x.gif) scroll no-repeat 0 0; }
		#linkJustifyLeft { padding-left: 17px; background: transparent url(../../images/cdn.images.autosport.com/standards/justifyleft_x.gif) scroll no-repeat 0 0; }
#headerMain { clear: both; height: 45px; background-color: #e3001a; }
	#headerMainLogo a { width: 341px; height: 45px; margin-left: -9px; background: #e3001a url(../../images/cdn.images.autosport.com/standards/asdotcom.gif) scroll no-repeat 0 0 ; display: block; text-indent: -3333px; }
	#headerMainSearch { color: #ffffff; height: 19px; margin-top: 12px; }
	#headerMainSearch form { display: inline; margin: 0; padding: 0; }
	#headerMainSearch .searchBox { width: 140px; height: 18px; border-color: #c0c0c0; border-style: outset inset inset outset; border-width: 1px; vertical-align: middle; background-color: #ffffff; }
	#headerMainSearch div { float: left; margin-right: 3px; }
	#headerMainSearch div.searchTitle { margin-top: 4px; font-size: 1.1em; }
	#headerMainSearch .searchSelect { width: 120px; height: 19px; color: #666666; font: normal 1.1em 'Lucida Grande', Verdana, Geneva, Arial, Helvetica, sans-serif; }
	#raceResultsMenu { margin: 0 0 0 18px; }
#headerNav ul, ul#footerLinks { margin-top: 2px; }
#headerNav a, #footerLinks a { vertical-align: middle; padding-left: 13px; background: transparent url(../../images/cdn.images.autosport.com/standards/chev5.gif) scroll no-repeat 0 50%; }
#footerLinks a.linkCopyright { background: none; padding-left: 0; }

/* leaderboad banner strip */
#notSub { clear: both; width: 974px; height: 108px; background-color: #dedede; }
	#leaderboardWrapperAd { float: left; width: 728px; height: 90px; display: inline; margin: 9px; background-color: #ffffff; }
	#subsLogin { float: right; width: 210px; height: 90px; margin: 9px 9px 9px 0; }
	#subsLoginForm { background-color: #eef2f7; border: 1px solid #e3001a; padding: 3px; margin-bottom: 3px; }
		#subsLoginForm form { display: inline; margin: 0; padding: 0; font-weight: normal; }
		#subsLoginForm input { font-size: 1.1em; }
		#subsLoginForm input.text, #subsLoginForm input.password { height: 16px; width: 120px; border: 1px solid #818bab; }
		#subsLoginForm td { padding-right: 9px; }
		#subsLoginForm input.button { padding-left: 10px, height: 16px; width: 75px; border: 1px solid #666666; background: #818bab url(../../images/cdn.images.autosport.com/standards/bluebg.gif) scroll repeat-x 0 0; color: #ffffff; font-weight: bold; }
#headerBottom { clear: both; width: 974px; height: 21px; background: transparent url(../../images/cdn.images.autosport.com/standards/dotbg.gif) scroll repeat-x 0 33%; color: #e3001a; }
	#headerBottom .greyBg { width: 972px; margin: 0 1px; height: 21px; background: #c0c0c0 url(../../images/cdn.images.autosport.com/standards/greybg.gif) scroll repeat-x 0 0; }
#headerBottom li { margin-left: 9px; }
#headerBottom a, #headerBottom a:link, #headerBottom a:visited { font-weight: normal; color: #066a93; text-decoration: underline; outline: none; }
#headerBottom a:hover, #headerBottom a:active { color: #FFa500; }
#headerBottomTitle, #headerBottomTools { margin-top: 3px; }

#plusFlag {width: 22px; margin: 4px; float: right}

/* footer elements */
#footerImage a { width: 84px; height: 15px; margin: 1px 0; background: #000000 url(../../images/cdn.images.autosport.com/standards/haymarket2.gif) scroll no-repeat 0 0; display: block; text-indent: -3333px; }

