<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Jewellery | Cotton &amp; Gems</title>
	<meta name="description" content="Lorem ipsum dolor sit amet.">
	<meta name="author" content="Ridgeway Studios">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>	
	<div id="container" class="gridFull">		
		<header id="siteHeader">
			<a class="ir" href="index.html" id="logo" title="Visit the Cotton &amp; Gems homepage">Cotton &amp; Gems</a>
			
			<!-- Search form -->
			<form id="siteSearch" action="#" method="POST">
				<fieldset class="inline search">
					<label class="visuallyhidden" for="siteSearchQuery">Search the site</label>
					<input class="text-field" id="siteSearchQuery" name="siteSearchQuery" type="text" />
					<input class="button" id="siteSearchSubmit" name="siteSearchSubmit" title="Click to submit your search query" type="submit" value="Search" />
				</fieldset>
			</form>
			
			<!-- Main site navigation -->
			<nav id="navigation">
				<ul>
					<li class="pre-active"><a href="#" title="Return to the Cotton &amp; Gems homepage">Home</a></li>
					<li class="active"><a href="#" title="View Jewellery from Cotton &amp; Gems">Jewellery</a></li>
					<li><a href="#" title="View Designers at Cotton &amp; Gems">Designers</a></li>
					<li><a href="#" title="View Bespoke Jewellery from Cotton &amp; Gems">Bespoke</a></li>
					<li><a href="#" title="Cotton &amp; Gems News">News</a></li>
					<li><a href="#" title="About Cotton &amp; Gems">About</a></li>
					<li class="last"><a href="#" title="Contact Us">Contact</a></li>
				</ul>
			</nav>
		</header>
		
		<div id="main" role="main">
			<section class="indented" id="top">
				<nav id="breadcrumb">
					<ul>
						<li><a href="#" title="Go to Cotton &amp; Gems Homepage">Home</a></li>
						<li>Jewellery</li>
					</ul>
				</nav>
				
				<h1 title="Featured Jewellery and Designers at Cotton &amp; Gems">Jewellery</h1>
				
				<!-- Sorting and paging -->
				<div id="sortingPaging">
					<form id="productSorting" action="#" method="POST">
						<fieldset class="inline sorting">
							<label class="visuallyhidden" for="sortBy">Sort by latest</label>
							<select class="dropdown extended" id="sortBy" name="sortBy">
								<option value="0">Sort by latest</option>
								<option value="1">Value 1</option>
							</select>
							<label class="visuallyhidden" for="show">Number to show</label>
							<select class="dropdown" id="show" name="show">
								<option value="0">Show 20</option>
								<option value="1">Value 1</option>
							</select>
						</fieldset>
					</form>
					<nav id="productPaging">
						<p>Page 1 of 5:</p>
						<ul class="paging">
							<li class="active"><a href="#" title="You are on page 1">1</a></li>
							<li><a href="#" title="Go to page 2">2</a></li>
							<li><a href="#" title="Go to page 3">3</a></li>
							<li><a href="#" title="Go to page 4">4</a></li>
							<li><a href="#" title="Go to page 5">5</a></li>
						</ul>
					</ul>
				</div>
				
				<!-- Filters and Category navigation -->
				<nav class="gridSmall" id="filters">
					<h2 class="expand-contract first"><a href="#" title="Display Cotton &amp; Gems Designers">Designers</a></h2>
					<ul>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Lucas Jack">Lucas Jack</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer ulie Sandlau">Julie Sandlau</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Stephen Foster">Stephen Foster</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Daisy Chakra">Daisy Chakra</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">Babette Wasserman</a></li>
						<li class="last"><a href="#" title="View more information about Cotton &amp; Gems Designer Sho">Sho</a></li>
					</ul>

					<h2 class="expand-contract"><a href="#" title="Display Cotton &amp; Gems Categories">Categories</a></h2>
					<ul>
						<li><a href="#" title="View the Bangles Category">Bangles</a></li>
						<li><a href="#" title="View the Bracelets Category">Bracelets</a></li>
						<li><a href="#" title="View the Earrings Category">Earrings</a></li>
						<li><a href="#" title="View the Gents Category">Gents Jewellery</a></li>
						<li><a href="#" title="View the Necklaces Category">Necklaces</a></li>
						<li><a href="#" title="View the Rings Category">Rings</a></li>
						<li><a href="#" title="View the Engagement Category">Engagement Rings</a></li>
						<li><a href="#" title="View the Eternity Category">Eternity Rings</a></li>
						<li><a href="#" title="View the Wedding Category">Wedding Rings</a></li>
						<li><a href="#" title="View the Christening Category">Christening Gifts</a></li>
						<li class="last"><a href="#" title="View the Wedding Gifts Category">Wedding Gifts</a></li>
					</ul>
					
					<h2 class="expand-contract collapsed"><a href="#" title="View Materials">Materials</a></h2>
					<ul class="collapsed-list">
						<li><a href="#" title="View Gold">Gold</a></li>
						<li><a href="#" title="View Silver">Silver</a></li>
						<li class="last"><a href="#" title="View Bronze">Bronze</a></li>
					</ul>
					
					<h2 class="expand-contract collapsed"><a href="#" title="View Stones">Stones</a></h2>
					<ul class="collapsed-list">
						<li><a href="#" title="View Ruby">Ruby</a></li>
						<li><a href="#" title="View Opal">Opal</a></li>
						<li class="last"><a href="#" title="View Diamond">Diamond</a></li>
					</ul>
					
					<h2 class="expand-contract collapsed"><a href="#" title="View Colour">Colour</a></h2>
					<ul class="collapsed-list">
						<li><a href="#" title="View Red">Red</a></li>
						<li><a href="#" title="View White">White</a></li>
						<li><a href="#" title="View Black">Black</a></li>
						<li><a href="#" title="View Orange">Orange</a></li>
						<li class="last"><a href="#" title="View Blue">Blue</a></li>
					</ul>
					
					<h2 class="expand-contract collapsed"><a href="#" title="View Price">Price</a></h2>
					<ul class="collapsed-list">
						<li><a href="#" title="View Over £1000">Over £1000</a></li>
						<li><a href="#" title="View £500 - £1000">£500 - £1000</a></li>
						<li class="last"><a href="#" title="View Under £500">Under £500</a></li>
					</ul>
				</nav>
				
				<ul class="full" id="products">
					<li class="row-first">
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Bracelet">
							<img alt="Lucas Jack Bracelet" src="images/products/lucas-jack-bracelet.jpg" />
							<strong>Lucas Jack</strong> <b>Bracelet</b> £77.00
						</a>
					</li>
					<li>
						<a href="#" title="View Losa Rose Earrings">
							<img alt="Losa Rose Earrings" src="images/products/lola-rose-earrings.jpg" />
							<strong>Losa Rose</strong> <b>Earrings</b> £46.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li class="row-first">
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Bracelet">
							<img alt="Lucas Jack Bracelet" src="images/products/lucas-jack-bracelet.jpg" />
							<strong>Lucas Jack</strong> <b>Bracelet</b> £77.00
						</a>
					</li>
					<li>
						<a href="#" title="View Losa Rose Earrings">
							<img alt="Losa Rose Earrings" src="images/products/lola-rose-earrings.jpg" />
							<strong>Losa Rose</strong> <b>Earrings</b> £46.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li class="row-first">
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Bracelet">
							<img alt="Lucas Jack Bracelet" src="images/products/lucas-jack-bracelet.jpg" />
							<strong>Lucas Jack</strong> <b>Bracelet</b> £77.00
						</a>
					</li>
					<li>
						<a href="#" title="View Losa Rose Earrings">
							<img alt="Losa Rose Earrings" src="images/products/lola-rose-earrings.jpg" />
							<strong>Losa Rose</strong> <b>Earrings</b> £46.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li class="row-first">
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Bracelet">
							<img alt="Lucas Jack Bracelet" src="images/products/lucas-jack-bracelet.jpg" />
							<strong>Lucas Jack</strong> <b>Bracelet</b> £77.00
						</a>
					</li>
					<li>
						<a href="#" title="View Losa Rose Earrings">
							<img alt="Losa Rose Earrings" src="images/products/lola-rose-earrings.jpg" />
							<strong>Losa Rose</strong> <b>Earrings</b> £46.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
				</ul>
				<p id="back-to-top"><a href="#" title="Return to the top of this page">Back to top</a></p>
			</section>
			
			<section id="bottom">
				<!-- Designers Feature -->
				<div class="features gridHalf">
					<h3 title="Designers at Cotton &amp; Gems"><a href="#" title="View Cotton &amp; Gems Designers">Our Designers</a></h3>
					<figure class="feature gridMedium">
						<a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">
							<img alt="Photo of Babette Wasserman" src="images/designers/feature-babette-wasserman.jpg">
						</a>
						<figcaption>
							<a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">Babette Wasserman</a>
							Classically trained in Jewellery Design at Central St Martins College of Art, 
							Babette Wasserman has been creating collections of exquisite jewels...
						</figcaption>
					</figure>

					<ul class="list bulleted gridMedium">
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Lucas Jack">Lucas Jack</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer ulie Sandlau">Julie Sandlau</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Stephen Foster">Stephen Foster</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Daisy Chakra">Daisy Chakra</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Sho">Sho</a></li>
						<li class="last"><a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">Babette Wasserman</a></li>
					</ul>
				</div>
				
				<!-- News Feature -->
				<div class="news gridMedium">
					<h3 title="Latest News at Cotton &amp; Gems"><a href="#" title="View Cotton &amp; Gems Latest News">Latest News</a></h3>
					<ul class="list gridMedium">
						<li>
							<a href="#" title="View the full news story Antonio Banderas wears Babette Wesserman cufflinks ollicitudin.">
								<strong>04th April 2011</strong> Antonio Banderas wears Babette Wesserman cufflinks ollicitudin.
							</a>
						</li>
						<li>
							<a href="#" title="View the full news story Lola Rose featured in Cosmopolitan magazine.">
								<strong>29th March 2011</strong> Lola Rose featured in Cosmopolitan magazine.
							</a>
						</li>
						<li>
							<a href="#" title="View the full news story Stephen Foster eternity. Posuere dolor accumsan.">
								<strong>23rd March 2011</strong> Stephen Foster eternity. Posuere dolor accumsan.
							</a>
						</li>
						<li class="last">
							<a href="#" title="View the full news story Stephen Foster eternity. Posuere dolor accumsan.">
								<strong>21st March 2011</strong> Stephen Foster eternity. Posuere dolor accumsan.
							</a>
						</li>
					</ul>
				</div>
				
				<div class="tweets gridMedium last">
					<h3 title="Follow Cotton &amp; Gems on Twitter"><a href="#" title="Follow Cotton &amp; Gems on Twitter">Twitter</a></h3>
					<ul class="list gridMedium">
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">@Fusce</a> vitae gravida purus.</li>
						<li>Fusce sollicitudin nulla nec magna convallis sed posuere dolor accumsan. <a href="#">http://bit.ly/fuPTBO</a></li>
						<li class="last">Sed leo nibh, eleifend at feugiat et, varius id purus. <a href="#">@Aenean</a> nec sem ante, non <a href="#">@Lacinia</a> nunc. In hac habitasse <a href="#">http://yfrog.com/h0pvo</a></li>
					</ul>
					
					<!-- Twitter -->
					<ul class="social gridMedium">
						<li class="last"><a href="#" title="Follow Cotton &amp; Gems on Twitter" class="ir icon twitter">Follow Cotton &amp; Gems on Twitter</a></li>
						<li><a href="#" title="Like Cotton &amp; Gems on Facebook" class="ir icon facebook">Like Cotton &amp; Gems on Facebook</a></li>
					</ul>
				</div>
			</section>
		</div>

		<footer id="siteFooter">
			<!-- Hygeine Links -->
			<p id="copyright">&copy; 2011 <a href="index.html" title="Cotton &amp; Gems Homepage">Cotton &amp; Gems</a></p>
			<nav id="footerNavigation">
				<ul>
					<li><a href="#" title="Cotton &amp; Gems Site Map">Site Map</a></li>
					<li><a href="#" title="Cotton &amp; Gems Privacy Policy">Privacy</a></li>
					<li><a href="#" title="Cotton &amp; Gems Delivery Information">Delivery</a></li>
					<li><a href="#" title="Cotton &amp; Gems Returns Policy">Returns</a></li>
					<li class="last"><a href="#" title="Cotton &amp; Gems Terms &amp; Conditions">Terms</a></li>
				</ul>
			</nav>
			
			<!-- Newsletter Signup Form -->
			<form id="newsletterSignup" action="#" method="POST">
				<fieldset class="inline signup">
					<label for="signupEmailAddress">Newsletter:</label>
					<input class="text-field" id="signupEmailAddress" name="signupEmailAddress" placeholder="Enter email address" type="text" />
					<input class="button" id="signupSubmit" name="signupSubmit" title="Click to sign up for the Cotton &amp; Gems Newsletter" type="submit" value="Sign up" />
				</fieldset>
			</form>
		</footer>
	</div>
	
	<!-- Quick Basket dropdown -->
	<div id="quickBasket">
		<section id="quickBasketContents">
			<form id="quickBasketUpdate" action="#" method="POST">
				<fieldset id="quickBasketContentsInner">
					<table cellpadding="0" cellspacing="0" id="quickBasketItems">
						<tr>
							<th class="cell-first">Remove</th>
							<th>Item Name</th>
							<th class="cell-spaced">Size</th>
							<th>Quantity</th>
							<th class="cell-last">Price</th>
						</tr>
						<tr>
							<td class="cell-first"><input class="check" id="remove1" name="remove1" type="checkbox" /></td>
							<td><a href="#" title="View Babette wasserman Swarovski Crystal Glitter Chameleon Cocktail Ring on Cotton &amp Gems">Babette wasserman Swarovski Crystal Glitter Chameleon Cocktail Ring</a></td>
							<td class="cell-spaced">M</td>
							<td><input class="text-field narrow" id="quantity1" name="quantity1" type="text" value="1" /></td>
							<td class="cell-last">£310.00</td>
						</tr>
						<tr>
							<td class="cell-first"><input class="check" id="remove2" name="remove2" type="checkbox" /></td>
							<td><a href="#" title="View Lucas jack ram’s head bracelet on Cotton &amp Gems">Lucas jack ram’s head bracelet</a></td>
							<td class="cell-spaced">N/A</td>
							<td><input class="text-field narrow" id="quantity2" name="quantity2" type="text" value="1" /></td>
							<td class="cell-last">£96.00</td>
						</tr>
					</table>
					
					<input class="button" id="quickBasketEmpty" name="quickBasketEmpty" title="Click to empty your basket" type="submit" value="Empty" />
					<input class="button" id="quickBasketUpdate" name="quickBasketUpdate" title="Click to update your basket" type="submit" value="Update" />
					<input class="button right" id="quickBasketCheckout" name="quickBasketCheckout" title="Click to checkout" type="submit" value="Checkout" />
				</fieldset>
			</form>
		</section>
		<div id="quickBasketButton">
			<p><a href="#" title="View your Shopping Basket">Shopping Basket</a></p>
		</div>
	</div>

	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>

	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg');
		<script src="js/ie6.js"></script>
	<![endif]-->

	<script>
		//var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		//s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>