<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Cotton &amp; Gems | Jewellery, Designers, Bespoke</title>
	<meta name="description" content="Lorem ipsum dolor sit amet.">
	<meta name="author" content="Ridgeway Studios">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
	<div id="container" class="gridFull">
		<header id="siteHeader">
			<a class="ir" href="index.html" id="logo" title="Visit the Cotton &amp; Gems homepage">Cotton &amp; Gems</a>
			
			<!-- Search form -->
			<form id="siteSearch" action="#" method="POST">
				<fieldset class="inline search">
					<label class="visuallyhidden" for="siteSearchQuery">Search the site</label>
					<input class="text-field" id="siteSearchQuery" name="siteSearchQuery" type="text" />
					<input class="button" id="siteSearchSubmit" name="siteSearchSubmit" title="Click to submit your search query" type="submit" value="Search" />
				</fieldset>
			</form>
			
			<!-- Main site navigation -->
			<nav id="navigation">
				<ul>
					<li class="active"><a href="#" title="Return to the Cotton &amp; Gems homepage">Home</a></li>
					<li><a href="#" title="View Jewellery from Cotton &amp; Gems">Jewellery</a></li>
					<li><a href="#" title="View Designers at Cotton &amp; Gems">Designers</a></li>
					<li><a href="#" title="View Bespoke Jewellery from Cotton &amp; Gems">Bespoke</a></li>
					<li><a href="#" title="Cotton &amp; Gems News">News</a></li>
					<li><a href="#" title="About Cotton &amp; Gems">About</a></li>
					<li class="last"><a href="#" title="Contact Us">Contact</a></li>
				</ul>
			</nav>
		</header>

		<div id="main" role="main">
			<section id="top">
				<h1 class="visuallyhidden">Featured Jewellery and Designers at Cotton &amp; Gems</h1>
				
				<!-- Hero -->
				<section id="hero" class="gridBorderMax">
					<div id="slides">
						<figure id="slide1" class="slide middle-left">
							<h2 class="visuallyhidden">Exclusive Stephen Foster Wedding Rings</h2>
							<a class="inner" href="#" title="View more about Stephen Foster Wedding Rings">
								<figcaption>
									<strong>Exclusive<br /> Stephen Foster Engagement Rings</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
									exercitation ullamco laboris. <img alt="View more about Stephen Foster Wedding Rings arrow icon" src="images/structure/arrow-round.png" />
								</figcaption>
							</a>
						</figure>
						<figure id="slide2" class="slide dark middle-left">
							<h2 class="visuallyhidden">Lorem Ipsum Dolor Sit Amet</h2>
							<a class="inner" href="#" title="View more about Lorem Ipsum Dolor Sit Amet">
								<figcaption>
									<strong>Lorem Ipsum Dolor Sit Amet</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
									exercitation ullamco laboris.
								</figcaption>
							</a>
						</figure>
						<figure id="slide3" class="slide middle-right">
							<h2 class="visuallyhidden">Amet Sit Dolor Ipsum Lorem</h2>
							<a class="inner" href="#" title="View more about Amet Sit Dolor Ipsum Lorem">
								<figcaption>
									<strong>Amet Sit Dolor Ipsum Lorem</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
									exercitation ullamco laboris.
								</figcaption>
							</a>
						</figure>
						<figure id="slide4" class="slide dark middle-right">
							<h2 class="visuallyhidden">Lorem Ipsum Dolor Sit Amet</h2>
							<a class="inner" href="#" title="View more about Lorem Ipsum Dolor Sit Amet">
								<figcaption>
									<strong>Lorem Ipsum Dolor Sit Amet</strong>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
									exercitation ullamco laboris.
								</figcaption>
							</a>
						</figure>
					</div>
	
					<!-- Hero navigation links -->
					<nav id="heroNavigation">
						<ul>
							<li><a href="#slide1" id="show-slide1" title="View more about Stephen Foster Wedding Rings">View Stephen Foster Wedding Rings</a></li>
							<li><a href="#slide2" id="show-slide2" title="View more about Lorem Ipsum Dolor Sit Amet">View Lorem Ipsum Dolor Sit Amet</a></li>
							<li><a href="#slide3" id="show-slide3" title="View more about Amet Sit Dolor Ipsum Lorem">View Amet Sit Dolor Ipsum Lorem</a></li>
							<li><a href="#slide4" id="show-slide4" title="View more about Lorem Ipsum Dolor Sit Amet">View Lorem Ipsum Dolor Sit Amet</a></li>
						</ul>
					</nav>
				</section>
				
				<!-- Featured Categories -->
				<section id="categories">
					<figure>
						<a class="cat gridBorderLarge" href="#" title="View Lucas Jack Bracelets">
							<img alt="Lucas Jack Bracelets" src="images/designers/lucas-jack-bracelets.jpg" />
							<figcaption class="narrow">Lucas Jack Bracelets Now In Stock</figcaption>
						</a>
					</figure>
					<figure>
						<a class="cat gridBorderLarge" href="#" title="View Stepen Foster Engagement Rings">
							<img alt="Stephen Foster Engagement Rings" src="images/designers/stephen-foster-engagement-rings.jpg" />
							<figcaption class="dark">Exclusive Stephen Foster Engagement Rings</figcaption>
						</a>
					</figure>
					<figure>
						<a class="cat gridBorderLarge last" href="#" title="View Award Winning Katie Rowland Point Break Collection">
							<img alt="View Award Winning Katie Rowland Point Break Collection" src="images/designers/katie-rowland-point-break-collection.jpg" />
							<figcaption class="dark">Daisy Chakra. As worn by Cheryl, Sienna, Pixie &amp; Angelina. From £80</figcaption>
						</a>
					</figure>
				</section>
			</section>
			
			<section id="middle">
				<h3 title="Latest Jewellery on sale at Cotton &amp; Gems"><a href="#" title="View Cotton &amp; Gems Jewellery">Latest Jewellery</a></h3>
				<ul id="products">
					<li class="row-first">
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Bracelet">
							<img alt="Lucas Jack Bracelet" src="images/products/lucas-jack-bracelet.jpg" />
							<strong>Lucas Jack</strong> <b>Bracelet</b> £77.00
						</a>
					</li>
					<li>
						<a href="#" title="View Losa Rose Earrings">
							<img alt="Losa Rose Earrings" src="images/products/lola-rose-earrings.jpg" />
							<strong>Losa Rose</strong> <b>Earrings</b> £46.00
						</a>
					</li>
					<li>
						<a href="#" title="View Lucas Jack Necklace">
							<img alt="Lucas Jack Necklace" src="images/products/lucas-jack-necklace.jpg" />
							<strong>Lucas Jack</strong> <b>Necklace</b> £44.00
						</a>
					</li>
					<li>
						<a href="#" title="View Katie Rowland Bracelet">
							<img alt="Katie Rowland Bracelet" src="images/products/kate-rowland-bracelet.jpg" />
							<strong>Katie Rowland</strong> <b>Bracelet</b> £339.00
						</a>
					</li>
				</ul>
			</section>
			
			<section id="bottom">
				<!-- Designers Feature -->
				<div class="features gridHalf">
					<h3 title="Designers at Cotton &amp; Gems"><a href="#" title="View Cotton &amp; Gems Designers">Our Designers</a></h3>
					<figure class="feature gridMedium">
						<a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">
							<img alt="Photo of Babette Wasserman" src="images/designers/feature-babette-wasserman.jpg">
						</a>
						<figcaption>
							<a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">Babette Wasserman</a>
							Classically trained in Jewellery Design at Central St Martins College of Art, 
							Babette Wasserman has been creating collections of exquisite jewels...
						</figcaption>
					</figure>
					
					<ul class="list bulleted gridMedium">
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Lucas Jack">Lucas Jack</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer ulie Sandlau">Julie Sandlau</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Stephen Foster">Stephen Foster</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Daisy Chakra">Daisy Chakra</a></li>
						<li><a href="#" title="View more information about Cotton &amp; Gems Designer Sho">Sho</a></li>
						<li class="last"><a href="#" title="View more information about Cotton &amp; Gems Designer Babette Wasserman">Babette Wasserman</a></li>
					</ul>
				</div>
				
				<!-- News Feature -->
				<div class="news gridMedium">
					<h3 title="Latest News at Cotton &amp; Gems"><a href="#" title="View Cotton &amp; Gems Latest News">Latest News</a></h3>
					<ul class="list gridMedium">
						<li>
							<a href="#" title="View the full news story Antonio Banderas wears Babette Wesserman cufflinks ollicitudin.">
								<strong>04th April 2011</strong> Antonio Banderas wears Babette Wesserman cufflinks ollicitudin.
							</a>
						</li>
						<li>
							<a href="#" title="View the full news story Lola Rose featured in Cosmopolitan magazine.">
								<strong>29th March 2011</strong> Lola Rose featured in Cosmopolitan magazine.
							</a>
						</li>
						<li>
							<a href="#" title="View the full news story Stephen Foster eternity. Posuere dolor accumsan.">
								<strong>23rd March 2011</strong> Stephen Foster eternity. Posuere dolor accumsan.
							</a>
						</li>
						<li class="last">
							<a href="#" title="View the full news story Stephen Foster eternity. Posuere dolor accumsan.">
								<strong>21st March 2011</strong> Stephen Foster eternity. Posuere dolor accumsan.
							</a>
						</li>
					</ul>
				</div>
				
				<div class="tweets gridMedium last">
					<h3 title="Follow Cotton &amp; Gems on Twitter"><a href="#" title="Follow Cotton &amp; Gems on Twitter">Twitter</a></h3>
					<ul class="list gridMedium">
						<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">@Fusce</a> vitae gravida purus.</li>
						<li>Fusce sollicitudin nulla nec magna convallis sed posuere dolor accumsan. <a href="#">http://bit.ly/fuPTBO</a></li>
						<li class="last">Sed leo nibh, eleifend at feugiat et, varius id purus. <a href="#">@Aenean</a> nec sem ante, non <a href="#">@Lacinia</a> nunc. In hac habitasse <a href="#">http://yfrog.com/h0pvo</a></li>
					</ul>
					
					<!-- Twitter -->
					<ul class="social gridMedium">
						<li class="last"><a href="#" title="Follow Cotton &amp; Gems on Twitter" class="ir icon twitter">Follow Cotton &amp; Gems on Twitter</a></li>
						<li><a href="#" title="Like Cotton &amp; Gems on Facebook" class="ir icon facebook">Like Cotton &amp; Gems on Facebook</a></li>
					</ul>
				</div>
			</section>
		</div>

		<footer id="siteFooter">
			<!-- Hygeine Links -->
			<p id="copyright">&copy; 2011 <a href="index.html" title="Cotton &amp; Gems Homepage">Cotton &amp; Gems</a></p>
			<nav id="footerNavigation">
				<ul>
					<li><a href="#" title="Cotton &amp; Gems Site Map">Site Map</a></li>
					<li><a href="#" title="Cotton &amp; Gems Privacy Policy">Privacy</a></li>
					<li><a href="#" title="Cotton &amp; Gems Delivery Information">Delivery</a></li>
					<li><a href="#" title="Cotton &amp; Gems Returns Policy">Returns</a></li>
					<li class="last"><a href="#" title="Cotton &amp; Gems Terms &amp; Conditions">Terms</a></li>
				</ul>
			</nav>
			
			<!-- Newsletter Signup Form -->
			<form id="newsletterSignup" action="#" method="POST">
				<fieldset class="inline signup">
					<label for="signupEmailAddress">Newsletter:</label>
					<input class="text-field" id="signupEmailAddress" name="signupEmailAddress" placeholder="Enter email address" type="text" />
					<input class="button" id="signupSubmit" name="signupSubmit" title="Click to sign up for the Cotton &amp; Gems Newsletter" type="submit" value="Sign up" />
				</fieldset>
			</form>
		</footer>
	</div>
	
	<!-- Quick Basket dropdown -->
	<div id="quickBasket">
		<section id="quickBasketContents">
			<form id="quickBasketUpdate" action="#" method="POST">
				<fieldset id="quickBasketContentsInner">
					<table cellpadding="0" cellspacing="0" id="quickBasketItems">
						<tr>
							<th class="cell-first">Remove</th>
							<th>Item Name</th>
							<th class="cell-spaced">Size</th>
							<th>Quantity</th>
							<th class="cell-last">Price</th>
						</tr>
						<tr>
							<td class="cell-first"><input class="check" id="remove1" name="remove1" type="checkbox" /></td>
							<td><a href="#" title="View Babette wasserman Swarovski Crystal Glitter Chameleon Cocktail Ring on Cotton &amp Gems">Babette wasserman Swarovski Crystal Glitter Chameleon Cocktail Ring</a></td>
							<td class="cell-spaced">M</td>
							<td><input class="text-field narrow" id="quantity1" name="quantity1" type="text" value="1" /></td>
							<td class="cell-last">£310.00</td>
						</tr>
						<tr>
							<td class="cell-first"><input class="check" id="remove2" name="remove2" type="checkbox" /></td>
							<td><a href="#" title="View Lucas jack ram’s head bracelet on Cotton &amp Gems">Lucas jack ram’s head bracelet</a></td>
							<td class="cell-spaced">N/A</td>
							<td><input class="text-field narrow" id="quantity2" name="quantity2" type="text" value="1" /></td>
							<td class="cell-last">£96.00</td>
						</tr>
					</table>
					
					<input class="button" id="quickBasketEmpty" name="quickBasketEmpty" title="Click to empty your basket" type="submit" value="Empty" />
					<input class="button" id="quickBasketUpdate" name="quickBasketUpdate" title="Click to update your basket" type="submit" value="Update" />
					<input class="button right" id="quickBasketCheckout" name="quickBasketCheckout" title="Click to checkout" type="submit" value="Checkout" />
				</fieldset>
			</form>
		</section>
		<div id="quickBasketButton">
			<p><a href="#" title="View your Shopping Basket">Shopping Basket</a></p>
		</div>
	</div>

	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>-->
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>

	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg');
		<script src="js/ie6.js"></script>
	<![endif]-->

	<script>
		//var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		//s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>