<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Cotton &amp; Gems | Jewellery, Designers, Bespoke</title>
	<meta name="description" content="Lorem ipsum dolor sit amet.">
	<meta name="author" content="Ridgeway Studios">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.png">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">
	<script src="js/libs/modernizr-1.7.min.js"></script>
</head>
<body class="holding-page">
	<div id="container" class="gridFull">
		<header id="siteHeader">
			<a class="ir" href="index.html" id="logo" title="Visit the Cotton &amp; Gems homepage">Cotton &amp; Gems</a>
		</header>

		<div id="main" role="main">
			<section id="top">				
				<!-- Hero -->
				<section id="hero" class="gridBorderMax">
					<figure class="slide">
						<h1 title="Cotton &amp; Gems Website Coming Soon">Coming Very Soon...</h1>
						<figcaption>We’re just putting the final touches to our new website offering a wide range of spectacular 
						bespoke and award winning designer jewellery. To register your interest in Cotton &amp; Gems and be 
						notified when the site launches, please complete the form below.</figcaption>
						<fieldset id="notifyFormFields">
							<label for="notifyName">Name:</label>
							<input class="text-field" id="notifyName" name="notifyName" type="text" />
							<label for="notifyEmail">Email Address:</label>
							<input class="text-field" id="notifyEmail" name="notifyEmail" type="text" />
							<label for="notifyVoucher">Voucher Code:</label>
							<input class="text-field" id="notifyVoucher" name="notifyVoucher" type="text" />							
		
							<input class="button" id="notifySubmit" name="notifySubmit" title="Click to submit and register your interest" type="submit" value="Submit" />
						</fieldset>
					</figure>
				</section>
			</section>
		</div>
		
		<footer id="siteFooter">
			<p id="copyright">&copy; 2011 Cotton &amp; Gems</p>
		</footer>
	</div>

	<script>
		//var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		//(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		//g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		//s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>
</html>