<!doctype html>  
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MIRA – Smarter Thinking for vehicle engineering, testing & research</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!--meta name="viewport" content="width=device-width, initial-scale=1.0"-->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css" media="screen"> 
  <link rel="stylesheet" href="css/handheld.css" media="handheld">
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>
<body class="home">
	<div id="container">
		<!-- Site header -->
		<header id="site-header">		
			<!-- Quick links -->
			<nav id="quick-links">
				<ul>
					<li><a href="http://www.mira.co.uk/News/default.htm" title="View Latest News &amp; Events">News &amp; Events</a> //</li>
					<li><a href="http://www.mira.co.uk/Facilities/default.htm" title="View MIRA Facilities">Facilities</a> //</li>
					<li><a href="http://www.mira.co.uk/Careers/General.asp" title="View Careers at MIRA">Careers</a> //</li>
					<li><a href="http://www.mira.co.uk/Media/Press_Centre.asp" title="View MIRA Press Centre">Press Centre</a></li>
				</ul>
			</nav>
		
			<section id="header-content">				
				<!-- Search form -->
				<form class="inline" id="site-search" name="SearchForm" action="http://www.mira.co.uk/SearchResults.asp" method="POST">
					<fieldset>
						<label for="Search">Search the site</label>
						<input class="text-field" id="Search" name="Search" placeholder="Enter your search query" type="text" />
						<input class="button" id="SearchButton" name="SearchButton" title="Click to submit your search query" type="submit" value="Search" />
					</fieldset>
				</form>
				
				<!-- Logo/home link -->
				<a class="ir" href="index.html" id="logo" title="Visit the MIRA homepage">MIRA - Smarter Thinking</a>
				
				<!-- Main site navigation -->
				<nav id="navigation">
					<ul>
						<li class="rolldown-trigger no-nav"><a href="http://www.mira.co.uk/default.htm" title="View Our Services">Our Services</a></li>
						<li><a href="http://www.mira.co.uk/News/default.htm#NewDevelopment" title="View the Technology Park">Technology Park</a> //</li>
						<li><a href="http://www.mira.co.uk/About_MIRA/What_is_MIRA.htm" title="View information about MIRA">About MIRA</a> //</li>
						<li><a href="http://www.mira.co.uk/Contacts/Contacts_Addresses.htm" title="Contact MIRA">Contact</a></li>
					</ul>
				</nav>
			</section>
		</header>
		
		<div id="post-header-container">
			<!-- Hero -->
			<section id="hero">
				<figure id="slide-one" class="slide first">
					<a class="slide-inner" href="http://www.mira.co.uk/Services/ProductEngineering.htm" title="View more about Smarter Engineering">
						<figcaption class="strap">
							<strong>Smarter Engineering.</strong>
							At MIRA we work as your strategic partner, developing essential whole vehicle 
							solutions that get you smarter results.
						</figcaption>
					</a>
				</figure>
				<figure id="slide-two" class="slide">
					<a class="slide-inner" href="http://www.mira.co.uk/Services/Testing.htm" title="View more about Smarter Testing">
						<figcaption class="strap">
							<strong>Smarter Testing.</strong>
							MIRA’s extensive experience in whole vehicle engineering and our unrivalled 
							collection of test facilities delivers real business value for customers.
						</figcaption>
					</a>
				</figure>
				<figure id="slide-three" class="slide three">
					<a class="slide-inner" href="http://www.mira.co.uk/News/default.htm#NewDevelopment" title="View more about Smarter Facilities">
						<figcaption class="strap">
							<strong>Smarter Facilities.</strong>
							The MIRA Technology Park is being developed to provide new facilities for 
							the world-wide automotive industry.
						</figcaption>
					</a>
				</figure>
				<figure id="slide-four" class="slide four">
					<a class="slide-inner" href="http://www.mira.co.uk/Case_Studies/MACE2AutonmousUGV.htm" title="View more about Smarter UGVs">
						<figcaption class="strap">
							<strong>Smarter UGVs.</strong>
							MIRA UGVs are designed to be flexible and modular to enable them to be 
							configured to our customers’ operational requirements.
						</figcaption>
					</a>
				</figure>
				<figure id="slide-five" class="slide five">
					<a class="slide-inner" href="http://www.mira.co.uk/Case_Studies/CaseStudies_Greener.htm" title="View more about Smarter Low Carbon Vehicles">
						<figcaption class="strap">
							<strong>Smarter Low Carbon Vehicles.</strong>
							MIRA’s holistic approach to low carbon vehicle engineering optimises energy efficiency.
						</figcaption>
					</a>
				</figure>
				<figure id="slide-six" class="slide six">
					<a class="slide-inner" href="http://www.mira.co.uk/news/default.htm" title="View more about Smarter Electric Vehicles">
						<figcaption class="strap">
							<strong>Smarter Electric Vehicles.</strong>
							MIRA and Gevco are collaborating to develop electric cars that meet the same design 
							and performance standards expected by the ‘iPod generation’.
						</figcaption>
					</a>
				</figure>
			</section>
			
			<!-- Hero navigation links -->
			<nav id="hero-navigation">
				<ul>
					<li class="first"><a href="index.html" title="View First">First</a></li>
					<li><a id="show-slide-one" href="http://www.mira.co.uk/Services/ProductEngineering.htm" title="View Smarter Engineering">Smarter Engineering</a></li>
					<li><a id="show-slide-two" href="http://www.mira.co.uk/Services/Testing.htm" title="View Smarter Testing">Smarter Testing</a></li>
					<li><a id="show-slide-three" href="http://www.mira.co.uk/News/default.htm#NewDevelopment" title="View Smarter Facilities">Smarter Facilities</a></li>
					<li><a id="show-slide-four" href="http://www.mira.co.uk/Case_Studies/MACE2AutonmousUGV.htm" title="View Smarter UGVs">Smarter UGVs</a></li>
					<li><a id="show-slide-five" href="http://www.mira.co.uk/Case_Studies/CaseStudies_Greener.htm" title="View Smarter Low Carbon Vehicles">Smarter Low Carbon Vehicles</a></li>
					<li><a id="show-slide-six" href="http://www.mira.co.uk/news/default.htm" title="View Smarter Electric Vehicles">Smarter Electric Vehicles</a></li>
					<li class="last"><a href="index.html" title="View Last">Last</a></li>
				</ul>
			</nav>
	
			<!-- Main content area -->
			<div id="main-content-container">			
				<!-- Content area -->
				<section id="content">
					<h1 title="MIRA - We Deliver Smarter Thinking">We Deliver Smarter Thinking.</h1>
					<p>We’re an innovative company focused on creating the future of advanced vehicle and systems technology.</p>
					<p>Our customer focused, fully integrated approach and industry experience, together with our facilities, 
					gives us the pioneering edge to deliver ground breaking, whole market solutions.</p>
					<p>MIRA is changing. We have developed a dynamic new brand image and over the coming months we will launch our new website in full. 
					Our old website remains online and can be accessed from this homepage.</p>
				</section>
				
				<!-- CTAs area -->
				<section class="links-container">
					<figure class="cta">
						<a href="http://www.mira.co.uk/Case_Studies/LimoGreen.htm " title="View Limo Green Case Study">
							<img alt="Limo Green Case Study image" src="images/ctas/limo-green.jpg" />
							<figcaption><span>Limo Green Case Study.</span></figcaption>
						</a>
					</figure>
					<figure class="cta-expanded">
						<a href="http://www.mira.co.uk/news/default.htm" title="View MIRA - Boxing Clever">
							<span>
								<img alt="MIRA - Boxing Clever image" src="images/news-events/news-1.jpg" />
								<time datetime="December 21, 2010">21 <small>Dec</small></time>
							</span>
							<figcaption>
								<strong>Boxing Clever.</strong>
								Aerodynamics experts at MIRA have developed a unique design for box trailers that, 
								alongside subtle aero enhancements to the cab, reduces total drag...
							</figcaption>
						</a>
					</figure>
					<figure class="cta-expanded">
						<a href="http://www.mira.co.uk/news/default.htm" title="View MIRA &amp; GAC Debut at 2010 Asian Games">
							<span>
								<img alt="MIRA &amp; GAC Debut at 2010 Asian Games image" src="images/news-events/news-2.jpg" />
								<time datetime="November 24, 2010">24 <small>Nov</small></time>
							</span>
							<figcaption>
								<strong>MIRA &amp; GAC Debut at 2010 Asian Games.</strong>
								MIRA Ltd has strongly supported GAC in making a triumphant debut at the 16th Asian Games in Guangzhou...
							</figcaption>
						</a>
					</figure>
					<figure class="cta-expanded last">
						<a href="http://www.mira.co.uk/news/default.htm" title="View MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicles">
							<span>
								<img alt="MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicles image" src="images/news-events/news-3.jpg" />
								<time datetime="October 21, 2010">21 <small>Oct</small></time>
							</span>
							<figcaption>
								<strong>MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicles.</strong>
								Can a Hybrid Electric Vehicle (HEV) offer a dynamic driving experience?
							</figcaption>
						</a>
					</figure>
					<p class="more"><a href="http://www.mira.co.uk/news/default.htm" title="View More MIRA News &amp; Events">More News &amp; Events</a></p>
				</section>
			</div>
	
			<!-- Mailing list signup -->
			<section id="mailing-list" class="empty"> </section>
	
			<!-- Site footer -->
			<footer id="site-footer">
				<!-- Sitemap links -->
				<nav id="mini-sitemap">
					<ul>
						<li class="first"><h6>More.</h6></li>
						<li><a href="http://www.mira.co.uk/News/default.htm#NewDevelopment" title="View Technology Park">Technology Park</a></li>
						<li><a href="http://www.mira.co.uk/About_MIRA/What_is_MIRA.htm" title="View About MIRA">About MIRA</a></li>
						<li><a href="http://www.mira.co.uk/News/default.htm" title="View News &amp; Events">News &amp; Events</a></li>
						<li><a href="http://www.mira.co.uk/Services/Research.htm" title="View Research">Research</a></li>
						<li><a href="http://www.mira.co.uk/Careers/General.asp" title="View Careers">Careers</a></li>
						<li class="last"><a href="http://www.mira.co.uk/Contacts/Contacts_Addresses.htm" title="View Contact Us">Contact Us</a></li>
					</ul>
				</nav>
				<!-- Site copyright -->
				<p id="copyright">Copyright MIRA Ltd. 2011. Registered in England No. 402570.<br />
				Registered Office: Watling Street, Nuneaton, Warwickshire, UK. CV10 0TU.</p>
			</footer>
		</div>
	</div>

	<!-- CDN jQuery w/fallback -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script-mini-site.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<script src="js/ie6.js"></script>
	<![endif]-->
	
	<!-- GA async -->
	<script>
		var _gaq = [['_setAccount', 'UA-18177466-1'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>