<!doctype html>  
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MIRA - Hub page</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css" media="screen"> 
  <link rel="stylesheet" href="css/handheld.css" media="handheld">
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>
<body class="content">
	<div id="container">
		<!-- Site header -->
		<header id="site-header">		
			<!-- Quick links -->
			<nav id="quick-links">
				<div id="country-selector">
					<a class="flag uk" href="#" title="Click to change country. Current country: United Kingdom">United Kingdom</a>
					<ul>
						<li><a class="flag uk" href="#">United Kingdom</a></li>
						<li><a class="flag cn" href="#">China</a></li>
						<li><a class="flag in" href="#">India</a></li>
					</ul>
				</div>
				<ul>
					<li><a href="#" title="View Latest News &amp; Events">News &amp; Events</a> //</li>
					<li><a href="#" title="View MIRA Facilities">Facilities</a> //</li>
					<li><a href="#" title="View Careers at MIRA">Careers</a> //</li>
					<li><a href="#" title="View MIRA Press Centre">Press Centre</a></li>
				</ul>
			</nav>
		
			<section id="header-content">				
				<!-- Search form -->
				<form class="inline" id="site-search" action="#" method="POST">
					<fieldset>
						<label for="site-search-query">Search the site</label>
						<input class="text-field" id="site-search-query" name="site-search-query" placeholder="Enter your search query" type="text" />
						<input class="button" id="site-search-submit" name="site-search-submit" title="Click to submit your search query" type="submit" value="Search" />
					</fieldset>
				</form>
				
				<!-- Logo/home link -->
				<a class="ir" href="index.html" id="logo" title="Visit the MIRA homepage">MIRA - Smarter Thinking</a>
				
				<!-- Main site navigation -->
				<nav id="navigation">
					<ul>
						<li class="rolldown-trigger"><a href="#" title="View Our Services">Our Services</a></li>
						<li><a href="#" title="View the Technology Park">Technology Park</a> //</li>
						<li><a href="#" title="View information about MIRA">About MIRA</a> //</li>
						<li><a href="#" title="Contact MIRA">Contact</a></li>
					</ul>
				</nav>
			</section>
			<!-- Rolldown navigation -->
			<section id="rolldown">
				<nav id="rolldown-navigation">
					<ul>
						<li>
							<a href="#" title="View Automotive Upper Body"><img alt="Automotive Upper Body image" src="images/navigation/automotive.jpg" />
							<a class="link" href="#" title="View Automotive Upper Body">Automotive Upper Body</a>
						</li>
						<li>
							<a href="#" title="View Defence"><img alt="Defence image" src="images/navigation/defence.jpg" />
							<a class="link" href="#" title="View Defence">Defence</a>
						</li>
						<li>
							<a href="#" title="View Unmanned Ground Vehicles"><img alt="Unmanned Ground Vehicles image" src="images/navigation/unmanned-ground-vehicles.jpg" />
							<a class="link" href="#" title="View Unmanned Ground Vehicles">Unmanned Ground Vehicles</a>
						</li>
						<li class="end">
							<a href="#" title="View Low Carbon"><img alt="Low Carbon image" src="images/navigation/low-carbon.jpg" />
							<a class="link" href="#" title="View Low Carbon">Low Carbon</a>
						</li>
						<li>
							<a href="#" title="View Intelligent Transport Systems"><img alt="Intelligent Transport Systems image" src="images/navigation/intelligent-transport-systems.jpg" />
							<a class="link" href="#" title="View Intelligent Transport Systems">Intelligent Transport Systems</a>
						</li>
						<li>
							<a href="#" title="View Proving Ground &amp; Events"><img alt="Proving Ground &amp; Events image" src="images/navigation/proving-ground-events.jpg" />
							<a class="link" href="#" title="View Proving Ground &amp; Events">Proving Ground &amp; Events</a>
						</li>
						<li>
							<a href="#" title="View Test Engineering &amp; Certification"><img alt="Test Engineering &amp; Certification image" src="images/navigation/test-engineering-certification.jpg" />
							<a class="link" href="#" title="View Test Engineering &amp; Certification">Test Engineering &amp; Certification</a>
						</li>
						<li class="end">
							<a href="#" title="View Rail"><img alt="Rail image" src="images/navigation/rail.jpg" />
							<a class="link" href="#" title="View Rail">Rail</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Aerospace"><img alt="Aerospace image" src="images/navigation/aerospace.jpg" />
							<a class="link" href="#" title="View Aerospace">Aerospace</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Motorsport"><img alt="Motorsport image" src="images/navigation/motorsport.jpg" />
							<a class="link" href="#" title="View Motorsport">Motorsport</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Research"><img alt="Research image" src="images/navigation/research.jpg" />
							<a class="link" href="#" title="View Research">Research</a>
						</li>
					</ul>
				</nav>
			</section>
		</header>
		
		<div id="post-header-container">
			<!-- Hero -->
			<section id="hero">
				<figure id="slide-one" class="slide first">
					<div class="slide-inner" title="View more about Smarter Engineering">
						<figcaption class="strap">
							<strong>Automotive Engineering.</strong>
							<nav id="breadcrumb">
								<ul>
									<li><a href="#" title="Go to MIRA Homepage">Home</a> //</li>
									<li><a href="#" title="Go to MIRA's Services">Our Services</a> //</li>
									<li><b>Automotive Engineering</b></li>
								</ul>
							</nav>
						</figcaption>
					</div>
				</figure>
			</section>
	
			<!-- Main content area -->
			<div id="main-content-container">
				<div id="lcol">
					<!-- Content area Left -->
					<section id="content">
						<h1 title="MIRA - Smarter Automotive Engineering">Smarter Automotive Engineering.</h1>
						<p class="leader">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut 
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
						nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
						esse cillum.</p>
					</section>
					
					<!-- Tabbed, expand/contract more info boxes -->
					<section class="expand-contract tabs" id="more-info">
						<nav class="tab-links">
							<ul>
								<li><a href="#tab-1">Capabilities.</a></li>
								<li><a href="#tab-2">Facilities.</a></li>
							</ul>
						</nav>
						<div class="tab" id="tab-1">
							<ul>
								<li>
									<h2><a href="#">Styling &amp; Design</a></h2>
									<div>
										<img alt="Photo" src="images/content/hub-more-info-photo.jpg" />
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur tincidunt risus, 
										vel scelerisque risus imperdiet at. Nam id dui vitae mauris consectetur consequat volutpat eget magna.</p>
										<p>Mauris scelerisque velit ac nisl ornare at pulvinar nisl porta. Praesent nunc erat, dapibus 
										lacinia feugiat sed, adipiscing sed dui. Donec lacus enim.</p>
										<p class="more">
											<a href="#" title="View Upper Body">View Upper Body</a>
											<a href="#" title="View Under Body">View Under Body</a>
										</p>
									</div>
								</li>
								<li>
									<h2><a href="#">Prototype Design &amp; Delivery</a></h2>
									<div>
										<img alt="Photo" src="images/content/hub-more-info-photo.jpg" />
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur tincidunt risus, 
										vel scelerisque risus imperdiet at. Nam id dui vitae mauris consectetur consequat volutpat eget magna.</p>
										<p>Mauris scelerisque velit ac nisl ornare at pulvinar nisl porta. Praesent nunc erat, dapibus 
										lacinia feugiat sed, adipiscing sed dui. Donec lacus enim.</p>
										<p class="more">
											<a href="#" title="View Upper Body">View Upper Body</a>
											<a href="#" title="View Under Body">View Under Body</a>
										</p>
									</div>
								</li>
								<li>
									<h2><a href="#">Design Validation &amp; Durability</a></h2>
									<div>
										<img alt="Photo" src="images/content/hub-more-info-photo.jpg" />
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur tincidunt risus, 
										vel scelerisque risus imperdiet at. Nam id dui vitae mauris consectetur consequat volutpat eget magna.</p>
										<p>Mauris scelerisque velit ac nisl ornare at pulvinar nisl porta. Praesent nunc erat, dapibus 
										lacinia feugiat sed, adipiscing sed dui. Donec lacus enim.</p>
										<p class="more"><a href="#" title="View">View</a></p>
									</div>
								</li>
							</ul>
						</div>
						<div class="tab" id="tab-2">
							<ul>
								<li>
									<h2><a href="#">Styling &amp; Design</a></h2>
									<div>
										<img alt="Photo" src="images/content/hub-more-info-photo.jpg" />
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur tincidunt risus, 
										vel scelerisque risus imperdiet at. Nam id dui vitae mauris consectetur consequat volutpat eget magna.</p>
										<p>Mauris scelerisque velit ac nisl ornare at pulvinar nisl porta. Praesent nunc erat, dapibus 
										lacinia feugiat sed, adipiscing sed dui. Donec lacus enim.</p>
										<p class="more">
											<a href="#" title="View Upper Body">View Upper Body</a>
											<a href="#" title="View Under Body">View Under Body</a>
										</p>
									</div>
								</li>
								<li>
									<h2><a href="#">Prototype Design &amp; Delivery</a></h2>
									<div>
										<img alt="Photo" src="images/content/hub-more-info-photo.jpg" />
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur tincidunt risus, 
										vel scelerisque risus imperdiet at. Nam id dui vitae mauris consectetur consequat volutpat eget magna.</p>
										<p>Mauris scelerisque velit ac nisl ornare at pulvinar nisl porta. Praesent nunc erat, dapibus 
										lacinia feugiat sed, adipiscing sed dui. Donec lacus enim.</p>
										<p class="more">
											<a href="#" title="View Upper Body">View Upper Body</a>
											<a href="#" title="View Under Body">View Under Body</a>
										</p>
									</div>
								</li>
							</ul>
						</div>
					</section>
					
					<!-- CTAs area Left -->
					<section class="links-container">
						<h3><a href="#" title="View Case Studies">Case Studies.</a></h3>
						<figure class="cta">
							<a href="#" title="View Limo Green Collaboration">
								<img alt="Limo Green Collaboration image" src="images/ctas/limo-green.jpg" />
								<figcaption><span>Limo Green Collaboration.</span></figcaption>
							</a>
						</figure>
						<figure class="cta">
							<a href="#" title="View MIRA Make It Innovative">
								<img alt="MIRA Make It Innovative image" src="images/ctas/MIRA-innovative.jpg" />
								<figcaption><span>MIRA Make It Innovative.</span></figcaption>
							</a>
						</figure>
						<figure class="cta last">
							<a href="#" title="View MIRA Make It Innovative">
								<img alt="MIRA Make It Innovative image" src="images/ctas/MIRA-innovative.jpg" />
								<figcaption><span>Safety Innovation for Supercar.</span></figcaption>
							</a>
						</figure>
					</section>
					
					<!-- Additional CTA links -->
					<section class="links-container vert-lists">
						<div class="links">
							<h3><a href="#" title="View Related Services">Related Services.</a></h3>
							<ul>
								<li><a href="#">Lorem Ipsum Dolor Sit Amet</a></li>
								<li><a href="#">Donec Vehicula Metus A Lorem Suscipit</a></li>
								<li class="last"><a href="#">Integer Fringilla Egestas</a></li>
							</ul>
						</div>
						<div class="links last">
							<h3><a href="#" title="View Related Capabilities">Related Capabilities.</a></h3>
							<ul>
								<li><a href="#">Phasellus Laoreet Suscipit Viverra</a></li>
								<li><a href="#">Nullam &amp; Vehicula</a></li>
								<li><a href="#">Nullam Pulvinar Tincidunt Ipsum</a></li>
								<li><a href="#">Praesent Id Lorem Purus</a></li>
								<li><a href="#">Donec Nec Dui Lorem</a></li>
								<li class="last"><a href="#">Mauris & Quis</a></li>
							</ul>
						</div>
					</section>
				</div>
				<div id="rcol">
					<!-- Contextual child navigation -->
					<nav id="child-navigation">
						<h4><a href="#" title="View Product Engineering">Product Engineering.</a></h4>
						<ul>
							<li class="active"><a href="#">Full-Scale Aerodynamic Wind Tunnel</a></li>
							<li><a href="#">Climatic Wind Tunnel</a></li>
							<li><a href="#">Large-Vehicle Climatic Wind Tunnel</a></li>
							<li><a href="#">Fluids Systems Engineering Centre</a></li>
							<li><a href="#">HVAC &amp; Powertrain Cooling Rigs</a></li>
							<li class="last"><a href="#">Computational Fluid Dynamics Simulation Systems</a></li>
						</ul>
					</nav>
				
					<!-- Contact / action options -->
					<section id="contact-options">
						<h4>Contact Us.</h4>
						<ul>
							<li class="phone">UK <strong>+44 (0)24 7635 5045</strong></li>
							<li class="phone">China <strong>+86 (0)21 51572236 </strong></li>
							<li class="phone"><strong>+44 (0)24 7635 5045</strong></li>
							<li class="download"><a href="#"><strong>Download</strong> Automotive Engineering Brochure</a></li>
							<li class="download multiple-lines">
								<strong>Download</strong>
								<ul>
									<li><a href="#">Full-Scale Aerodynamic Wind Tunnel Factsheet</a></li>
									<li><a href="#">Automotive Brochure</a></li>
									<li class="last"><a href="#">Aerodynamics Factsheet</a></li>
								</ul>
							</li>
							<li class="email"><a href="#"><strong>Enquiries</strong></a></li>
						</ul>
					</section>
					
					<!-- CTAs area Right -->
					<section class="links-container slim">
						<figure class="cta">
							<a href="#" title="View Limo Green Collaboration">
								<img alt="Limo Green Collaboration image" src="images/ctas/limo-green.jpg" />
								<figcaption><span>Limo Green Collaboration.</span></figcaption>
							</a>
						</figure>
						<figure class="cta-expanded last">
							<a href="#" title="View MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicle">
								<span>
									<img alt="MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicle image" src="images/news-events/1.jpg" />
									<time datetime="October 18, 2010">18 <small>Oct</small></time>
								</span>
								<figcaption>
									<strong>MIRA Injects ‘Electric Dynamic Control’ Into Hybrid Electric Vehicle.</strong>
									The beauty of MIRA's consultancy services is that they can be employed when you need them...
								</figcaption>
							</a>
						</figure>
					</section>
				</div>
			</div>
	
			<!-- Mailing list signup -->
			<section id="mailing-list">
				<form class="inline" id="mailing-list-signup" action="#" method="POST">
					<fieldset>
						<label for="mailing-list-email">Join our mailing list</label>
						<input class="text-field" id="mailing-list-email" name="mailing-list-email" placeholder="Enter your email address" type="text" />
						<input class="button" id="mailing-list-submit" name="mailing-list-submit" title="Click to signup to our mailing list" type="submit" value="Sign up" />
					</fieldset>
				</form>
			</section>
	
			<!-- Site footer -->
			<footer id="site-footer">
				<!-- Sitemap links -->
				<nav id="mini-sitemap">
					<ul>
						<li class="first"><h6><a href="#" title="View Services">Services.</a></h6></li>
						<li><a href="#" title="View Automotive">Automotive</a></li>
						<li><a href="#" title="View Defence">Defence</a></li>
						<li><a href="#" title="View Unmanned Ground Vehicles">Unmanned Ground Vehicles</a></li>
						<li><a href="#" title="View Low Carbon">Low Carbon</a></li>
						<li><a href="#" title="View Intelligent Transport Systems">Intelligent Transport Systems</a></li>
						<li><a href="#" title="View Proving Ground &amp; Events">Proving Ground &amp; Events</a></li>
						<li><a href="#" title="View Test Engineering &amp; Certification">Test Engineering &amp; Certification</a></li>
						<li><a href="#" title="View Rail">Rail</a></li>
						<li><a href="#" title="View Aerospace">Aerospace</a></li>
						<li class="last"><a href="#" title="View Research">Research</a></li>
					</ul>
					<ul>
						<li class="first"><h6><a href="#" title="View Facilities">Facilities.</a></h6></li>
						<li><a href="#" title="View Aerodynamics &amp; Thermal Management">Aerodynamics &amp; Thermal Management</a></li>
						<li><a href="#" title="View Durability, Fatigue & Functional Performance">Durability, Fatigue & Functional Performance</a></li>
						<li><a href="#" title="View Electrical &amp; EMC">Electrical &amp; EMC</a></li>
						<li><a href="#" title="View Environmental">Environmental</a></li>
						<li><a href="#" title="View Materials">Materials</a></li>
						<li><a href="#" title="View Noise, Vibration and Harshness">Noise, Vibration and Harshness</a></li>
						<li><a href="#" title="View Powertrain &amp; Emissions">Powertrain &amp; Emissions</a></li>
						<li><a href="#" title="View Proving Ground">Proving Ground</a></li>
						<li><a href="#" title="View Ride &amp; Handling">Ride &amp; Handling</a></li>
						<li><a href="#" title="View Safety &amp; Structural">Safety &amp; Structural</a></li>
						<li class="last"><a href="#" title="View Workshops &amp; Support Facilities">Workshops &amp; Support Facilities</a></li>
					</ul>
					<ul>
						<li class="first"><h6><a href="#" title="View More">More.</a></h6></li>
						<li><a href="#" title="View Technology Park">Technology Park</a></li>
						<li><a href="#" title="View About MIRA">About MIRA</a></li>
						<li><a href="#" title="View News &amp; Events">News &amp; Events</a></li>
						<li><a href="#" title="View Research">Research</a></li>
						<li><a href="#" title="View Careers">Careers</a></li>
						<li><a href="#" title="View Contact Us">Contact Us</a></li>
						<li><a href="#" title="View Privacy Policy">Privacy Policy</a></li>
						<li class="last"><a href="#" title="View Terms &amp; Conditions">Terms &amp; Conditions</a></li>
					</ul>
				</nav>
				<!-- Site copyright -->
				<p id="copyright">Copyright MIRA Ltd. 2010. Registered in England No. 402570.<br />
				Registered Office: Watling Street, Nuneaton, Warwickshire, UK. CV10 0TU.</p>
			</footer>
		</div>
	</div>

	<!-- CDN jQuery w/fallback -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<script src="js/ie6.js"></script>
	<![endif]-->
	
	<!-- GA async -->
	<script>
		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>