<!doctype html>  
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>MIRA - Location page</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/style.css" media="screen"> 
  <link rel="stylesheet" href="css/handheld.css" media="handheld">
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>
<body class="content location">
	<div id="container">
		<!-- Site header -->
		<header id="site-header">		
			<!-- Quick links -->
			<nav id="quick-links">
				<div id="country-selector">
					<a class="flag uk" href="#" title="Click to change country. Current country: United Kingdom">United Kingdom</a>
					<ul>
						<li><a class="flag uk" href="#">United Kingdom</a></li>
						<li><a class="flag cn" href="#">China</a></li>
						<li><a class="flag in" href="#">India</a></li>
					</ul>
				</div>
				<ul>
					<li><a href="#" title="View Latest News &amp; Events">News &amp; Events</a> //</li>
					<li><a href="#" title="View MIRA Facilities">Facilities</a> //</li>
					<li><a href="#" title="View Careers at MIRA">Careers</a> //</li>
					<li><a href="#" title="View MIRA Press Centre">Press Centre</a></li>
				</ul>
			</nav>
		
			<section id="header-content">				
				<!-- Search form -->
				<form class="inline" id="site-search" action="#" method="POST">
					<fieldset>
						<label for="site-search-query">Search the site</label>
						<input class="text-field" id="site-search-query" name="site-search-query" placeholder="Enter your search query" type="text" />
						<input class="button" id="site-search-submit" name="site-search-submit" title="Click to submit your search query" type="submit" value="Search" />
					</fieldset>
				</form>
				
				<!-- Logo/home link -->
				<a class="ir" href="index.html" id="logo" title="Visit the MIRA homepage">MIRA - Smarter Thinking</a>
				
				<!-- Main site navigation -->
				<nav id="navigation">
					<ul>
						<li class="rolldown-trigger"><a href="#" title="View Our Services">Our Services</a></li>
						<li><a href="#" title="View the Technology Park">Technology Park</a> //</li>
						<li><a href="#" title="View information about MIRA">About MIRA</a> //</li>
						<li><a href="#" title="Contact MIRA">Contact</a></li>
					</ul>
				</nav>
			</section>
			<!-- Rolldown navigation -->
			<section id="rolldown">
				<nav id="rolldown-navigation">
					<ul>
						<li>
							<a href="#" title="View Automotive Upper Body"><img alt="Automotive Upper Body image" src="images/navigation/automotive.jpg" />
							<a class="link" href="#" title="View Automotive Upper Body">Automotive Upper Body</a>
						</li>
						<li>
							<a href="#" title="View Defence"><img alt="Defence image" src="images/navigation/defence.jpg" />
							<a class="link" href="#" title="View Defence">Defence</a>
						</li>
						<li>
							<a href="#" title="View Unmanned Ground Vehicles"><img alt="Unmanned Ground Vehicles image" src="images/navigation/unmanned-ground-vehicles.jpg" />
							<a class="link" href="#" title="View Unmanned Ground Vehicles">Unmanned Ground Vehicles</a>
						</li>
						<li class="end">
							<a href="#" title="View Low Carbon"><img alt="Low Carbon image" src="images/navigation/low-carbon.jpg" />
							<a class="link" href="#" title="View Low Carbon">Low Carbon</a>
						</li>
						<li>
							<a href="#" title="View Intelligent Transport Systems"><img alt="Intelligent Transport Systems image" src="images/navigation/intelligent-transport-systems.jpg" />
							<a class="link" href="#" title="View Intelligent Transport Systems">Intelligent Transport Systems</a>
						</li>
						<li>
							<a href="#" title="View Proving Ground &amp; Events"><img alt="Proving Ground &amp; Events image" src="images/navigation/proving-ground-events.jpg" />
							<a class="link" href="#" title="View Proving Ground &amp; Events">Proving Ground &amp; Events</a>
						</li>
						<li>
							<a href="#" title="View Test Engineering &amp; Certification"><img alt="Test Engineering &amp; Certification image" src="images/navigation/test-engineering-certification.jpg" />
							<a class="link" href="#" title="View Test Engineering &amp; Certification">Test Engineering &amp; Certification</a>
						</li>
						<li class="end">
							<a href="#" title="View Rail"><img alt="Rail image" src="images/navigation/rail.jpg" />
							<a class="link" href="#" title="View Rail">Rail</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Aerospace"><img alt="Aerospace image" src="images/navigation/aerospace.jpg" />
							<a class="link" href="#" title="View Aerospace">Aerospace</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Motorsport"><img alt="Motorsport image" src="images/navigation/motorsport.jpg" />
							<a class="link" href="#" title="View Motorsport">Motorsport</a>
						</li>
						<li class="bottom">
							<a href="#" title="View Research"><img alt="Research image" src="images/navigation/research.jpg" />
							<a class="link" href="#" title="View Research">Research</a>
						</li>
					</ul>
				</nav>
			</section>
		</header>
		
		<div id="post-header-container">
			<!-- Hero -->
			<section id="hero">
				<figure id="slide-one" class="slide first">
					<div class="slide-inner" title="View more MIRA in the UK - Nuneaton">
						<figcaption class="strap">
							<strong>UK - Nuneaton.</strong>
							<nav id="breadcrumb">
								<ul>
									<li><a href="#" title="Go to MIRA Homepage">Home</a> //</li>
									<li><a href="#" title="Go to Contact MIRA page">Contact Us</a> //</li>
									<li><b>UK - Nuneaton</b></li>
								</ul>
							</nav>
						</figcaption>
					</div>
				</figure>
			</section>
	
			<!-- Main content area -->
			<div id="main-content-container">
				<h1 class="standalone" title="MIRA - UK - Nuneaton">UK - Nuneaton.</h1>
				<div class="slim" id="lcol">
					<!-- Contact / action options -->
					<section class="light" id="contact-options">
						<h4>Details.</h4>
						<ul>
							<li class="address multiple-lines"><strong>Address</strong>
							MIRA Ltd<br />
							Watling Street<br />
							Nuneaton<br />
							Warwickshire<br />
							CV10 0TU</li>
							<li class="phone"><strong>+44 (0)24 7635 5045</strong></li>
							<li class="download multiple-lines">
								<strong>Download</strong>
								<ul>
									<li><a href="#">A Factsheet</a></li>
									<li><a href="#">Some Brochure</a></li>
									<li class="last"><a href="#">A Case Study</a></li>
								</ul>
							</li>
							<li class="email"><a href="#"><strong>Enquiries</strong></a></li>
						</ul>
					</section>
				</div>
				<div id="mcol">
					<section id="content">
						<section class="tabs" id="photo-map">
							<div class="tab" id="tab-1">
								<img alt="UK - Nuneaton Photo" src="images/content/location-nuneaton.jpg" />
							</div>
							<div class="tab" id="tab-2">
								<p>Leaving this up to Jim to do properly using Kentico etc.</p>
							</div>
							<nav class="tab-links">
								<ul>
									<li><a href="#tab-1">Photo.</a></li>
									<li><a href="#tab-2">Map.</a></li>
								</ul>
							</nav>
						</section>
						<p class="leader">We’re an innovative company focused on creating the future of advanced vehicle and systems technology.
						Our customer focused, fully integrated approach and industry experience, together with our facilities, 
						gives us the pioneering edge to deliver ground breaking, whole market solutions.</p>
					</section>
					<section class="map-links">
						<h3>Nearby Facilities.</h3>
						<div class="links">
							<h4>Hotels.</h4>
							<ol>
								<li>
									<b>1</b>
									<p><a href="#">The Chase Hotel</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li>
									<b>2</b>
									<p><a href="#">Hill House</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li>
									<b>3</b>
									<p><a href="#">Vale Farm</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li class="last">
									<b>4</b>
									<p><a href="#">Chapel House</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
							</ol>
						</div>
						<div class="links">
							<h4>Places to Eat.</h4>
							<ol>
								<li>
									<b>5</b>
									<p><a href="#">The Chase Hotel</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li>
									<b>6</b>
									<p><a href="#">Hill House</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li>
									<b>7</b>
									<p><a href="#">Vale Farm</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li class="last">
									<b>8</b>
									<p><a href="#">Chapel House</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
							</ol>
						</div>
						<div class="links last">
							<h4>Other Facilities.</h4>
							<ol>
								<li>
									<b>9</b>
									<p><a href="#">The Chase Hotel</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li>
									<b>10</b>
									<p><a href="#">The Chase Hotel</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
								<li class="last">
									<b>11</b>
									<p><a href="#">Chapel House</a> 02476 3341013</p>
									<p class="more"><a href="#">View on map</a></p>
								</li>
							</ol>
						</div>
					</section>
				</div>
				<div class="slim" id="rcol">
					<!-- Contextual child navigation -->
					<nav class="open" id="child-navigation">
						<h4><a href="#" title="View Region - Europe">Europe.</a></h4>
						<ul>
							<li class="active"><a href="#">UK - Nuneaton</a></li>
							<li><a href="#">UK - Basildon</a></li>
							<li><a href="#">Scandinavia</a></li>
							<li><a href="#">Turkey</a></li>
							<li><a href="#">France &amp; Benelux</a></li>
							<li><a href="#">Italy</a></li>
							<li class="last"><a href="#">Germany</a></li>
						</ul>
						<h4><a href="#" title="View Region - Rest of World">Rest of World.</a></h4>
						<ul>
							<li><a href="#">China</a></li>
							<li><a href="#">Korea</a></li>
							<li><a href="#">India</a></li>
							<li><a href="#">Malaysia</a></li>
							<li class="last"><a href="#">Taiwan</a></li>
						</ul>
					</nav>
				</div>
			</div>
	
			<!-- Mailing list signup -->
			<section id="mailing-list">
				<form class="inline" id="mailing-list-signup" action="#" method="POST">
					<fieldset>
						<label for="mailing-list-email">Join our mailing list</label>
						<input class="text-field" id="mailing-list-email" name="mailing-list-email" placeholder="Enter your email address" type="text" />
						<input class="button" id="mailing-list-submit" name="mailing-list-submit" title="Click to signup to our mailing list" type="submit" value="Sign up" />
					</fieldset>
				</form>
			</section>
	
			<!-- Site footer -->
			<footer id="site-footer">
				<!-- Sitemap links -->
				<nav id="mini-sitemap">
					<ul>
						<li class="first"><h6><a href="#" title="View Services">Services.</a></h6></li>
						<li><a href="#" title="View Automotive">Automotive</a></li>
						<li><a href="#" title="View Defence">Defence</a></li>
						<li><a href="#" title="View Unmanned Ground Vehicles">Unmanned Ground Vehicles</a></li>
						<li><a href="#" title="View Low Carbon">Low Carbon</a></li>
						<li><a href="#" title="View Intelligent Transport Systems">Intelligent Transport Systems</a></li>
						<li><a href="#" title="View Proving Ground &amp; Events">Proving Ground &amp; Events</a></li>
						<li><a href="#" title="View Test Engineering &amp; Certification">Test Engineering &amp; Certification</a></li>
						<li><a href="#" title="View Rail">Rail</a></li>
						<li><a href="#" title="View Aerospace">Aerospace</a></li>
						<li class="last"><a href="#" title="View Research">Research</a></li>
					</ul>
					<ul>
						<li class="first"><h6><a href="#" title="View Facilities">Facilities.</a></h6></li>
						<li><a href="#" title="View Aerodynamics &amp; Thermal Management">Aerodynamics &amp; Thermal Management</a></li>
						<li><a href="#" title="View Durability, Fatigue & Functional Performance">Durability, Fatigue & Functional Performance</a></li>
						<li><a href="#" title="View Electrical &amp; EMC">Electrical &amp; EMC</a></li>
						<li><a href="#" title="View Environmental">Environmental</a></li>
						<li><a href="#" title="View Materials">Materials</a></li>
						<li><a href="#" title="View Noise, Vibration and Harshness">Noise, Vibration and Harshness</a></li>
						<li><a href="#" title="View Powertrain &amp; Emissions">Powertrain &amp; Emissions</a></li>
						<li><a href="#" title="View Proving Ground">Proving Ground</a></li>
						<li><a href="#" title="View Ride &amp; Handling">Ride &amp; Handling</a></li>
						<li><a href="#" title="View Safety &amp; Structural">Safety &amp; Structural</a></li>
						<li class="last"><a href="#" title="View Workshops &amp; Support Facilities">Workshops &amp; Support Facilities</a></li>
					</ul>
					<ul>
						<li class="first"><h6><a href="#" title="View More">More.</a></h6></li>
						<li><a href="#" title="View Technology Park">Technology Park</a></li>
						<li><a href="#" title="View About MIRA">About MIRA</a></li>
						<li><a href="#" title="View News &amp; Events">News &amp; Events</a></li>
						<li><a href="#" title="View Research">Research</a></li>
						<li><a href="#" title="View Careers">Careers</a></li>
						<li><a href="#" title="View Contact Us">Contact Us</a></li>
						<li><a href="#" title="View Privacy Policy">Privacy Policy</a></li>
						<li class="last"><a href="#" title="View Terms &amp; Conditions">Terms &amp; Conditions</a></li>
					</ul>
				</nav>
				<!-- Site copyright -->
				<p id="copyright">Copyright MIRA Ltd. 2010. Registered in England No. 402570.<br />
				Registered Office: Watling Street, Nuneaton, Warwickshire, UK. CV10 0TU.</p>
			</footer>
		</div>
	</div>

	<!-- CDN jQuery w/fallback -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	
	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
		<script src="js/ie6.js"></script>
	<![endif]-->
	
	<!-- GA async -->
	<script>
		var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
		(function(d, t) {
			var g = d.createElement(t),
			s = d.getElementsByTagName(t)[0];
			g.async = true;
			g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
</body>
</html>